@using EC.Models;
@using EC.Models.Database;
@using EC.Model.Impl;
@using EC.App_LocalResources;
@{

    <link rel="stylesheet" href="~/Content/EmployeeAwareness.css" />

    ViewBag.Title = GlobalRes.EmployeeAwarenessUp;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    var um = (UserModel)ViewBag.um;
    var user_id = ViewBag.user_id;
    int company_id = um._user.company_id;

    List<PosterItem> allPosters = ViewBag.all_posters;
}


<div id="EmployeeAwarenessBlock" class="blockSettings" ng-controller="EmployeeAwarenessController" ng-cloak>
    <div class="mainContent">
        <div class="leftContent">
            <div class="blockMenu posterCategoryNames">
                <div class="title">@GlobalRes.Industry</div>
                <div ng-repeat="category in categories">
                    <div class="itemSelect" ng-class="{'active' : category.Selected}" ng-click="category.Selected = !category.Selected" value="{{category.Id}}">{{categoryName(category)}}</div>
                </div>
            </div>
            <div class="blockMenu posterMessage" ng-show="false">
                <div class="title">@GlobalRes.Message</div>
                <div ng-repeat="message in messages">
                    <div class="itemSelect" ng-class="{'active' : message.Selected}" ng-click="message.Selected = !message.Selected" value="{{message.Id}}">{{messageName(message)}}</div>
                </div>
            </div>
            <div class="blockMenu">
                <div class="title">@GlobalRes.AvailableFormat</div>
                <div ng-repeat="avaibleFormat in avaibleFormats">
                    <div class="itemSelect" ng-class="{'active' : avaibleFormat.Selected}" ng-click="avaibleFormat.Selected = !avaibleFormat.Selected" value="{{avaibleFormat.Id}}">{{avaibleFormat.Name}}</div>
                </div>
            </div>
            <div class="blockMenu">
                <div ng-repeat="language in languages">
                    <div class="title">{{language.Name}}</div>
                    <div class="itemSelect" ng-class="{'active' : language.Selected}" ng-click="language.Selected = !language.Selected" value="{{language.Id}}">{{language.Name}}</div>
                </div>
            </div>
        </div>
        <div class="rightContent">
            <div class="topBlockFilters">
                <div class="info">
                    @GlobalRes.EmployeeAwarenessMaterials
                </div>
                <div ng-repeat="category in categories" class="itemFilter" ng-show="category.Selected" value="{{category.Id}}">{{categoryName(category)}}<div class="imgClose" ng-click="category.Selected = false"></div></div>
                <div ng-repeat="message in messages" class="itemFilter" ng-show="message.Selected" value="{{message.Id}}">{{messageName(message)}}<div class="imgClose" ng-click="message.Selected = false"></div></div>
                <div ng-repeat="avaibleFormat in avaibleFormats" class="itemFilter" ng-show="avaibleFormat.Selected" value="{{avaibleFormat.Id}}">{{avaibleFormat.Name}}<div class="imgClose" ng-click="avaibleFormat.Selected = false"></div></div>
                <div ng-repeat="language in languages" class="itemFilter" ng-show="language.Selected" value="{{language.Id}}">{{language.Name}}<div class="imgClose" ng-click="language.Selected = false"></div></div>
                <div class="calcItems"><span>{{selectedItemsCount()}}</span>@String.Format(GlobalRes.Itemss, "")</div>
            </div>

            <div class="rezoultItems">

                <div ng-repeat="poster in posters" class="blockInformation" ng-style="poster.IsVisible == true ? {'display': 'block' } : {'display' : 'none' }">
                    <a ng-href="/employeeawareness/poster/{{poster.poster.id}}" style="text-decoration: none">
                        <div class="filtersBlock {{poster.poster.imageName}}" style="background-image: url('/Upload/EAPdf/{{poster.poster.id}}/1.png')">
                            <div ng-repeat="category in poster.posterCategoryNames" class="filter" ng-class="{{'c' + category.id}}" value="{{category.id}}">{{categoryName(category.industry_posters_id)}}</div>
                        </div>
                        <div class="greenBlock {{poster.poster.message.id}}">{{messageName(poster.message)}}</div>
                        <div class="bottomInfo">
                            <div class="infoItem">{{poster.poster.poster_name}}</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /*$(document).ready(function () {
        function blocksHeight() {
            var maxHeightBlock = Math.max.apply(Math, $(".blockInformation").map(function () {
                return $(this).height()
            }).get()); $(".blockInformation").height(maxHeightBlock);
        }

        function selectblockMenu() {
            $('.blockMenu .itemSelect').click(function () {
                var self = $(this);
                if (self.hasClass('active')) {
                    self.removeClass('active');
                }
                else {
                    self.addClass('active');
                }
            });
        }
        blocksHeight();
        function findActiveFilter(selector,value, action) {
            $(selector).each(function (indx, element) {
                if (element.textContent.trim().toLowerCase() === value) {
                    if (action == "remove") {
                        $(element).remove();
                        updateCalcItems();
                    } else if (action == "hideActive") {
                        $(element).removeClass("active");
                    }
                }
            });

        }

        $('.topBlockFilters').delegate('.imgClose', 'click', function (event) {
            let currentItem = $(event.currentTarget);
            findActiveFilter(".itemSelect.active", currentItem.text().trim().toLowerCase(), "hideActive");
            currentItem.parent().remove();
        });

        $(".itemSelect").on('click', function (event) {
            let arraySeletedValues = [];
            let itemSelected = $(event.currentTarget);
            if(itemSelected.hasClass('active')) {
                itemSelected.removeClass('active');
                itemSelected = itemSelected.text().trim().toLowerCase();
                findActiveFilter(".itemFilter", itemSelected, "remove");
                delPosterValues(itemSelected);
            } else {
                itemSelected.addClass('active');
                arraySeletedValues.push(itemSelected.text().trim().toLowerCase());
                let html = '<div class="itemFilter" value="' + itemSelected.attr('value') + '">' + itemSelected.text() + ' <div class="imgClose"></div></div>';
                $(".topBlockFilters").append(html);
                updateCalcItems();
            }
            if (arraySeletedValues.length > 0) {
                setPosterValues(arraySeletedValues);
            }
        });

        function delPosterValues(textSelected) {
            $(".filter").each(function (indx, element) {
                let el = $(element);
                if (el.text().trim().toLowerCase() === textSelected.trim().toLowerCase()) {
                    el.removeClass('checked');
                    checkParentsForDisplay(el);
                }
            });
        }
        function checkParentsForDisplay(el) {
            let parents = el.parents(".blockInformation");
            if (parents.find('.checked').length == parents.find('.filter').length) {
                parents.show();
                setPosterLink(parents);
            } else {
                parents.hide();
            }
        }

        function setPosterLink(parents) {
            if (parents != null) {
                parents.on('click', function (event) {
                    var temp = $(event.currentTarget);
                    window.location.href = temp.attr('href');
                });
            }

        }
        function setPosterValues(arrayValues) {
            $(".filter").each(function (indx, element) {
                let temp = $(element).text().trim().toLowerCase();
                if (arrayValues.indexOf(temp) >= 0) {
                    let el = $(element);
                    el.addClass('checked');
                    checkParentsForDisplay(el);
                }
            });
        }
        function updateCalcItems() {
            $(".calcItems").text($(".topBlockFilters .itemFilter").length + " items");
        }
        $(".topBlockFilters .itemFilter").on('change', function () {
        });
        updateCalcItems();
    });*/
</script>
