@using EC.Models;
@using EC.Models.Database;
@using EC.Model.Impl;
@using EC.App_LocalResources;
@{

    <link rel="stylesheet" href="~/Content/EmployeeAwareness.css" />

    ViewBag.Title = GlobalRes.EmployeeAwarenessUp;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    var um = (UserModel)ViewBag.um;
    var user_id = ViewBag.user_id;
    int company_id = um._user.company_id;

    List<PosterItem> allPosters = ViewBag.all_posters;
}


<div id="EmployeeAwarenessBlock" class="blockSettings">
    <div class="topHeader">Awareness materials</div>
    <div class="mainContent">
        <div class="leftContent">
            <div class="blockMenu posterCategoryNames">
                <div class="title">Industry</div>
                <div class="itemSelect" value="1">Aviation</div>
                <div class="itemSelect" value="2">E-commerce</div> <!--itemSelect active-->
                <div class="itemSelect" value="3">Hospital And Food</div>
                <div class="itemSelect" value="4">Manufacturing</div>
            </div>
            <div class="blockMenu posterMessage">
                <div class="title">Message</div>
                <div class="itemSelect" value="1">Company culture</div>
                <div class="itemSelect active" value="2">Customer support</div>
                <div class="itemSelect" value="3">Data security</div>
            </div>
            <div class="blockMenu">
                <div class="title">Available format</div>
                <div class="itemSelect" value="1">Poster</div>
                <div class="itemSelect active" value="2">Wallet-size card</div>
                <div class="itemSelect" value="3">Digital assets</div>
            </div>
            <div class="blockMenu">
                <div class="title">Language</div>
                <div class="itemSelect active">English</div>
            </div>
        </div>
        <div class="rightContent">
            <div class="topBlockFilters">
                <div class="info">Employee awareness materials</div>


                @*<div class="itemFilter">E-commerce <div class="imgClose"></div></div>
                <div class="itemFilter">E-commerce <div class="imgClose"></div></div>
                <div class="itemFilter">E-commerce <div class="imgClose"></div></div>
                <div class="itemFilter">E-commerce <div class="imgClose"></div></div>
                <div class="itemFilter">E-commerce <div class="imgClose"></div></div>
                <div class="itemFilter">E-commerce <div class="imgClose"></div></div>
                <div class="itemFilter">E-commerce <div class="imgClose"></div></div>
                <div class="itemFilter">E-commerce <div class="imgClose"></div></div>
                <div class="itemFilter">E-commerce <div class="imgClose"></div></div>*@


                <div class="calcItems">11 items</div>
            </div>

            <div class="rezoultItems">

                @foreach (PosterItem pi in allPosters)
                {
                    <div class="blockInformation" href="/poster/@pi.Id">
                        <div class="filtersBlock @pi.imageName">
                            @foreach (PosterCategory pc in pi.posterCategoryNames)
                            {   
                                <div class="filter @pc.Id">@pc.posterCategoryName</div>
                            }
                        </div>
                        <div class="greenBlock @pi.posterMessage.Id">@pi.posterMessage.posterMessageName</div>
                        <div class="bottomInfo">
                            <div class="infoItem">@pi.posterName</div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        function blocksHeight() {
            var maxHeightBlock = Math.max.apply(Math, $(".blockInformation").map(function () {
                return $(this).height()
            }).get()); $(".blockInformation").height(maxHeightBlock);
        }

        function selectblockMenu() {
            $('.blockMenu .itemSelect').click(function () {
                var self = $(this);
                if (self.hasClass('active')) {
                    self.removeClass('active');
                }
                else {
                    self.addClass('active');
                }
            });
        }
        
        blocksHeight();
        //selectblockMenu();
        function findActiveFilter(selector,value, action) {
            $(selector).each(function (indx, element) {
                if (element.getAttribute('value') === value) {
                    if (action == "remove") {
                        $(element).remove();
                    } else if (action == "hideActive") {
                        $(element).removeClass("active");
                    }
                }
            });

        }
        
        $('.topBlockFilters').delegate('.imgClose', 'click', function (event) {
            let currentItem = $(event.currentTarget);
           // let value = currentItem.parent().attr('value');
            findActiveFilter(".itemSelect.active", currentItem.parent().attr('value'), "hideActive")
            currentItem.parent().remove();
        });

        $(".itemSelect").on('click', function (event) {
            let itemSelected = $(event.currentTarget);
            if(itemSelected.hasClass('active')) {
                itemSelected.removeClass('active');
                findActiveFilter(".itemFilter", itemSelected.attr('value'), "remove");
            } else {
                itemSelected.addClass('active');
                let html = '<div class="itemFilter" value="' + itemSelected.attr('value') + '">' + itemSelected.text() + ' <div class="imgClose"></div></div>';
                $(".topBlockFilters").append(html);
            }
            

        });
    });
</script>
