@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@{

    <link rel="stylesheet" href="~/Content/EmployeeAwareness.css" />

    ViewBag.Title = GlobalRes.EmployeeAwarenessUp;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    var um = (UserModel)ViewBag.um;
    var user_id = ViewBag.user_id;
    int company_id = um._user.company_id;
    
}


<div id="EmployeeAwarenessBlock" class="blockSettings" ng-controller="EmployeeAwarenessPosterController" ng-cloak>
    <div class="topHeader">@GlobalRes.AwarenessMaterials</div>
    <div class="mainContent">
        <a id="downloadA" href="" download></a>
        <div class="rightContent">
            <div class="topBlockFilters">
                <a href="@Url.Action("Index", "employeeawareness")" class="toBack">
                    @GlobalRes.BackToResults
                </a>
                <span class="textShot">@GlobalRes.EmployeeAwarenessMaterials</span>
            </div>

            <div class="rezoultItems">

                <div class="mainImg">
                    <img ng-src="{{mainImage}}" />
                </div>
                <div class="rightInfoSelect">
                    <div class="downloadPdf" ng-click="Process()">@string.Format(GlobalRes.DownloadPosterPDF, GlobalRes.format_1)</div>
                    <div class="availableFormat">
                        <div class="titleFormat">@GlobalRes.AvailableFormat: </div>
                        <div class="blockFormat">
                            <div class="titleBlockFormat active">@GlobalRes.Poster</div>
                            <div class="itemsFormat">
                                <div class="itemFormat active" ng-click="SelectedSize = 1620">
                                    <div class="format format1"></div>
                                    <div class="size">16" X 20"</div>
                                </div>
                                <div class="itemFormat" ng-click="SelectedSize = 1824">
                                    <div class="format format2"></div>
                                    <div class="size">18" X 24"</div>
                                </div>
                                <div class="itemFormat" ng-click="SelectedSize = 2228">
                                    <div class="format format3"></div>
                                    <div class="size">22" X 28"</div>
                                </div>
                                <div class="itemFormat" ng-click="SelectedSize = 2436">
                                    <div class="format format3"></div>
                                    <div class="size">24" X 36"</div>
                                </div>
                                <div class="itemFormat" ng-click="SelectedSize = 3648">
                                    <div class="format format3"></div>
                                    <div class="size">36" X 48"</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="titleFormat">@GlobalRes.Options: </div>
                    <div class="blockFormat blockOption">
                        <div class="itemFormat active" ng-click="SelectedLogo = 1">
                            <div class="format noLogo"></div>
                            <div class="size">@GlobalRes.Nologo</div>
                        </div>
                        @*
                        <div class="itemFormat" ng-click="SelectedLogo = 2">
                            <div class="format useCurrentLogo"></div>
                            <div class="size">@GlobalRes.Usecurrentlogo</div>
                        </div>
                        *@
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>