@using EC.Utils
@using EC.Models
@using EC.Localization;
@{
  bool? is_cc = ViewBag.is_cc;
  if (!is_cc.HasValue)
  {
    is_cc = false;
  }
  ViewBag.Title = "Report";
  Layout = "~/Views/Shared/_Layout.cshtml";
}




<body style="background-color: #666666;">

    <div id="leftBar">
        <div class="acme">
            <p style='color: black; padding: 5.1em 0; text-align: center;'>ACME Inc</p>
        </div>
        

        <div id="caseSubmitted">
            <!--5 window begins-->

            <div class="header">
                <p>@LocalizationGetter.GetString("CaseSubmitted", is_cc)</p>
            </div>
            <h2>@LocalizationGetter.GetString("Case", is_cc) @ViewBag.CaseNumber @LocalizationGetter.GetString("wasSubmittedSuccessfully", is_cc)</h2>
            <p>@LocalizationGetter.GetString("caseWorking", is_cc)</p>

            <p>@LocalizationGetter.GetString("detailsCase", is_cc)</p>
            <!--<p class="checkCaseNumber">@LocalizationGetter.GetString("CheckCaseNumber", is_cc)</p>-->
            <table class="caseProgress">
                <tr>
                    <td>@LocalizationGetter.GetString("CaseNumber", is_cc)</td>
                    <td><input type="text" disabled value="@ViewBag.CaseNumber"></td>
                </tr>
                <tr>
                    <td>@LocalizationGetter.GetString("Login", is_cc)</td>
                    <td><input type="text" name="login" class="validate" data-validate="login" disabled value="@ViewBag.CaseNumber"></td>
                </tr>
                <tr>
                    <td>@LocalizationGetter.GetString("Password", is_cc)</td>
                    <td><input type="text" name="password" class="validate" data-validate="password" disabled value="@ViewBag.CaseNumber"></td>
                    <td>
                        <div>Change</div>
                    </td>
                </tr>
            </table>
            @if (ViewBag.Email != null && ViewBag.Email.Length != 0)
            {
                <p>@LocalizationGetter.GetString("CaseUpdates", is_cc)</p>
                <p>@ViewBag.Email</p>
            }


        </div>
    </div>

    <div id="rightBar">
        <div id="map">
            <!--list 1 2 3 4-->

            <p>@LocalizationGetter.GetString("NewIncidentReport", is_cc)</p>

            <div class="tabOption gInfo">
                <div class="circle passiveCircle">
                    <span class="include">1</span>
                </div>

                <p>@LocalizationGetter.GetString("GeneralInformation", is_cc)</p>
            </div>
            <div class="tabOption pInvolved">
                <div class="circle passiveCircle">
                    <span class="include">2</span>
                </div>
                <p>@LocalizationGetter.GetString("PartiesInvolved", is_cc)</p>
            </div>
            <div class="tabOption cInformation">
                <div class="circle passiveCircle">
                    <span class="include">3</span>
                </div>
                <p>@LocalizationGetter.GetString("CaseInformation", is_cc)</p>
            </div>
            <div class="tabOption cSummary">
                <div class="circle passiveCircle">
                    <span class="include">4</span>
                </div>
                <p>@LocalizationGetter.GetString("CaseSummary", is_cc)</p>
            </div>
            <div class="tabOption cLogin active">
                <div class="circle passiveCircle">
                    <span class="include">5</span>
                </div>
                <p>Login Information</p>
            </div>
        </div>
    </div>
</body> 

