@model EC.Controllers.ServiceController.LoginViewModel
@using LocalizationGetter = EC.Localization.LocalizationGetter;
@{
    ViewBag.Title = "Employee Confidential";
    Layout = "~/Views/Shared/_LayoutECCOM.cshtml";
    bool showDDLanguages = true;
    bool is_cc = false;
}

<style>
    .errorLogin.loginForm__input:last-child {
        border: 2px solid red;
    }
</style>

<div class="general-container login">

    @Html.Partial("Header", showDDLanguages)
    <main class="main">
        <section class="loginSection">
            <div class="loginSection__titleBg" style="background-color: #edf0f0">
                <div class="container loginTopSection__container">
                    <div class="loginSection__title">
                        @LocalizationGetter.GetString("CheckReportStatus", is_cc)
                    </div><!-- /.loginSection__title -->
                </div><!-- /.container -->
            </div><!-- /.loginSection__titleBg -->
            <div class="loginSection__contentBg">
                <div class="container loginSection__container">
                    <div class="loginContentBlock">
                        <p class="loginContentBlock__textP">
                            @LocalizationGetter.GetString("CheckStatusOfReport", is_cc)
                        </p><!-- /.loginContentBlock__textP -->
                        <p class="loginContentBlock__textP">
                            We suggest that you check on status of your report on a
                            regular basis. You can keep messaging with the Company
                            Case Administrators in a safe and confidential manner.
                        </p><!-- /.loginContentBlock__textP -->
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Report" class="loginContentBlock__link">
                            @LocalizationGetter.GetString("WantFileNewReport", is_cc)
                        </a>
                    </div><!-- /.loginContentBlock -->
                    @using (Html.BeginForm("CheckStatus", "Service", FormMethod.Post, new { }))
                    {
                        if (this.Request.HttpMethod == "POST")
                        {
                            <input style="opacity: 0;position: absolute;">
                            <input type="password" style="opacity: 0;position: absolute;">
                        }

                        <div class="loginForm">
                            <label class="loginForm__input">
                                @LocalizationGetter.GetString("Login", is_cc)
                                @Html.TextBoxFor(x => x.Login)
                            </label>
                            <label class="loginForm__input @(ViewData.ModelState.ContainsKey("PasswordError") ? "errorLogin" : "")">
                                @LocalizationGetter.GetString("Password", is_cc)
                                @Html.PasswordFor(x => x.Password, new { @class = ViewContext.ViewData.ModelState.ContainsKey("PasswordError") ? "error" : "" })
                            </label>
                        </div><!-- /.loginForm -->
                        <div class="loginFormLinks">
                            <a href="@Url.Action("ForgetPassword", "Service")" class="loginFormLinks__restoreLink">
                                Forgot your password?
                            </a>
                            <button type="submit" class="loginFormLinks__loginBtn btn" style="cursor: pointer;">
                                @LocalizationGetter.GetString("Login", is_cc)
                            </button>
                        </div><!-- /.loginFormLinks -->
                    }
                </div><!-- /.container -->
            </div><!-- /.loginSection__contentBg -->
        </section><!-- /.loginSection -->
    </main><!-- /.main -->
    <!-- ------------------  Footer ---------------- -->
    @Html.Partial("Footer")
    @*<footer class="footerBg">
            <div class="container">
                @Html.Partial("Footer")
            </div><!-- /.container -->
        </footer><!-- /.footer -->*@

</div><!-- /.general-container -->
@section scripts {
    <script src="~/Scripts/View/ServiceHeader.js"></script>
}