@model EC.Models.CompanyModel
@using LocalizationGetter = EC.Localization.LocalizationGetter;
@{
    ViewBag.Title = "Employee Confidential";
    Layout = "~/Views/Shared/_LayoutECCOM.cshtml";
    bool is_cc = false;
}

<style>
    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }
    .loginSection__logo {
        margin: 0;
        padding-top: 30px;
    }
    .loginTextFormLinks {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
    }
</style>

<div class="general-container login">

    @{Html.RenderPartial("Header"); }

    <main class="main">
        <section class="loginSection loginSection">
            <div class="loginSection__titleBg" style="background-color: #edf0f0">
                <div class="container loginTopSection__container">
                    <a href="#" class="loginSection__logo">
                        <img class="loginSection__logoImg" src="@Model.getLogoCompany(Model.ID)" alt="">
                    </a>
                    <div class="loginSection__title loginSection__titleWithLlogo">
                        @LocalizationGetter.GetString("FileAReport", is_cc)
                    </div><!-- /.loginSection__title -->
                </div><!-- /.container -->
            </div><!-- /.loginSection__titleBg -->
            <div class="loginSection__contentBg">
                <div class="container loginSection__container">
                    <div class="loginContentBlock">
                        <p class="loginContentBlock__textP">
                            @LocalizationGetter.GetString("PlatformMakesEasyReport", is_cc)
                        </p><!-- /.loginContentBlock__textP -->
                        <p class="loginContentBlock__textP">

                        </p><!-- /.loginContentBlock__textP -->
                    </div><!-- /.loginContentBlock -->
                    <div class="loginTextForm">
                        <label class="loginForm__inputCheckBox inputCheckbox">
                            @LocalizationGetter.GetString("ReadAndAgreeCompanyPolicies", is_cc)
                            <input class="inputCheckbox__input" type="checkbox" id="chkStart" />
                            <div class="inputCheckbox__indicator"></div>
                        </label>
                        <div class="loginTextFormLinks">
                            <a href="@Url.Action("New", "Report", new { companyCode = Model._company.company_code })" id="btnStart" class="btn loginTextFormLinks__startBtn m_t_20 not-active">
                                @LocalizationGetter.GetString("Start", is_cc)
                            </a>
                        </div><!-- /.loginTextFormLinks -->
                    </div><!-- /.loginTextForm -->

                </div><!-- /.loginSection__contentBg -->
        </section><!-- /.loginSection -->
    </main><!-- /.main -->
    <!-- ------------------  Footer ---------------- -->
    <footer class="footerBg footerBg">
        <div class="container">
            <div class="row">
                <div class="column">
                    <p class="title">@LocalizationGetter.GetString("MessageToEmployees", is_cc)</p>
                    <p>@Model.DisclamerPage().message_to_employees</p>
                </div>

                <div class="column">
                    <p class="title">@LocalizationGetter.GetString("CompanyConductGuidelines", is_cc)</p>
                    <p>@Model.DisclamerPage().message_about_guidelines</p>
                    <ul class="footerInfo__textList">
                        @foreach (var item in Model.DisclamerUploads())
                        {
                            <li class="footerInfo__textList-li">
                                <a href="@item.file_path" class="footerInfo__textList-a" download="@item.display_name">
                                    @item.display_name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @Html.Partial("Footer")
    </footer><!-- /.footer -->

</div><!-- /.general-container -->
@Html.Partial("~/Views/Shared/HelpPartial.cshtml", new ViewDataDictionary { { "is_reporter", true } })
<script>
    $(function () {
        $('#chkStart').on('change', function () {
            if ($('#chkStart').is(':checked')) {
                $('#btnStart').removeClass('not-active');
            } else {
                $('#btnStart').addClass('not-active');
            }
        });
    });
</script>
