@using LocalizationGetter = EC.Localization.LocalizationGetter;
@{
    bool is_cc = false;

    string mainHeaderLogo = "http://report.employeeconfidential.com/Content/img/logo.png";

    if (ViewBag.is_sso_domain != null && ViewBag.is_sso_domain == true)
    {
        if (ViewBag.clientLogo != null && ViewBag.clientLogo.Length > 0)
        {
            mainHeaderLogo = ViewBag.clientLogo;
        }
    }

}

<style>
    .responsiveLogo {
        float: left;
        height: 36px;
        width: 202px;
        background-repeat: no-repeat;
        background-position: left top;
        background-size: contain;
        background-image: url("@Url.Content(mainHeaderLogo)");
    }
</style>
<header class="header">
    @if (ViewBag.is_sso_domain)
    {
        <style>
            .top-header__loginBar-li:last-child {
                justify-self: end;
            }
        </style>
        <div style="height: 56px;padding-left: 10px;padding-top: 10px;">
            <div class="responsiveLogo"></div>
        </div>
        <div class="top-headerBg" style="height: 36px;">
            <div class="container">
                <div class="top-header">
                <div></div>
                    <div class="top-header__loginBar">
                        <nav class="top-header__loginBar-nav">

                            @foreach (EC.Models.ViewModels.LinksViewModel link in ViewBag.linksArray)
                            {
                                <li class="top-header__loginBar-li">
                                    <a href="@link.url" class="top-header__loginBar-a">
                                        @link.linkText
                                    </a>
                                </li><!-- /.top-header__loginBar-li -->
                            }

                        </nav><!-- /.top-header__loginBar-nav -->
                    </div><!-- /.top-header__loginBar -->
                </div><!-- /.top-header -->
            </div>
        </div><!--container-->
    }
    else
    {
        <style>
            .containerCustom {
                display: flex;
            }
        </style>

            <div class="top-headerBg">
                <div class="containerCustom" style="overflow: inherit">

                    <a href="http://employeeconfidential.com" class="top-header__backLink">
                        <img src="/Content/images/svg-icons/left.svg" alt="">
                        <span class="top-header__backLink-text">
                            EmployeeConfidential.com
                        </span>
                    </a>
                    <div class="t1">
                        <ul>
                            @if (ViewBag.showDDLanguages)
                            {
                                using (Html.BeginForm("ChangeCulture", "Service"))
                                {

                                    <li>
                                        <a id="languageMenuItem" href="#" class="top-header__loginBar-a">
                                            @ViewBag.fullNameLanguage
                                        </a>
                                        <input name="lang" id="selectedLanguage" type="hidden" value="@ViewBag.DEFAULT_LANGUAGE" />
                                        <table id="manuLanguages">
                                            <tr>
                                                <td value="en-US">English</td>
                                            </tr>
                                            <tr>
                                                <td value="es-ES">Español</td>
                                            </tr>
                                        </table>
                                        <input type="submit" name="submit" id="submitChangeLanguage" value="" />
                                        <input name="fullNameLanguage" id="fullNameLanguage" type="hidden" value="English" />
                                    </li>
                                }
                            }
                            @foreach (EC.Models.ViewModels.LinksViewModel link in ViewBag.linksArray)
                            {
                                <li class="top-header__loginBar-li">
                                    <a href="@link.url" class="top-header__loginBar-a">
                                        @link.linkText
                                    </a>
                                </li><!-- /.top-header__loginBar-li -->
                            }
                        </ul>
                    </div>
                </div><!--container-->
            </div>
    }

</header><!-- /.header -->