@model EC.Controllers.ServiceController.LoginViewModel

@{
    ViewBag.Title = "Employee Confidential";
    Layout = "~/Views/Shared/_LayoutECCOM.cshtml";
}

<style>
    body .bigBlock .blockLinesItem p {
        white-space: nowrap;
    }

    .errorLogin.loginForm__input:last-child {
        border: 2px solid red;
    }
</style>

<div class="general-container login">

    @{Html.RenderPartial("Header"); }

    <main class="main">
        <section class="loginSection">
            <div class="loginSection__titleBg">
                <div class="container loginTopSection__container">
                    <div class="loginSection__title">
                        Client Login
                    </div><!-- /.loginSection__title -->
                </div><!-- /.container -->
            </div><!-- /.loginSection__titleBg -->
            <div class="loginSection__contentBg">
                @using (Html.BeginForm("Login", "Service", new { returnUrl = Request.Params["returnUrl"] }, FormMethod.Post))
                {
                    if (this.Request.HttpMethod == "POST")
                    {
                        <input style="opacity: 0;position: absolute;">
                        <input type="password" style="opacity: 0;position: absolute;">
                    }
                    @Html.HiddenFor(x => x.HostUrl)

                    <div class="container loginSection__container">
                        <div class="loginForm">
                            <label class="loginForm__input">
                                Login
                                @Html.TextBoxFor(x => x.Login)
                            </label>
                            <label class="loginForm__input @(ViewData.ModelState.ContainsKey("PasswordError") ? "errorLogin" : "")">
                                Password
                                @Html.PasswordFor(x => x.Password, new { @class = ViewContext.ViewData.ModelState.ContainsKey("PasswordError") ? "error" : "" })
                            </label>
                        </div><!-- /.loginForm -->
                        <div class="loginFormLinks">
                            <a href="@Url.Action("ForgetPassword", "Service")" class="loginFormLinks__restoreLink">
                                Forgot your password?
                            </a>
                            <button type="submit" class="loginFormLinks__loginBtn btn" style="cursor: pointer;">
                                Login
                            </button>
                        </div><!-- /.loginFormLinks -->
                    </div><!-- /.container -->
                }
            </div><!-- /.loginSection__contentBg -->
        </section><!-- /.loginSection -->
    </main><!-- /.main -->
    <!-- ------------------  Footer ---------------- -->
    <footer class="footerBg">
        <div class="container">
            <div class="footer">
                <div></div>
                <div class="footer__copyright">
                    Copyright © 2019 Employee Confidential LLC. All Rights Reserved
                </div><!-- /.footer__copyright -->
                <div class="footer__navLinks">
                    <nav class="footer__navLinks-nav">
                        <li class="footer__navLinks-li">
                            <a href="http://employeeconfidential.com/PrivacyStatement.html" class="footer__navLinks-a">
                                Privacy Policy
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                        <li class="footer__navLinks-li">
                            <a href="http://employeeconfidential.com/TermsOfService.html" class="footer__navLinks-a">
                                Terms of Use
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                    </nav><!-- /.footer__navLinks-nav -->
                </div><!-- /.footer__navLinks -->
            </div><!-- /.footer -->
        </div><!-- /.container -->
    </footer><!-- /.footer -->

</div><!-- /.general-container -->
