@using LocalizationGetter = EC.Localization.LocalizationGetter;
@{
    ViewBag.Title = "Employee Confidential";
    Layout = "~/Views/Shared/_LayoutECCOM.cshtml";
    bool showDDLanguages = true;
    bool is_cc = false;
}
<input type="hidden" value="@Url.Action("SeekCompany", "Index")" id="SeekCompanyLocation" />
<div class="general-container login">
    @Html.Partial("Header", showDDLanguages)
    <main class="main">
        <section class="loginSection">
            <div class="loginSection__titleBg" style="background-color: #edf0f0">
                <div class="container loginTopSection__container">
                    <div class="loginSection__title">
                        @LocalizationGetter.GetString("FileReport", is_cc)
                    </div><!-- /.loginSection__title -->
                </div><!-- /.container -->
            </div><!-- /.loginSection__titleBg -->
            <div class="loginSection__contentBg">
                <div class="container loginSection__container">
                    <div class="loginContentBlock">
                        <p class="loginContentBlock__textP">
                            @LocalizationGetter.GetString("PlatformMakesEasyReport", is_cc)
                        </p><!-- /.loginContentBlock__textP -->
                        <p class="loginContentBlock__textP">
                            @LocalizationGetter.GetString("zzzzFind", is_cc)
                        </p><!-- /.loginContentBlock__textP -->
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="loginContentBlock__link">
                            @LocalizationGetter.GetString("AlreadyFiledReport", is_cc)
                        </a>
                    </div><!-- /.loginContentBlock -->
                    <div class="loginTextForm">
                        <label class="loginForm__input">
                            @LocalizationGetter.GetString("Companyname", is_cc)
                            <input id="specialInput" type="text" name="text" required="" autocomplete="off">
                            <input id="companyCode" type="hidden" value="false" />
                        </label>
                        <div class="loginTextFormLinks">
                            <a href="#" id="startBtn" class="btn loginTextFormLinks__startBtn m_t_20">
                                @LocalizationGetter.GetString("Start", is_cc)
                            </a>
                        </div>
                    </div><!-- /.loginTextForm -->
                </div><!-- /.loginSection__contentBg -->
        </section><!-- /.loginSection -->
    </main><!-- /.main -->

    @Html.Partial("Footer")

</div><!-- /.general-container -->
<style>
    .loginTextFormLinks {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
    }
</style>

@section scripts {
    <script src="~/Scripts/View/ServiceReport.js"></script>
    <script src="~/Scripts/View/ServiceHeader.js"></script>
}