@using LocalizationGetter = EC.Localization.LocalizationGetter;
@{
    /**/

    ViewBag.Title = "Employee Confidential";
    Layout = "~/Views/Shared/_LayoutECCOM.cshtml";
    bool is_cc = false;
    bool is_sso_domain = false;
    if (ViewBag.is_sso_domain != null && ViewBag.is_sso_domain == true)
    {
        is_sso_domain = true;
    }
}

@if (ViewData.ContainsKey("header_color_code") && ViewBag.header_color_code != null)
{
    <style>
    :root {
        --HeaderColor: @ViewBag.header_color_code;
        --HeaderLinksColor: @ViewBag.header_links_color_code;
    }
    </style>
}

<input type="hidden" value="@Url.Action("SeekCompany", "Index")" id="SeekCompanyLocation" />
<div class="general-container login">
    @Html.Partial("Header",new { showDDLanguages = ViewBag.showDDLanguages, linksArray = ViewBag.linksArray })
    <main class="main">
        <section class="loginSection">
            <div class="loginSection__titleBg" style="background-color: #edf0f0">
                <div class="container loginTopSection__container">
                    @if (is_sso_domain)
                    {
                        <a href="#" class="loginSection__logo">
                            <img class="loginSection__logoImg" src="@ViewBag.LogoCompany" alt="">
                        </a>
                    }
                   
                    <div class="loginSection__title">
                        @LocalizationGetter.GetString("FileReport", is_cc)
                    </div><!-- /.loginSection__title -->
                </div><!-- /.container -->
            </div><!-- /.loginSection__titleBg -->
            <div class="loginSection__contentBg">
                <div class="container loginSection__container">
                    <div class="loginContentBlock">
                        <p class="loginContentBlock__textP">
                            @LocalizationGetter.GetString("PlatformMakesEasyReport", is_cc)
                        </p><!-- /.loginContentBlock__textP -->
                        @if (is_sso_domain == false)
                        {
                            <p class="loginContentBlock__textP">
                                @LocalizationGetter.GetString("zzzzFind", is_cc)
                            </p><!-- /.loginContentBlock__textP -->
                            <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="loginContentBlock__link">
                                @LocalizationGetter.GetString("AlreadyFiledReport", is_cc)
                            </a>
                        }
                        else
                        {
                                <p class="loginContentBlock__textP">
                                </p>
                                <a href="" class="loginContentBlock__link">
                                </a>
                        }
                    </div><!-- /.loginContentBlock -->
                    <div class="loginTextForm">
                        @if (is_sso_domain == false)
                        {
                            <label class="loginForm__input">
                                @LocalizationGetter.GetString("Companyname", is_cc)
                                <input id="specialInput" type="text" name="text" required="" autocomplete="off">
                                <input id="companyCode" type="hidden" value="false" />
                            </label>
                            <div class="loginTextFormLinks">
                                <a href="#" id="startBtn" class="btn loginTextFormLinks__startBtn m_t_20">
                                    @LocalizationGetter.GetString("Start", is_cc)
                                </a>
                            </div>
                        }
                    </div><!-- /.loginTextForm -->
                </div><!-- /.loginSection__contentBg -->
            </div>
        </section><!-- /.loginSection -->
    </main><!-- /.main -->

    @Html.Partial("Footer")

</div><!-- /.general-container -->
<style>
    .loginTextFormLinks {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
    }
</style>

@section scripts {
    <script src="~/Scripts/View/ServiceReport.js"></script>
    <script src="~/Scripts/View/ServiceHeader.js"></script>
}