@using LocalizationGetter = EC.Localization.LocalizationGetter;
@{
    ViewBag.Title = "Employee Confidential";
    Layout = "~/Views/Shared/_LayoutECCOM.cshtml";
    bool showDDLanguages = true;
    bool is_cc = false;
}
<input type="hidden" value="@Url.Action("SeekCompany", "Index")" id="SeekCompanyLocation" />
<div class="general-container login">
    @Html.Partial("Header", showDDLanguages)
    <main class="main">
        <section class="loginSection">
            <div class="loginSection__titleBg"  style="background-color: #edf0f0">
                <div class="container loginTopSection__container">
                    <div class="loginSection__title">
                        @LocalizationGetter.GetString("FileReport", is_cc)
                    </div><!-- /.loginSection__title -->
                </div><!-- /.container -->
            </div><!-- /.loginSection__titleBg -->
            <div class="loginSection__contentBg">
                <div class="container loginSection__container">
                    <div class="loginContentBlock">
                        <p class="loginContentBlock__textP">
                            @*@LocalizationGetter.GetString("PlatformMakesEasyReport", is_cc)*@
                            This platform makes it easy to report a workplace incident or issue, such as sexual harassment, unsafe conditions, financial and auditing concerns, theft, bribery, substance abuse, etc.
                        </p><!-- /.loginContentBlock__textP -->
                        <p class="loginContentBlock__textP">
                            @LocalizationGetter.GetString("zzzzFind", is_cc)
                        </p><!-- /.loginContentBlock__textP -->
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="loginContentBlock__link">
                            @LocalizationGetter.GetString("AlreadyFiledReport", is_cc)
                        </a>
                    </div><!-- /.loginContentBlock -->
                    <div class="loginTextForm">
                        <label class="loginForm__input">
                            @LocalizationGetter.GetString("Companyname", is_cc)
                            <input id="specialInput" type="text" name="text" required="" autocomplete="off">
                            <input id="companyCode" type="hidden" value="false" />
                        </label>
                        <div class="loginTextFormLinks">
                            <a href="#" id="startBtn" class="btn loginTextFormLinks__startBtn m_t_20">
                                @LocalizationGetter.GetString("Start", is_cc)
                            </a>
                        </div>
                    </div><!-- /.loginTextForm -->
                </div><!-- /.loginSection__contentBg -->
        </section><!-- /.loginSection -->
    </main><!-- /.main -->
    <!-- ------------------  Footer ---------------- -->
    <footer class="footerBg">
        <div class="container" style="padding-left: 31%; margin: 0">
            @*<div class="footer">
                <div></div>
                <div class="footer__copyright">
                    Copyright © 2019 Employee Confidential LLC. All Rights Reserved
                </div><!-- /.footer__copyright -->
                <div class="footer__navLinks">
                    <nav class="footer__navLinks-nav">
                        <li class="footer__navLinks-li">
                            <a href="http://employeeconfidential.com/PrivacyStatement.html" class="footer__navLinks-a">
                                Privacy Policy
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                        <li class="footer__navLinks-li">
                            <a href="http://employeeconfidential.com/TermsOfService.html" class="footer__navLinks-a">
                                Terms of Use
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                    </nav><!-- /.footer__navLinks-nav -->
                </div><!-- /.footer__navLinks -->
            </div><!-- /.footer -->*@
            <div class="footerFlex">
                <div class="footer__copyright">
                    Copyright © 2019 Employee Confidential LLC. All Rights Reserved
                </div><!-- /.footer__copyright -->
                <a href="http://employeeconfidential.com/PrivacyStatement.html" class="footer__navLinks-a">
                    Privacy Policy
                </a>
                <a href="http://employeeconfidential.com/TermsOfService.html" class="footer__navLinks-a">
                    Terms of Use
                </a>
            </div>
        </div><!-- /.container -->
    </footer><!-- /.footer -->

</div><!-- /.general-container -->


@section scripts {
    <script src="~/Scripts/View/ServiceReport.js"></script>
    <script src="~/Scripts/View/ServiceHeader.js"></script>
}