@{
    ViewBag.Title = "Employee Confidential";
    Layout = "~/Views/Shared/_LayoutECCOM.cshtml";
}

<div class="general-container login">

    <header class="header">
        <div class="top-headerBg">
            <div class="container">
                <div class="top-header">

                    <a href="http://employeeconfidential.com" class="top-header__backLink">
                        <img src="~/Content/images/svg-icons/left.svg" alt="" />
                        <span class="top-header__backLink-text">
                            EmployeeConfidential.com
                        </span>
                    </a>
                    <div class="top-header__loginBar">
                        <nav class="top-header__loginBar-nav">
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Login" class="top-header__loginBar-a">
                                    Client Login
                                </a>
                            </li><!-- /.top-header__loginBar-li -->

                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="top-header__loginBar-a">
                                    Check Report Status
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                        </nav><!-- /.top-header__loginBar-nav -->
                    </div><!-- /.top-header__loginBar -->
                </div><!-- /.top-header -->
            </div>
        </div>

    </header><!-- /.header -->

    <main class="main">
        <section class="loginSection">
            <div class="loginSection__titleBg">
                <div class="container loginTopSection__container">
                    <div class="loginSection__title">
                        File a report
                    </div><!-- /.loginSection__title -->
                </div><!-- /.container -->
            </div><!-- /.loginSection__titleBg -->
            <div class="loginSection__contentBg">
                <div class="container loginSection__container">
                    <div class="loginContentBlock">
                        <p class="loginContentBlock__textP">
                            This platform makes it easy to report an incident about
                            workplace issues like sexual harassment, unsafe conditions,
                            financial and auditing concerns, theft, bribery, substance
                            abuse etc.
                        </p><!-- /.loginContentBlock__textP -->
                        <p class="loginContentBlock__textP">
                            Find your company below to get started with your report
                            and we’ll ask you a few questions about the incident.
                        </p><!-- /.loginContentBlock__textP -->
                        <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="loginContentBlock__link">
                            Already filed a report?
                        </a>
                    </div><!-- /.loginContentBlock -->
                    <div class="loginTextForm">
                        <label class="loginForm__input">
                            Company name
                            <input id="specialInput" type="text" name="text" required="" autocomplete="off">
                            <input id="companyCode" type="hidden" value="false" />
                        </label>
                        <div class="loginTextFormLinks">
                            <a href="#" id="startBtn" class="btn loginTextFormLinks__startBtn m_t_20">
                                Start
                            </a>
                        </div><!-- /.loginTextFormLinks -->
                    </div><!-- /.loginTextForm -->

                </div><!-- /.loginSection__contentBg -->
        </section><!-- /.loginSection -->
    </main><!-- /.main -->
    <!-- ------------------  Footer ---------------- -->
    <footer class="footerBg">
        <div class="container">
            <div class="footer">
                <div></div>
                <div class="footer__copyright">
                    Copyright © 2018 Employee Confidential LLC. All Rights Reserved
                </div><!-- /.footer__copyright -->
                <div class="footer__navLinks">
                    <nav class="footer__navLinks-nav">
                        <li class="footer__navLinks-li">
                            <a href="http://employeeconfidential.com/PrivacyStatement.html" class="footer__navLinks-a">
                                Privacy Policy
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                        <li class="footer__navLinks-li">
                            <a href="http://employeeconfidential.com/TermsOfService.html" class="footer__navLinks-a">
                                Terms of Use
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                    </nav><!-- /.footer__navLinks-nav -->
                </div><!-- /.footer__navLinks -->
            </div><!-- /.footer -->
        </div><!-- /.container -->
    </footer><!-- /.footer -->

</div><!-- /.general-container -->
@Html.Partial("~/Views/Shared/HelpPartial.cshtml", new ViewDataDictionary { { "is_reporter", true } })
<script>
    $(function () {
        $("#specialInput").autocomplete({
            minLength: 3,
            source: '@Url.Action("SeekCompany", "Index")',
            select: function (event, ui) {
                $('#specialInput').val(ui.item.label);
                $('#companyCode').val(ui.item.value);
                return false;
            }
        });

        $("#startBtn").on('click', function () {
            var companyCode = $('#companyCode').val();
            if (companyCode != 'false') {
                window.location.href = "/Service/Disclaimer?companyCode=" + companyCode;
            } else {
                TakeCompany();
            }
        });
    });

    function TakeCompany(selname) {
        $.ajax({
            method: 'POST',
            url: '@Url.Action("SeekCompany", "Index")',
            data: { term: $('#specialInput').val() }
        }).done(function (data) {
            if (data.length > 0) {
                window.location.href = "/Service/Disclaimer?companyCode=" + data[0].value;
            }
        });
    }
</script>
