@using EC.Localization;

@{
  bool? is_cc = ViewBag.is_cc;
  if (!is_cc.HasValue)
  {
    is_cc = false;
  }
  ViewBag.Title = "RestorePass";
  Layout = "~/Views/Shared/_LayoutECCOM.cshtml";
}

<div class="general-container login">

    <header class="header header-cc">
        <div class="top-headerBg">
            <div class="container">
                <div class="top-header">

                    <a href="http://campusconfidential.com" class="top-header__backLink">
                        <img src="~/Content/images/svg-icons/left.svg" alt="" />
                        <span class="top-header__backLink-text">
                            CampusConfidential.com
                        </span>
                    </a>
                    <div class="top-header__loginBar">
                        <nav class="top-header__loginBar-nav">
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Report" class="top-header__loginBar-a">
                                    File a Report
                                </a>
                            </li>
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="top-header__loginBar-a">
                                    Check Report Status
                                </a>
                            </li>
                        </nav><!-- /.top-header__loginBar-nav -->
                    </div><!-- /.top-header__loginBar -->
                </div><!-- /.top-header -->
            </div>
        </div>

    </header><!-- /.header -->

    <main class="main">
        <section class="loginSection loginSection-cc">
            <div class="loginSection__titleBg">
                <div class="container loginTopSection__container">
                    <div class="loginSection__title">
                        @LocalizationGetter.GetString("EnterNewPassword", is_cc).ToUpper()
                    </div><!-- /.loginSection__title -->
                </div><!-- /.container -->
            </div><!-- /.loginSection__titleBg -->
            <div class="loginSection__contentBg">
                @using (Html.BeginForm("setNewPass", "Service", FormMethod.Post, new { }))
                {
                    <input type="hidden" id="email" name="email" value="@ViewBag.email" />
                    <input type="hidden" id="token" name="token" value="@ViewBag.token" />

                    <div class="container loginSection__container">
                        <div class="loginForm">
                            <label class="loginForm__input">
                                @LocalizationGetter.GetString("EnterNewPassword", is_cc)
                                <input type="password" class="loginText" name="password" />
                            </label>
                            <label class="loginForm__input">
                                @LocalizationGetter.GetString("ConfirmNewPassword", is_cc)
                                <input type="password" class="loginText" name="confirmPassword" />
                            </label>
                        </div><!-- /.loginForm -->
                        <div class="loginFormLinks">
                            <button type="submit" id="submit" class="loginFormLinks__loginBtn btn btn-cc" style="cursor: pointer;">
                                Submit
                            </button>
                        </div><!-- /.loginFormLinks -->
                    </div><!-- /.container -->
                }
            </div><!-- /.loginSection__contentBg -->
        </section><!-- /.loginSection -->
    </main><!-- /.main -->
    <!-- ------------------  Footer ---------------- -->
    <footer class="footerBg">
        <div class="container">
            <div class="footer">
                <div></div>
                <div class="footer__copyright">
                    Copyright © 2020 Employee Confidential LLC. All Rights Reserved
                </div><!-- /.footer__copyright -->
                <div class="footer__navLinks">
                    <nav class="footer__navLinks-nav">
                        <li class="footer__navLinks-li">
                            <a href="http://employeeconfidential.com/PrivacyStatement.html" class="footer__navLinks-a">
                                Privacy Policy
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                        <li class="footer__navLinks-li">
                            <a href="http://employeeconfidential.com/TermsOfService.html" class="footer__navLinks-a">
                                Terms of Use
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                    </nav><!-- /.footer__navLinks-nav -->
                </div><!-- /.footer__navLinks -->
            </div><!-- /.footer -->
        </div><!-- /.container -->
    </footer><!-- /.footer -->

</div><!-- /.general-container -->

<script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>

<script>
    $(document).ready(function () {
        $('#submit').on('click', function (event) {
            var password = $('input[name=password]');
            var confirmPassword = $('input[name=confirmPassword]');
            if (password.val() == "") {
                event.preventDefault();
                alert('@LocalizationGetter.GetString("requiredFileds", is_cc)');
            } else {
                if (confirmPassword.val() == "") {
                    event.preventDefault();
                    alert('@LocalizationGetter.GetString("requiredFileds", is_cc)');
                } else {
                    if (password.val() != confirmPassword.val()) {
                        event.preventDefault();
                        alert('@LocalizationGetter.GetString("notMatchConfPassandPass", is_cc)');
                    }
                    var email = $("#email");
                    var token = $("#token");
                    if (email.val() == "" && token.val() == "") {
                        event.preventDefault();
                        alert('@LocalizationGetter.GetString("reEnterEmailToken", is_cc)');
                        window.location.replace("Service/Restore");
                    }
                }
            }
        });
    });
</script>

