@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@using EC.Common.Interfaces;
@using EC.Core.Common;
@using EC.Common.Util;
@using EC.Models.ViewModels;

@{
        // @Styles.Render("~/Content/Styles");
    IDateTimeHelper m_DateTimeHelper = new DateTimeHelper();
    <link rel="stylesheet" type="text/css" href="/Content/styleReportDashboard.css">
            ViewBag.Title = "Payment History";
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    string user_nm = ViewBag.user_nm;
            List<AllPaymentTypesViewModel> all_payments = ViewBag.payments;
            GlobalFunctions glb = new GlobalFunctions();
            CompanyModel cm = ViewBag.cm;

            int next_payment = 0;
            DateTime dt_next_payment = DateTime.Today;

/*    if (cm._company.next_payment_date.HasValue && cm._company.next_payment_amount.HasValue)
    {
        DateTime dt = cm._company.next_payment_date.Value;
        if (dt < DateTime.Today.AddMonths(1))
        {
            dt_next_payment = cm._company.next_payment_date.Value;
            next_payment = 1;
        }
        if (dt < DateTime.Today)
        {
            dt_next_payment = cm._company.next_payment_date.Value;
            next_payment = 2;
        }
    }*/

    @*<style>
        .fullContainer {
            max-width: none;
        }
    </style>*@
}
<div class="blockSettings blockAllTasks">
    <div id="casesHeared">
        <div id="menu">
            <a class="caseesTab active casesMassage">
                @GlobalRes.Payments @*  @if (all_payments.Count > 0)
  {<span>@all_payments.Count</span>}*@
            </a>
        </div>
    </div><!--casesHeared-->

    @if (all_payments.Count > 0)
    {
        <div class="contentSettings">
            @foreach (var _payment in all_payments)
            {
  
 
                    <div class="myMessages">
                        <div class="headerMessages" style="border-left: 10px solid  #3099be; ">
                            <div class="topBlock">
                                <p class="titleMessages">@_payment.local_invoice_number</p>
                            </div>
                        </div>
                        <div class="blockMessage withStaticBorder  #3099be; ">
                            <div class="textMessage" style="padding-left:5%">
                                <p class="personalName">@_payment.description</p>
                                <p class="text"><a href=@_payment.receipt_url>@StringUtil.ConvertDecimalToStringAmount(_payment.amount)</a></p>
                            </div>
                            <div class="blockDate">
                                <p>@m_DateTimeHelper.GetFullMonth(_payment.payment_date.Month) @_payment.payment_date.Day, @_payment.payment_date.Year</p>
                            </div>
                        </div>
                    </div>

            }
            @if (next_payment == 1)
            {
                <br />
                <br />
                <br />
                <h4>@GlobalRes.UpcomingPaymentNotice</h4>
            }
            @if (next_payment == 2)
            {
                <br />
                <br />
                <br />
                <h4>@GlobalRes.PaymentDueReminderUp</h4>
            }

                @if (next_payment == 1 || next_payment == 2)
                {
                      <div class="myMessages">

         


                    <div class="blockMessage withStaticBorder">
                        <div class="textMessage" style="padding-left:5%">
                            <p class="personalName">@GlobalRes.Amount:</p>
                            <p class="text">@StringUtil.ConvertDecimalToStringAmount(cm._company.next_payment_amount.Value)</p>
                            @*<p class="text"><a href="/Payment/Receipt/@_payment.id">@StringUtil.ConvertDecimalToStringAmount(_payment.amount)</a></p>*@
                        </div>
                        <div class="blockDate">
                            <p>@m_DateTimeHelper.GetFullMonth(dt_next_payment.Month) @dt_next_payment.Day, @dt_next_payment.Year</p>
                        </div>
                    </div>

                
            </div>
                     <div class="blockUpdateProfile">
                <div class="updateProfileBtn">
                    <input class="greenButton" type="submit" value="@GlobalRes.MakePayment">
                    <span style="display: none;">@GlobalRes.MakePayment</span>

                </div>
            </div>
                }
        </div>

    }
    else
    {
        <div class="myMessages">
            <div class="headerMessages" style="border-left: 10px solid">
                <div class="topBlock">
                    <p class="titleMessages">@GlobalRes.NoPaymentsYet</p>
                </div>
            </div>
        </div>
        }

    </div>

    <script>
        $(document).ready(function () {
            $('.greenButton').click(function () {
                window.location = "NewPayment"
            });
        }
        );
    </script>
