@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.Common.Util;
@using EC.Localization;
@{
  bool? is_cc = ViewBag.is_cc;
  if (!is_cc.HasValue)
  {
    is_cc = false;
  }
  // @Styles.Render("~/Content/Styles");
    <link rel="stylesheet" type="text/css" href="/Content/styleReportDashboard.css">
  ViewBag.Title = LocalizationGetter.GetString("newpayment", is_cc);
  Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
  string user_nm = ViewBag.user_nm;

  GlobalFunctions glb = new GlobalFunctions();
  CompanyModel cm = ViewBag.cm;
  Decimal _amount = ViewBag.amount;
  String sAmount = StringUtil.ConvertDecimalToStringAmount(_amount);
    <style>
        .fullContainer {
            max-width: none;
        }
    </style>
}

<div class="blockSettings contentCompanyProfile">
    <div class="contentSettings">
        <p class="helloUser" id="hello">@LocalizationGetter.GetString("MakePamentNotice", is_cc)</p>


        <div id="PayByCard">
            <div class="blockPersonalSettings">
                <p class="title">@LocalizationGetter.GetString("Amount", is_cc)</p>
                <input type="text" id="amount" value=@sAmount readonly="readonly" />
            </div>

            <div class="blockPersonalSettings">
                <p class="title">@LocalizationGetter.GetString("CreditCardNumber", is_cc)</p>
                <input type="text" id="cardnumber" />
            </div>
            <div class="blockPersonalSettings">
                <p class="title">@LocalizationGetter.GetString("NameonCard", is_cc)</p>
                <input type="text" id="cardname" />
            </div>


            <div class="blockPersonalSettings">
                <p class="title">@LocalizationGetter.GetString("ExpiryDate", is_cc)</p>
                <div class="positioncreditCardSelect">
                    <select class="creditCardSelect" id="selectedMonth">
                        <option selected="selected" disabled>@LocalizationGetter.GetString("MM", is_cc).ToLower()</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <select class="creditCardSelect" id="selectedYear">
                        <option selected="selected" disabled>@LocalizationGetter.GetString("yyyy", is_cc)</option>
                        @{
                            for (int i = DateTime.Today.Year; i <= 2030; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="blockPersonalSettings">
                <p class="title">@LocalizationGetter.GetString("CSVCode", is_cc)</p>
                <input type="number" id="csv"  />
            </div>
        </div>

        <div class="blockUpdateProfile">
            <div class="updateProfileBtn">
                <input type="submit" value=@LocalizationGetter.GetString("Submit", is_cc) />
                <span style="display: none;">@LocalizationGetter.GetString("MakePayment", is_cc).ToLower()</span>
            </div>
        </div>



    </div>
    <!--</form>-->
</div>
<script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/View/newPayment.js"></script>