@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.Common.Interfaces;
@using EC.Core.Common;
@using EC.Common.Util;

@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.Common.Util;
@using EC.Localization;

@{
  bool? is_cc = ViewBag.is_cc;
  if (!is_cc.HasValue)
  {
    is_cc = false;
  }
  // @Styles.Render("~/Content/Styles");
    <link rel="stylesheet" type="text/css" href="/Content/styleReportDashboard.css">

  Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

  var cp = ViewBag.cp;

  IDateTimeHelper m_DateTimeHelper = new DateTimeHelper();

  ViewBag.Title = LocalizationGetter.GetString("Payment", is_cc) + " - " + m_DateTimeHelper.ConvertDateToLongMonthString(cp.payment_date);

    <style>
        .fullContainer {
            max-width: none;
        }
    </style>
}
<div class="blockSettings contentCompanyProfile">
    <div class="titleNewUser">
        <h1 class="helloUser">@LocalizationGetter.GetString("Payment", is_cc) on  @m_DateTimeHelper.ConvertDateToLongMonthString(cp.payment_date)</h1>
    </div>
    <div class="contentSettings">
        <div class="blockPersonalPhotoSetting">
            <div class="blockPhotoSetting">
            </div>
        </div>
        <div>

            <div class="personalBlock">
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("Amount", is_cc)</p>
                    @StringUtil.ConvertDecimalToStringAmount(cp.amount) 
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("PaymentDate", is_cc)</p>
                    @m_DateTimeHelper.ConvertDateToLongMonthString(cp.payment_date)
                </div>

 
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("Description", is_cc)</p>
                    @cp.description
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("AuthCode", is_cc)</p>
                    @cp.local_invoice_number
                </div>
            </div>
        </div>

    </div>

</div>
<!--</form>-->
</div>

