@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@using EC.Common.Interfaces;
@using EC.Core.Common;
@using EC.Common.Util;

@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@using EC.Common.Util;
@using EC.Localization;

@{
// @Styles.Render("~/Content/Styles");
    <link rel="stylesheet" type="text/css" href="/Content/styleReportDashboard.css">

    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    var cp = ViewBag.cp;

    GlobalFunctions glb = new GlobalFunctions();
    IDateTimeHelper m_DateTimeHelper = new DateTimeHelper();

    ViewBag.Title = GlobalRes.Payment + " - " + m_DateTimeHelper.ConvertDateToLongMonthString(cp.payment_date);
 
    <style>
        .fullContainer {
            max-width: none;
        }
    </style>
}
<div class="blockSettings contentCompanyProfile">
    <div class="titleNewUser">
        <h1 class="helloUser">@GlobalRes.Payment on  @m_DateTimeHelper.ConvertDateToLongMonthString(cp.payment_date)</h1>
    </div>
    <div class="contentSettings">
        <div class="blockPersonalPhotoSetting">
            <div class="blockPhotoSetting">
            </div>
        </div>
        <div>

            <div class="personalBlock">
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Amount</p>
                    @StringUtil.ConvertDecimalToStringAmount(cp.amount) 
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.PaymentDate</p>
                    @m_DateTimeHelper.ConvertDateToLongMonthString(cp.payment_date)
                </div>

 
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Description</p>
                    @cp.description
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.AuthCode</p>
                    @cp.local_invoice_number
                </div>
            </div>
        </div>

    </div>

</div>
<!--</form>-->
</div>

