@using EC.Models;
@using EC.Localization;
@{

    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    String class_ext = ViewBag.cc_extension;

    ViewBag.Title = LocalizationGetter.GetString("ReporterDashboard");
    var user_id = (Int32)ViewBag.user_id;
    UserModel um = new UserModel(user_id);

    int report_id = um.GetReportIDForReporter();
    ReportModel rm = new ReportModel(report_id);
    CompanyModel cm = new CompanyModel();
    string[] _statuses = EC.Constants.ECGlobalConstants.ReportFlowStatusesList;
    int _investigation_status = rm._investigation_status;
    if (_investigation_status == 6)
    {
        _investigation_status = 4;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="~/Content/reportDashboard.css">
    <script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/reportDashboard/reportDashboard.js"></script>
    <title>@ViewBag.Title</title>

    <script src="~/Libs/angular/angular.min.js"></script>
    <script src="~/Libs/angular-http/angular-http.js"></script>
    <script src="~/Libs/angular-resource/angular-resource.min.js"></script>
    <script src="~/Libs/angular-animate/angular-animate.min.js"></script>
    <script src="~/Libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/Libs/angular-nvd3/dist/angular-nvd3.min.js"></script>
    <script src="~/Libs/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="~/Libs/angular-ui-calendar/src/calendar.js"></script>

    <script src="~/Scripts/dis.min.js"></script>
</head>
<body ng-app="EC">
    @if (report_id != 0)
    {

        if (rm._report != null)
        {
            int company_id = rm._report.company_id;
            EC.Models.Database.company _company = cm.GetById(rm._report.company_id);

            EC.Models.Database.attachment _attachment;

            string _logo = cm.getLogoCompany(company_id);
            if (_logo.Trim().Length == 0)
            {
                _logo = "http://report.employeeconfidential.com/Content/img/logo.png";
            }
            <div class="main">
                <div class="header">
                    <img class="logo" src='@Url.Content("~/Content/img/ReportDashboardLogo.png")' />

                    <div class="headerMenu">
                        <ul>
                            <li class="logIn">
                                @LocalizationGetter.GetString("Logout")
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="secondaryMenu">
                    <div class="positionImageLogo">
                        <img class="makeImgCenter" src='@Url.Content(_logo)' />
                    </div>
                    <div class="statusTitle">

                        <div class="title">@LocalizationGetter.GetString("Case") @rm._report.display_name</div>
                        <div class="status">
                            @LocalizationGetter.GetString("Casestatus")<br />
                            <span class="review">@rm.InvestigationStatusString()</span>
                        </div>
                    </div>
                    <div class="headerPos">
                        @for (int i = 0; i < 5; i++)
                        {
                            if (i < _investigation_status)
                            {
                                <div class="positionN active@{@class_ext}">
                                    <span style="color: #38494d;">@_statuses[i]</span>
                                </div>
                                <div class="polos"></div>
                            }
                            else
                            {

                                <div class="positionN">
                                    <span style="color: #b4b9ba;">@_statuses[i]</span>
                                </div>
                                <div class="polos"></div>
                            }
                        }

                    </div><!--headerPos-->

                </div>
                @RenderBody()
            </div>
            <div class="footer" style="height:150px">
            </div>
        }
    }
    @Html.Partial("~/Views/Shared/HelpPartial.cshtml", new ViewDataDictionary { { "is_reporter", true } })
    <div id="userId" data-value="@user_id"></div>
</body>

</html>
<script>
    $(document).ready(function () {
        $(".logIn").click(function () {
            location.href = '@Url.Action("CheckStatus", "Service")';
        });
    });
</script>

