
@using EC.App_LocalResources;
@using EC.Models.ViewModel;
@{
    ViewBag.Title = GlobalRes.ClosedCases;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    IEnumerable<int> report_ids = ViewBag.closed_report_ids;

    var user_id = (Int32)ViewBag.user_id;
    IEnumerable<int> pending_report_ids = ViewBag.pending_report_ids;
    if (pending_report_ids != null)
    {
        foreach (int _report_id in pending_report_ids)
        {
            @Html.Partial("~/Views/PartialViews/_ReportPendingNotification.cshtml", new ViewDataDictionary { { "report_id", _report_id }, { "user_id", user_id } })
        }
    }


    Int32 report_ids_Completed = ViewBag.completed_report_counters;
    Int32 report_ids_Spam = ViewBag.spam_report_counters;
    Int32 report_ids_Active = ViewBag.active_report_counters;
    Int32 report_ids_Closed = ViewBag.closed_report_counters;
    
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    String class_ext = ViewBag.cc_extension;

    //bool? is_cc = true;
    //String class_ext = "";
    //if (is_cc)
    //{
    //    class_ext = "_cc";
    //}
    
    
}

<div id="casesHeared" class="pageCases">
    <div id="menu">
        <h2 class="mainTitle">@GlobalRes.Menu:</h2>
        <div style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
            <a href="/Cases/Index" class="caseesTab">
                @GlobalRes.Activecases@if (report_ids_Active > 0)
            {<span>@report_ids_Active</span>}
            </a>
            <a href="/Cases/Completed" class="caseesTab ">
                @GlobalRes.Completedcases@if (report_ids_Completed > 0)
            {<span>@report_ids_Completed</span>}
            </a>
            <a href="/Cases/Closed" class="caseesTab active">
                @GlobalRes.ClosedCases@if (report_ids_Closed > 0)
                {<span>@report_ids_Closed</span>}
            </a>
            <a href="/Cases/Spam" class="caseesTab">
                @GlobalRes.Spam@if (report_ids_Spam > 0)
            {<span>@report_ids_Spam</span>}
            </a>

        </div>
    </div>
</div><!--casesHeared-->


<div class="positionCases">
    @foreach (CasePreviewViewModel _case_previewViewModel in ViewBag.ReportPreviewStart)
    {
        <div class="mainCaseParent">
            @Html.Partial("~/Views/Shared/Helpers/_CasePreview.cshtml", _case_previewViewModel)
        </div>
    }

    @foreach (int _case_id in ViewBag.ReportPreviewVM)
    {
        <div class="mainCaseParent" data-url="/cases/Preview?case_id=@_case_id">
            <img src="~/Content/Icons/Xanal.gif" /> Loading....
        </div>
    }
</div>


<script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {

        //START Open mini menu for mobile
        function blockActivityHeight() {
            if ($('#menu').height() < 50) {
                $('.positionActivityIcon').height(89);
            }
            else {
                $('.positionActivityIcon').height($('#casesHeared').height());
            }
        }
        $('.mainTitle').click(function () {
            $('.mainTitle + div').toggle();
            blockActivityHeight();
        });
        //----------------END Open mini menu for mobile---------------------------
    });

</script>
<script>
    var heightTemp = $(".bottom").height();
    $(".bottom").each(function (indx, element) {
        var h = $(element).height();
        heightTemp = h > heightTemp ? h : heightTemp;
    });
    $(".bottom").each(function (indx, element) {
        $(element).height(heightTemp);
    });

    $(document).ready(function (e) {
        $(".mainCaseParent").each(function (index, item) {
            var url = $(item).data("url");

            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    });
</script>