@using EC.App_LocalResources;
@using EC.Models.ViewModel;

@{
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    String class_ext = ViewBag.cc_extension;

    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    ViewBag.Title = GlobalRes.ActiveCasesUp;
    //Layout = "~/Views/Shared/LayoutMediators.cshtml";

    Int32 report_ids_Completed = ViewBag.completed_report_counters;
    Int32 report_ids_Spam = ViewBag.spam_report_counters;
    Int32 report_ids_Active = ViewBag.active_report_counters;
    Int32 report_ids_Closed = ViewBag.closed_report_counters;

    //List<CasePreviewViewModel> preview_start_list = ViewBag.ReportPreviewStart;
    //List<int> preview_list = ViewBag.ReportPreviewVM;

    <script src="~/Scripts/View/menuWork.js"></script>
    <script src="~/Scripts/View/CaseCircleDraw.js"></script>

    var user_id = (Int32)ViewBag.user_id;
    IEnumerable<int> pending_report_ids = ViewBag.pending_report_ids;
    if (pending_report_ids != null)
    {
        foreach (int _report_id in pending_report_ids)
        {
            @Html.Partial("~/Views/PartialViews/_ReportPendingNotification.cshtml", new ViewDataDictionary { { "report_id", _report_id }, { "user_id", user_id } })
        }
    }
}

<div id="casesHeared" class="pageCases">
    <div id="menu">
        <h2 class="mainTitle">@GlobalRes.Menu:</h2>
        <div>
            <a href="/Cases/Index" class="caseesTab active">
                @GlobalRes.Activecases@if (report_ids_Active > 0)
                {<span>@report_ids_Active</span>}
            </a>
            <a href="/Cases/Completed" class="caseesTab">
                @GlobalRes.Completedcases@if (report_ids_Completed > 0)
                {<span>@report_ids_Completed</span>}
            </a>
            <a href="/Cases/Closed" class="caseesTab">
                @GlobalRes.ClosedCases@if (report_ids_Closed > 0)
                {<span>@report_ids_Closed</span>}
            </a>
            <a href="/Cases/Spam" class="caseesTab">
                @GlobalRes.Spam@if (report_ids_Spam > 0)
                {<span>@report_ids_Spam</span>}
            </a>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("List", "Index", new { listView = true})
    @Html.ActionLink("Grid", "Index", new { })
</div>

@if (ViewBag.ListView == null) //Grid
{
    <div class="div-table">
        <div class="div-table-row">
            <div class="div-table-col">Case</div>
            <div class="div-table-col">Stage</div>
            <div class="div-table-col">Age</div>
            <div class="div-table-col">Incident Type</div>
            <div class="div-table-col">Location</div>
            <div class="div-table-col">Messages</div>
            <div class="div-table-col">Tasks</div>
            <div class="div-table-col">Team</div>
        </div>
        @foreach (CasePreviewViewModel _case_previewViewModel in ViewBag.ReportPreviewStart)
        {
            <div class="mainCaseParent div-table-row">
                @Html.Partial("~/Views/Shared/Helpers/_CasePreview.cshtml", _case_previewViewModel)
            </div>
        }        
    </div>
}
else
{
    <div class="positionCases">
        @foreach (CasePreviewViewModel _case_previewViewModel in ViewBag.ReportPreviewStart)
        {
            <div class="mainCaseParent">
                @Html.Partial("~/Views/Shared/Helpers/_CasePreviewList.cshtml", _case_previewViewModel)
            </div>
        }

        @foreach (int _case_id in ViewBag.ReportPreviewVM)
        {   
            <div class="mainCaseParent" data-url="/cases/Preview?case_id=@_case_id">
                <img src="~/Content/Icons/Xanal.gif" /> Loading....
            </div>
        }
    </div>
}

<script>
    var heightTemp = $(".bottom").height();
    $(".bottom").each(function (indx, element) {
        var h = $(element).height();
        heightTemp = h > heightTemp ? h : heightTemp;
    });
    $(".bottom").each(function (indx, element) {
        $(element).height(heightTemp);
    });


    $(document).ready(function (e) {
        $(".mainCaseParent").each(function (index, item) {
            var url = $(item).data("url");

            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    });


</script>
