@using EC.App_LocalResources;
@using EC.Models.ViewModel;
@using EC.Models;

@{
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    //is_cc = true;
    String class_ext = ViewBag.cc_extension;

    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    ViewBag.Title = GlobalRes.ActiveCasesUp;
 

    <script src="~/Scripts/View/menuWork.js"></script>
    <script src="~/Scripts/View/CaseCircleDraw.js"></script>

    var user_id = (Int32)ViewBag.user_id;
    IEnumerable<int> pending_report_ids = ViewBag.pending_report_ids;
    if (pending_report_ids != null)
    {
        foreach (int _report_id in pending_report_ids)
        {
            @Html.Partial("~/Views/Shared/_ReportPendingNotification.cshtml", new ViewDataDictionary { { "report_id", _report_id }, { "user_id", user_id } })
        }
    }

    <style>
        td.case {
            width: 8%;
        }
        td.stage {
            width: 12%;
        }
        td.reportDate {
            width: 14%;
        }
        td.age {
            min-width: 80px;
            max-width: 80px;
            width: 80px;
        }
        td.incidentType {
            width: 18%;
        }
        td.location {
            width: 20%;
        }
        td.severity {
            width: 8%;
        }
        td.messages {
            width: 7%;
        }
        td.team {
            min-width: 170px;
            max-width: 170px;
            width: 170px;
        }
        td.tableCasesIndex {
            width: 4%;
        }
    </style>
}

<div ng-controller="CasesController" ng-cloak>
    <div id="casesHeared" class="pageCases">
        <div id="menu">
            <h2 class="mainTitle">@GlobalRes.Menu:</h2>
            <div>
                <a href="@Url.Content("~/Cases/Index?mode=active")" class="caseesTab" ng-class="{'active': mode == 1}" qng-click="refresh(1)">
                    @GlobalRes.Activecases
                    <span ng-show="counts.Active > 0">{{counts.Active}}</span>
                </a>
                <a href="@Url.Content("~/Cases/Index?mode=completed")" class="caseesTab" ng-class="{'active': mode == 2}" qng-click="refresh(2)">
                    @GlobalRes.Completedcases
                    <span ng-show="counts.Completed > 0">{{counts.Completed}}</span>
                </a>
                <a href="@Url.Content("~/Cases/Index?mode=closed")" class="caseesTab" ng-class="{'active': mode == 5}" qng-click="refresh(5)">
                    @GlobalRes.ClosedCases
                    <span ng-show="counts.Closed > 0">{{counts.Closed}}</span>
                </a>
                <a href="@Url.Content("~/Cases/Index?mode=spam")" class="caseesTab" ng-class="{'active': mode == 3}" qng-click="refresh(3)">
                    @GlobalRes.Spam
                    <span ng-show="counts.Spam > 0">{{counts.Spam}}</span>
                </a>
                <a href="@Url.Content("~/Cases/Index?mode=new")" class="caseesTab" ng-class="{'active': mode == 4}" qng-click="refresh(4)">
                    New Reports
                    <span ng-show="counts.Pending > 0">{{counts.Pending}}</span>
                </a>
                <a href="#" class="caseesTab">
                </a>

              <div class="boxDDlistPosition" ng-show="Companies.length > 0">
                <div class="boxDDlist textColot" ng-click="showDDlist = !showDDlist">
                    {{displayCompanyName}}
                  
                  <img src="~/Content/Icons/arrow-listDark.png" />
                  <ul ng-show="showDDlist" >
                      <li ng-click="ddListClickedCompany(company.id, company.company_nm)" ng-repeat="company in Companies">{{company.company_nm}}</li>
                  </ul>
                </div>
              </div>



            </div>
        </div>
    </div>
   
    <div id="casesIndex">
        <div class="container mainNavigationTabs__tabContent-container ">
            <div id="mainTab-ActiveCases" class="mainNavigationTabs__tabContent active">
                <div class="dashboard-container">
                    <div class="divider p-tb-20"></div><!-- /.divider p-tb-20 -->
                    <div class="dashboard">
                        <div class="dashboard-rowHeader clearfix">
                            <div class="dashboard-col__case dashboard-colHeader clearfix" ng-click="sort('case_number')">
                                <div class="dashboard-colHeader__text">
                                    Case ID
                                </div>
                                <div class="dashboard-colHeader__sortArrow sortArrow" ng-class="sortClass('case_number')"></div>
                            </div><!-- /.dashboard-col__Case dashboard-colHeader -->
						    <div class="dashboard-col__severity dashboard-colHeader clearfix" ng-click="sort('severity_id')">
							    <div class="dashboard-colHeader__text">
								    Severity
							    </div>
							    <div class="dashboard-colHeader__sortArrow sortArrow" ng-class="sortClass('severity_id')"></div>
						    </div><!-- /.dashboard-col__severity dashboard-colHeader -->
                            <div class="dashboard-col__stage dashboard-colHeader clearfix" ng-click="sort('last_update_dt')">
                                <div class="dashboard-colHeader__text">
                                    Stage
                                </div>
                                <div class="dashboard-colHeader__sortArrow sortArrow" ng-class="sortClass('last_update_dt')"></div>
                            </div><!-- /.dashboard-col__Stage dashboard-colHeader -->
                            <div class="dashboard-col__age dashboard-colHeader clearfix" ng-click="sort('total_days')">
                                <div class="dashboard-colHeader__text">
                                    Age
                                </div>
                                <div class="dashboard-colHeader__sortArrow sortArrow" ng-class="sortClass('total_days')"></div>
                            </div><!-- /.dashboard-col__Age dashboard-colHeader -->
                            <div class="dashboard-col__incidentType dashboard-colHeader clearfix" ng-click="sort('case_secondary_types')">
                                <div class="dashboard-colHeader__text">
                                    Incident Type
                                </div>
                                <div class="dashboard-colHeader__sortArrow sortArrow" ng-class="sortClass('case_secondary_types')"></div>
                            </div><!-- /.dashboard-col__incidentType dashboard-colHeader -->
                            <div class="dashboard-col__location dashboard-colHeader clearfix" ng-click="sort('location')">
                                <div class="dashboard-colHeader__text">
                                    Location
                                </div>
                                <div class="dashboard-colHeader__sortArrow sortArrow" ng-class="sortClass('location')"></div>
                            </div><!-- /.dashboard-col__location dashboard-colHeader -->
                            <div class="dashboard-col__reportDate dashboard-colHeader clearfix" ng-click="sort('case_dt_s')">
                                <div class="dashboard-colHeader__text">
                                    Report date
                                </div>
                                <div class="dashboard-colHeader__sortArrow sortArrow" ng-class="sortClass('case_dt_s')"></div>
                            </div><!-- /.dashboard-col__reportDate dashboard-colHeader -->
                            <div class="dashboard-col__messages dashboard-colHeader clearfix" ng-click="sort('new_messages')">
                                <div class="dashboard-colHeader__text">
                                    Messages
                                </div>
                                <div class="dashboard-colHeader__sortArrow sortArrow" ng-class="sortClass('new_messages')"></div>
                            </div><!-- /.dashboard-col__messages dashboard-colHeader -->
                            <div class="dashboard-col__tasks dashboard-colHeader clearfix" ng-click="sort('new_tasks')">
                                <div class="dashboard-colHeader__text">
                                    Tasks
                                </div>
                                <div class="dashboard-colHeader__sortArrow sortArrow" ng-class="sortClass('new_tasks')"></div>
                            </div><!-- /.dashboard-col__tasks dashboard-colHeader -->
                            <div class="dashboard-col__team dashboard-colHeader clearfix" ng-click="sort('team_number')">
                                <div class="dashboard-colHeader__text">
                                    Team
                                </div>
                                <div class="dashboard-colHeader__sortArrow sortArrow" ng-class="sortClass('team_number')"></div>
                            </div><!-- /.dashboard-col__team dashboard-colHeader -->
                            @if (is_cc == true)
                            {
                                <div class="dashboard-col__alert dashboard-colHeader clearfix" ng-click="sort('team_number')">
                                    <div class="dashboard-colHeader__text">
                                        Campus Alert
                                    </div>
                                    <div class="dashboard-colHeader__sortArrow sortArrow" ng-class="sortClass('team_number')"></div>
                                </div><!-- /.dashboard-col__team dashboard-colHeader -->
                            }
                        </div><!-- /.dashboard-rowHeader -->

                        <div class="dashboard-rowbody" ng-repeat="report in reports | filter:casesFilterFunction"  ng-click="openCase(report.report_id)">
                            <div class="rowbody__colorLine colorLine" style="background-color:#{{report.case_color_code}}"></div><!-- /.rowbody__colorLine yellow -->
                            <div class="dashboard-col__case dashboard-colbody clearfix">
                                <div class="dashboard-col__case-text">
                                    {{report.case_number}}
                                </div><!-- /.dashboard-col__case-text -->
                            </div><!-- /.dashboard-col__case dashboard-colbody clearfix -->
						    <div class="dashboard-col__severity dashboard-colbody clearfix">
							    <div class="dashboard-col__severity-text" ng-class="severityClass(report)">
								    {{report.severity_s}}
							    </div><!-- /.dashboard-col__case-text -->
						    </div><!-- /.dashboard-col__severity dashboard-colbody clearfix -->


                            <div class="dashboard-col__stage dashboard-colbody clearfix">
                                <div class="dashboard-col__stage-type">
                                    {{report.current_status}}
                                </div><!-- /.dashboard-col__stage-type -->
                                <div class="dashboard-col__stage-date {{(report.days_left > 0) ? 'dashboard-col__stage-date_green' : 'dashboard-col__stage-date_red'}}" style="font-size: 10px;">
                                   {{report.under_status_message}} 
                                 </div>
                            </div>


                            <div class="dashboard-col__age dashboard-colbody clearfix">
                                <div class="dashboard-col__age-text">
                                    {{report.total_days}} {{report.total_days == 1 ? ' day' : ' days'}}
                                </div><!-- /.dashboard-col__age-text -->
                            </div><!-- /.dashboard-col__age dashboard-colbody clearfix -->
                            <div class="dashboard-col__incidentType dashboard-colbody clearfix">
                                <div class="dashboard-col__incidentType-text">
                                    {{report.case_secondary_types}}
                                </div><!-- /.dashboard-col__incidentType-text -->
                            </div><!-- /.dashboard-col__incidentType dashboard-colbody clearfix -->
                            <div class="dashboard-col__location dashboard-colbody clearfix">
                                <div class="dashboard-col__location-text">
                                    {{report.location}}
                                </div><!-- /.dashboard-col__location-text -->
                            </div><!-- /.dashboard-col__location dashboard-colbody clearfix -->
                            <div class="dashboard-col__reportDate dashboard-colbody clearfix">
                                <div class="dashboard-col__reportDate-text">
                                    {{report.reported_dt}}
                                </div><!-- /.dashboard-col__reportDate-text -->
                                <div class="dashboard-col__reportDate-text" ng-show="report.agentName!=''">
                                    <b>By Call Center Agent: {{report.agentName}}</b>
                                </div>
                            </div><!-- /.dashboard-col__reportDate dashboard-colbody clearfix -->
                            <div class="dashboard-col__messages dashboard-colbody clearfix">
                                <div class="dashboard-col__messages-text">
                                    {{report.messages_number}}
                                </div><!-- /.dashboard-col__messages-text -->
                            </div><!-- /.dashboard-col__messages dashboard-colbody clearfix -->
                            <div class="dashboard-col__tasks dashboard-colbody clearfix">
                                <div class="dashboard-col__tasks-text">
                                    {{report.tasks_number}}
                                </div><!-- /.dashboard-col__tasks-text -->
                            </div><!-- /.dashboard-col__tasks dashboard-colbody clearfix -->
                            <div class="dashboard-col__team dashboard-colbody clearfix">
                                <ul class="team-list clearfix">
                                    <li class="team-list__li" ng-repeat="mediator in report.mediators|limitTo:3">
                                        <a href="/settings/user/{{mediator.id}}" class=" team-list__a" title="{{mediator.first_nm}} {{mediator.last_nm}}">
                                            <img ng-src="{{mediator.photo_path == '' ? '/Content/Icons/noPhoto.png' : mediator.photo_path}}" alt="" class="team-list__logo" />
                                            <span class="profile-status" ng-class="{'online' :mediator.is_owner}" ng-show="mediator.is_owner == true"></span>
                                        </a>
                                    </li><!-- /.team-list__li -->
                                    <li class="team-list__li" ng-show="report.mediators.length > 3">
                                        <a href="#!" class="team-list__a">
                                            +
                                        </a>
                                    </li><!-- /.team-list__li -->
                                </ul><!-- /.team-list -->
                            </div><!-- /.dashboard-col__team dashboard-colbody clearfix -->
                            @if (is_cc == true)
                            {
                                <div class="dashboard-col__alert dashboard-colbody clearfix">
                                    <div class="dashboard-col__tasks-text">
                                        <img src="@Url.Content("~/Content/Icons/alarm-active.png")" ng-show="report.cc_is_life_threating == true" />
                                        <img src="@Url.Content("~/Content/Icons/alarm-default.png")" ng-show="report.cc_is_life_threating != true" />
                                    </div><!-- /.dashboard-col__tasks-text -->
                                </div><!-- /.dashboard-col__tasks dashboard-colbody clearfix -->
                            }
                        </div><!-- /.dashboard-rowbody -->

                    </div><!-- /.dashboard -->
                    <div class="divider p-tb-20"></div><!-- /.divider p-tb-20 -->
                </div><!-- /.container -->
            </div>
        </div>
    </div>
</div>