@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@using EC.Core.Common;

@{
    ViewBag.Title = GlobalRes.Activity;
    Layout = "~/Views/Shared/IndexPages/ReporterDashboard.cshtml";
    int user_id = (Int32)ViewBag.user_id;
    int report_id = (Int32)ViewBag.report_id;
    ReportModel rm = new ReportModel(report_id);
    UserModel um = new UserModel(user_id);
    int unread_message_number = um.Unread_Messages_Quantity(report_id, 1);
    var dth = new DateTimeHelper();
}

@if ((rm._report != null) && (rm._report.id != 0))
{
    <div class="settingMenu">
        <div class="settingMenuItems">
            <h2 class="mainTitle">@GlobalRes.Menu:</h2>
            <div>
                <a href="/ReporterDashboard/Index/@user_id" class="menuItem" style="padding-right:14px;">@GlobalRes.ReportSummaryUp</a>
                @if (unread_message_number > 0)
                {
                    <a href="/ReporterDashboard/Messages/@user_id" class="menuItem" style="padding-right:15px;">
                        @GlobalRes.Messages
                        <span>@unread_message_number</span>
                    </a>
                }
                else
                {
                    <a href="/ReporterDashboard/Messages/@user_id" class="menuItem" style="padding-right:50px;">
                        @GlobalRes.Messages
                    </a>
                }
                <a href="/ReporterDashboard/Activity/@user_id" class="menuItem ">@GlobalRes.Activity</a>
                <a href="/ReporterDashboard/Attachments/@user_id" class="menuItem settings active" style="margin-right:-2px;">@GlobalRes.Attachments</a>
            </div>
        </div>
    </div><!--settingMenu-->

    <div id="attachmentPage">
        @using (Html.BeginForm("Attachments", "Case", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Hidden("report_id", report_id)
            @Html.Hidden("mode", "upload_rd")
            <div class="dragAndDropContainer">
                <div class="dottedContainer">
                    <div class="semiboldText blackText weight18">Drag and drop files here</div>
                    <div class="secondSemiboldText">or</div>
                        <div class="selectFiles">
                            select files to upload
                            <input type="file" class="hiddenElement" name="files" multiple="" onchange="this.form.submit();">
                        </div>
                        
                </div>
            </div>
        }


        <table>
            <tbody>
                @{
                    var users = (List<user>)ViewBag.attachmentAdvUsers;
                }
                @foreach (attachment attachment in ViewBag.attachmentAdvFiles)
                {
                    var user = users.FirstOrDefault(x => x.id == attachment.user_id);
                    <tr>
                        <td class="image">
                            <img src="/Content/Icons/viewDoc2.png">
                        </td>
                        <td class="customWidth">
                            <p class="secondRow">
                            </p><div class="secondRowReporter">@(user == null ? "Anonymous reporter" : (user.first_nm + " " + user.last_nm).Trim())</div>
                            @attachment.file_nm
                            <p></p>
                        </td>
                        <td>
                            <p class="recipient">
                                @if (attachment.user_id != rm._report.reporter_user_id)
                                {
                                    @((attachment.visible_reporter == null || attachment.visible_reporter == true) ? "Visible to Reporter & Case Administrators" : "Visible to Case Administrators")
                                }
                                else
                                {
                                    <span>Uploaded by reporter</span>
                                }
                            </p>
                        </td>
                        <td>
                            <p class="date">
                                @dth.ConvertDateToShortString(attachment.effective_dt)
                            </p>
                            <p class="download">
                                <a href="@attachment.path_nm">download</a>
                            </p>
                            @*if (attachment.user_id == user_id)
                            {
                                <p class="download">
                                    @using (Html.BeginForm("AttachmentDelete", null, new { id = attachment.id, report_id }, FormMethod.Post, null))
                                    {
                                        <button type="submit">X</button>
                                    }
                                </p>
                            }*@
                        </td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>

}

<script>
    $(function () {
        if (typeof (window.FileReader) === 'undefined') {
            $('.dottedContainer .semiboldText').text('');
            $('.dottedContainer .secondSemiboldText').text('');
        }
        $(".dottedContainer").on("dragover", function (event) {
            event.preventDefault();
            event.stopPropagation();
        });

        $(".dottedContainer").on("dragleave", function (event) {
            event.preventDefault();
            event.stopPropagation();
        });

        $('.dottedContainer').on('drop', function () {
            event.preventDefault();
            event.stopPropagation();

            var data = new FormData();
            data.append('report_id', '@report_id');
            data.append('mode', 'upload_rd');
            data.append('type', $('.inputBlock > input:checked').val());
            for (var x = 0; x < event.dataTransfer.files.length; x++) {
                data.append('files' + x, event.dataTransfer.files[x]);
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("Attachments", "Case")',
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    window.location = window.location;
                },
                error: function (xhr, status, p3, p4) {
                }
            });
        });
    });
</script>