@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@using EC.Common.Interfaces;
@using EC.Core.Common;

@{
    IDateTimeHelper m_DateTimeHelper = new DateTimeHelper();
    ViewBag.Title = GlobalRes.ReporterDashboard;
    Layout = "~/Views/Shared/IndexPages/ReporterDashboard.cshtml";

    int user_id = (Int32)ViewBag.user_id;
    int report_id = (Int32)ViewBag.report_id;
    ReportModel rm = new ReportModel(report_id);
    List<report_non_mediator_involved> _involved = rm._witnesses;
    UserModel um = new UserModel(user_id);
    List<attachment> attachments = (List<attachment>)ViewBag.attachmentFiles;

    int unread_message_number = um.Unread_Messages_Quantity(report_id, 1);
    GlobalFunctions glb = new GlobalFunctions();
}

@if ((rm._report != null) && (rm._report.id != 0))
{
    <div class="settingMenu">
        <div class="settingMenuItems">
            <h2 class="mainTitle">@GlobalRes.Menu:</h2>
            <div>
                <a href="/ReporterDashboard/Index/@user_id" class="menuItem active" style="padding-right:14px;">@GlobalRes.ReportSummaryUp</a>


                @if (unread_message_number > 0)
                {
                    <a href="/ReporterDashboard/Messages/@user_id" class="menuItem" style="padding-right:15px;">
                        @GlobalRes.Messages
                        <span>@unread_message_number</span>
                    </a>
                }
                else
                {
                    <a href="/ReporterDashboard/Messages/@user_id" class="menuItem" style="padding-right:50px;">
                        @GlobalRes.Messages
                    </a>
                }
                <a href="/ReporterDashboard/Activity/@user_id" class="menuItem">@GlobalRes.Activity</a>
                @*<a href="/ReporterDashboard/Settings/@user_id" class="menuItem settings" style="margin-right:-2px;">@GlobalRes.Settings</a>*@
                <a href="/ReporterDashboard/Attachments/@user_id" class="menuItem settings" style="margin-right:-2px;">@GlobalRes.Attachments</a>
            </div>
        </div>
    </div><!--settingMenu-->

    <div class="blockReportSummary">

        <div class="selectedMenu">
            <div class="data">
                <div class="leftBlock">
                    <div class="listHead" style="font-weight: bold">@GlobalRes.Casestatus: <span class="review padText">@rm._investigation_status_string</span></div>
                    <div class="listLeft">
                        <p style="padding-top:4px">@GlobalRes.Datereported:</p>
                        <p style="padding-top:4px">@GlobalRes.Timeelapsed:</p>
                    </div>
                    <div class="listRight">
                        <p> @m_DateTimeHelper.ConvertDateToLongMonthString(rm._report.reported_dt)</p>
                        @if (rm._total_days == 1)
                        {
                            <p> @rm._total_days.ToString() @GlobalRes.day</p>

                        }
                        else
                        {
                            <p> @rm._total_days.ToString() @GlobalRes.days1</p>
                        }
                    </div>

                </div>
            </div>
        </div><!--selectedMenu-->


    </div><!--blockReportSummary-->

    <div class="blockReportSummary">

        @Html.Partial("~/Views/Shared/Partial/ReporterDashboard.cshtml", rm)

    </div><!--blockReportSummary-->
}

<script type="text/javascript">
    $(document).ready(function () {
        //Open mini menu for mobile
        $('.mainTitle').click(function () {
            $('.mainTitle+div').toggle();
        });

        //radioButton
        var radioBlock = $('.inputBlock');
        radioBlock.click(function () {
            var self = $(this);
            var arrows = self.parent('.inputRadio').parent('.rowBlock').parent('.blockSetting');
            arrows.find('.rowBlock').find('.inputRadio').css('background', 'rgb(255, 255, 255)');
            arrows.find('.rowBlock').find('.inputRadio').find('.radioTitle').css('color', 'rgb(174, 181, 183)');

            self.parent('.inputRadio').css('background', 'rgb(242, 247, 247)');
            self.find('.radioTitle').css('color', 'rgb(60, 62, 63)');
        });
    });
</script>