@using EC.Models;
@using EC.Models.Database;
@using EC.Common.Interfaces;
@using EC.Core.Common;
@using EC.Localization;

@{
    IDateTimeHelper m_DateTimeHelper = new DateTimeHelper();
    Layout = "~/Views/Shared/IndexPages/ReporterDashboard.cshtml";
    int user_id = (Int32)ViewBag.user_id;
    int report_id = (Int32)ViewBag.report_id;
    ReportModel rm = new ReportModel(report_id);
    List<report_non_mediator_involved>
    _involved = rm.GetWitnesses();
    UserModel um = new UserModel(user_id);
    List<attachment>
        attachments = (List<attachment>
            )ViewBag.attachmentFiles;

    int unread_message_number = um.Unread_Messages_Quantity(report_id, 1);
    GlobalFunctions glb = new GlobalFunctions();
    ViewBag.active = "Index";
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    String class_ext = "";
    if (is_cc.Value)
    {
        class_ext = "_cc";
    }
    ViewBag.Title = LocalizationGetter.GetString("ReporterDashboard", is_cc);
    var agentName = rm._reportStringModel.GetAgentName();
}

@if ((rm._report != null) && (rm._report.id != 0))
{
    { Html.RenderPartial("~/Views/ReporterDashboard/settingMenu.cshtml", new { user_id = user_id, unread_message_number = unread_message_number, active = "Index" }); }


    <div class="blockReportSummary">

        <div class="selectedMenu">
            <div class="data">
                <div class="leftBlock">
                    <div class="listHead" style="font-weight: bold">@LocalizationGetter.GetString("Casestatus", is_cc): <span class="review padText">@rm._reportStringModel.InvestigationStatusString()</span></div>
                    <div class="listLeft">
                        <p style="padding-top:4px">@LocalizationGetter.GetString("Datereported", is_cc):</p>
                        @if (rm._report.agent_id.HasValue && rm._report.agent_id != 0)
                        {
                        <p style="padding-top:4px">@LocalizationGetter.GetString("FiledCenterAgent", is_cc):</p>
                        }

                        <p style="padding-top:4px">@LocalizationGetter.GetString("Timeelapsed", is_cc):</p>
                    </div>
                    <div class="listRight">
                        <p> @m_DateTimeHelper.ConvertDateToLongMonthString(rm._report.reported_dt)</p>
                        @if (!String.IsNullOrWhiteSpace(agentName))
                        {
                            <p>@agentName</p>
                        }
                        @if (rm.GetTotalDays() == 1)
                        {
                            <p> @rm.GetTotalDays().ToString() @LocalizationGetter.GetString("day", is_cc)</p>

                        }
                        else
                        {
                            <p> @rm.GetTotalDays().ToString() @LocalizationGetter.GetString("days", is_cc)</p>
                        }
                    </div>

                </div>
            </div>
        </div><!--selectedMenu-->


    </div><!--blockReportSummary-->

    <div class="blockReportSummary">

        @Html.Partial("~/Views/Shared/Partial/ReporterDashboardPartial.cshtml", rm)

    </div><!--blockReportSummary-->
}
