@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@using EC.Common.Interfaces;
@using EC.Core.Common;

@{
    IDateTimeHelper m_DateTimeHelper = new DateTimeHelper();
    ViewBag.Title = GlobalRes.ReporterDashboard;
    Layout = "~/Views/Shared/IndexPages/ReporterDashboard.cshtml";

    int user_id = (Int32)ViewBag.user_id;
    int report_id = (Int32)ViewBag.report_id;
    ReportModel rm = new ReportModel(report_id);
    List<report_non_mediator_involved> _involved = rm.GetWitnesses();
    UserModel um = new UserModel(user_id);
    List<attachment> attachments = (List<attachment>)ViewBag.attachmentFiles;

    int unread_message_number = um.Unread_Messages_Quantity(report_id, 1);
    GlobalFunctions glb = new GlobalFunctions();
    ViewBag.active = "Index";
}

@if ((rm._report != null) && (rm._report.id != 0))
{
    { Html.RenderPartial("~/Views/ReporterDashboard/settingMenu.cshtml", new { user_id = user_id, unread_message_number = unread_message_number, active = "Index" }); }


    <div class="blockReportSummary">

        <div class="selectedMenu">
            <div class="data">
                <div class="leftBlock">
                    <div class="listHead" style="font-weight: bold">@GlobalRes.Casestatus: <span class="review padText">@rm.InvestigationStatusString()</span></div>
                    <div class="listLeft">
                        <p style="padding-top:4px">@GlobalRes.Datereported:</p>
                        <p style="padding-top:4px">@GlobalRes.Timeelapsed:</p>
                    </div>
                    <div class="listRight">
                        <p> @m_DateTimeHelper.ConvertDateToLongMonthString(rm._report.reported_dt)</p>
                        @if (rm.GetTotalDays() == 1)
                        {
                            <p> @rm.GetTotalDays().ToString() @GlobalRes.day</p>

                        }
                        else
                        {
                            <p> @rm.GetTotalDays().ToString() @GlobalRes.days1</p>
                        }
                    </div>

                </div>
            </div>
        </div><!--selectedMenu-->


    </div><!--blockReportSummary-->

    <div class="blockReportSummary">

        @Html.Partial("~/Views/Shared/Partial/ReporterDashboardPartial.cshtml", rm)

    </div><!--blockReportSummary-->
}

<script type="text/javascript">
    $(document).ready(function () {
        //radioButton
        var radioBlock = $('.inputBlock');
        radioBlock.click(function () {
            var self = $(this);
            var arrows = self.parent('.inputRadio').parent('.rowBlock').parent('.blockSetting');
            arrows.find('.rowBlock').find('.inputRadio').css('background', 'rgb(255, 255, 255)');
            arrows.find('.rowBlock').find('.inputRadio').find('.radioTitle').css('color', 'rgb(174, 181, 183)');

            self.parent('.inputRadio').css('background', 'rgb(242, 247, 247)');
            self.find('.radioTitle').css('color', 'rgb(60, 62, 63)');
        });
    });
</script>