@using EC.Localization;
@{ #line 2 "C:\EC\moss - Copy\moss - Copy\EC\Views\ReporterDashboard\settingMenu.cshtml"
                /**/

                bool? is_cc = ViewBag.is_cc;
                if (!is_cc.HasValue)
                {
                    is_cc = false;
                }
                String class_ext = "";
                if (is_cc.Value)
                {
                    class_ext = "_cc";
                }
}
<div class="settingMenu">
    <div class="settingMenuItems">
        <h2 class="mainTitle">
            @LocalizationGetter.GetString("Menu", is_cc):
        </h2>
        <div>
            <a href="/ReporterDashboard/Index/@ViewBag.user_id" class="menuItem @(ViewBag.active == "Index"?  "active" : "")" style="margin-right:44px;">
                @LocalizationGetter.GetString("ReportSummaryUp", is_cc)
            </a>

            @if (ViewBag.unread_message_number > 0)
            {
                <a href="/ReporterDashboard/Messages/@ViewBag.user_id" class="menuItem @(ViewBag.active == "Messages"?  "active" : "")" style="margin-right:45px;">
                    @LocalizationGetter.GetString("Messages", is_cc)
                    <span>@ViewBag.unread_message_number</span>
                </a>
            }
            else
            {
                <a href="/ReporterDashboard/Messages/@ViewBag.user_id" class="menuItem @(ViewBag.active == "Messages"?  "active" : "")" style="margin-right:80px;">
                    @LocalizationGetter.GetString("Messages", is_cc)
                </a>
            }
            <a href="/ReporterDashboard/Activity/@ViewBag.user_id" class="menuItem @(ViewBag.active == "Activity"?  "active" : "")">
                @LocalizationGetter.GetString("Activity", is_cc)
            </a>
            <div class="settings menuItem" style="margin-top: -4px">
                <a href="/ReporterDashboard/Attachments/@ViewBag.user_id" class="menuItem @(ViewBag.active == "Attachments"?  "active" : "")" style="margin-right:-2px;">
                    @LocalizationGetter.GetString("Attachments", is_cc)
                </a>
            </div>
        </div>
        @*<style>
            .classDispFlex {
                display: flex;
            }
        </style>
        <div class="classDispFlex">
            <div class="leftBlockMenu">
                <a href="/ReporterDashboard/Index/38449" class="">
                    Report Summary
                </a>

                <a href="/ReporterDashboard/Messages/38449" class="">
                    Messages
                </a>
                <a href="/ReporterDashboard/Activity/38449" class="">
                    Activity
                </a>
            </div>

            <div class="rightBlockMenu">
                <a href="/ReporterDashboard/Attachments/38449" class="">
                    Attachments
                </a>
            </div>

        </div>*@
    </div>
</div><!--settingMenu-->