@{
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }

    var user_id = ViewBag.user_id;
    EC.Models.UserModel um = new EC.Models.UserModel(user_id);

    EC.Models.ReportModel rm = new EC.Models.ReportModel();
    int _report_id = 0;
    int investigationstatus = 1;
    if ((ViewBag.report_id != null) && ((int)ViewBag.report_id != 0))
    {
        _report_id = (int)ViewBag.report_id;
        rm = new EC.Models.ReportModel(_report_id);

        investigationstatus = rm._investigation_status;
    }

    var unread_report_number = um.UnreadReport(0, 0).Count;
    var unread_report_number_string = "";
    if (unread_report_number > 0)
    {
        unread_report_number_string = unread_report_number.ToString();
    }

    int unread_message_number = um.Unread_Messages_Quantity(_report_id, 1) + um.Unread_Messages_Quantity(_report_id, 2) + um.Unread_Messages_Quantity(_report_id, 3);
    var unread_message_number_string = "";
    if (unread_message_number > 0)
    {
        unread_message_number_string = unread_message_number.ToString();
    }

    int unread_task_number = um.UnreadTasksQuantity(0, true, 1);
    var unread_task_number_string = "";
    if (unread_task_number > 0)
    {
        unread_task_number_string = unread_task_number.ToString();
    }
}

<div class="container-fluid">
    <ol class="progress-steps progress-steps_5-steps clearfix">
        <li class="progress-steps__li @(investigationstatus > 0 ? "done": "") @(investigationstatus == 1 ? "current": "")">
            <div class="progress-steps__text">New report</div>
        </li>
        <li class="progress-steps__li @(investigationstatus > 1 ? "done": "") @(investigationstatus == 2 ? "current": "")">
            <div class="progress-steps__text">New case</div>
        </li>
        <li class="progress-steps__li @(investigationstatus > 2 ? "done": "") @(investigationstatus == 3 ? "current": "")">
            <div class="progress-steps__text">Under Investigation</div>
        </li>
        <li class="progress-steps__li @(investigationstatus > 3 ? "done": "") @(investigationstatus == 4 ? "current": "")">
            <div class="progress-steps__text">Awaiting Sign-Off</div>
        </li>
        <li class="progress-steps__li @(investigationstatus > 4 ? "done": "") @(investigationstatus == 5 ? "current": "")">
            <div class="progress-steps__text">Closed</div>
        </li>
    </ol>
</div>
@{ 
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<div class="container mainNavigationTabs_color">
    <div class="mainNavigationTabs clearfix">
        <ul class="mainNavigationTabs__tabs-ul clearfix">
            <li class="mainNavigationTabs__tab-link @(action == "index" ? "active" : "")" data-tab="mainTab-1">
                <a href="@Url.Action("Index", new { report_id = ViewBag.report_id })">
                    <div class="mainNavigationTabs__tab-name">Report</div>
                </a>
                <div class="mainNavigationTabs__badgeCount"></div>
            </li>
            <li class="mainNavigationTabs__tab-link @(action == "investigationnotes" || action == "caseclosurereport" ? "active" : "")" data-tab="mainTab-2">
                <a href="@Url.Action("InvestigationNotes", new { report_id = ViewBag.report_id })">
                    <div class="mainNavigationTabs__tab-name">Investigation Notes</div>
                </a>
                <div class="mainNavigationTabs__badgeCount"></div>
            </li>
            <li class="mainNavigationTabs__tab-link @(action == "tasks" ? "active" : "") mainNavigationTabs__badgeCount_enable" data-tab="mainTab-3">
                <a href="@Url.Action("Tasks", new { report_id = ViewBag.report_id })">
                    <div class="mainNavigationTabs__tab-name">Tasks</div>
                </a>
                @if (unread_task_number > 0)
                {
                    <div class="mainNavigationTabs__badgeCount">@unread_task_number_string</div>
                }
            </li>
            <li class="mainNavigationTabs__tab-link @(action == "messages" ? "active" : "") mainNavigationTabs__badgeCount_enable" data-tab="mainTab-4">
                <a href="@Url.Action("Messages", new { report_id = ViewBag.report_id })">
                    <div class="mainNavigationTabs__tab-name">Messages</div>
                </a>
                @if (unread_message_number > 0)
                {
                    <div class="mainNavigationTabs__badgeCount">@unread_message_number_string</div>
                }
            </li>
            <li class="mainNavigationTabs__tab-link @(action == "team" ? "active" : "")" data-tab="mainTab-5">
                <a href="@Url.Action("Team", new { report_id = ViewBag.report_id })">
                    <div class="mainNavigationTabs__tab-name">Team</div>
                </a>
                <div class="mainNavigationTabs__badgeCount"></div>
            </li>
        </ul>

        <ul class="mainNavigationTabs__rightLinks-ul clearfix">
            <li class="mainNavigationTabs__rightLinks-li @(action == "attachments" ? "active" : "")">
                <a href="@Url.Action("Attachments", new { report_id = ViewBag.report_id })" class="mainNavigationTabs__rightLinks-a">
                    <div class="mainNavigationTabs__tab-name">Attachments</div>                    
                </a>
            </li>
            @if ((is_cc == true) && (rm._report.cc_is_life_threating == true))
            {
                <li class="mainNavigationTabs__rightLinks-li mainNavigationTabs__changeTab @(action == "activity" ? "active" : "")" data-tab="mainTab-activity">
                    <a href="" class="mainNavigationTabs__rightLinks-a">
                        <img src="@Url.Content("~/Content/img/alarm-active.png")" />
                    </a>
                </li>
            }
            <li class="mainNavigationTabs__rightLinks-li mainNavigationTabs__changeTab @(action == "activity" ? "active" : "")" data-tab="mainTab-activity">
                <a href="@Url.Action("Activity", new { report_id = ViewBag.report_id })" class="mainNavigationTabs__rightLinks-a">
                    <img src="/Content/Icons/activityIcon.png" alt="Activity" />
                </a>
            </li>
        </ul>
    </div>
</div>