@using EC.Models;
@using EC.Models.Database;
@using EC.Localization;
@using EC.Common.Interfaces;
@using EC.Core.Common;
@model ReportModel
@{
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    ReportModel rm = Model;
    List<report_non_mediator_involved> _involved = rm.GetWitnesses();
    IDateTimeHelper m_DateTimeHelper = new DateTimeHelper();
    List<attachment> attachments = ViewBag.attachmentAdvFiles;
    if (ViewBag.attachmentAdvFiles == null)
    {
        ViewBag.attachmentAdvFiles = new List<attachment>();
    }
    var agentName = rm._reportStringModel.GetAgentName();
}
<div class="content">
    <div class="post">
        <div class="dataPosts">
            <div class="leftBlock">
                <div class="listHead">@LocalizationGetter.GetString("GeneralInformation"):</div>
                <div class="reportBlock">
                    <div class="report">
                        <div class="titleReport">@LocalizationGetter.GetString("ReportingFrom"):</div>
                        <div class="reportText">@rm._reportStringModel.CountryString()</div>
                    </div>

                    <div class="report">
                        <div class="titleReport">@LocalizationGetter.GetString("ConfidentialityLevel"):</div>
                        <div class="reportText">@rm._anonymousLevel_reporterVersion()</div>
                    </div>

                    @if (rm._report.incident_anonymity_id == 3)
                    {
                        <div class="report">
                            <div class="titleReport">
                                @LocalizationGetter.GetString("Reportername")
                            </div>
                            <div class="reportText">
                                <text>
                                    @rm._reporter_user.first_nm
                                    @rm._reporter_user.last_nm
                                </text>

                            </div>
                        </div>
                        <div class="report">
                            <div class="titleReport">
                                @LocalizationGetter.GetString("Email")
                            </div>
                            <div class="reportText">
                                @rm._reporter_user.email
                            </div>
                        </div>
                        if (rm._reporter_user.phone != null && rm._reporter_user.phone != "")
                        {
                            <div class="report">
                                <div class="titleReport">
                                    @LocalizationGetter.GetString("Phone")
                                </div>
                                <div class="reportText">
                                    @rm._reporter_user.phone
                                </div>
                            </div>
                        }
                    }

                    <div class="report">
                        <div class="titleReport">@LocalizationGetter.GetString("Reportedas"):</div>
                        <div class="reportText">@rm._reportStringModel.ReporterCompanyRelationShort()</div>
                    </div>
                    @if (!String.IsNullOrEmpty(rm._report.not_current_employee))
                    {
                        <div class="report">
                            <div class="titleReport">&nbsp;</div>
                            <div class="reportText">
                                @rm._report.not_current_employee
                            </div>
                        </div>
                    }
                    <div class="report">
                        <div class="titleReport">@LocalizationGetter.GetString("Incidentlocation"):</div>
                        <div class="reportText">@rm._reportStringModel.LocationString()</div>
                    </div>
                    <div class="report">
                        <div class="titleReport">@LocalizationGetter.GetString("AffectedDepartment"):</div>
                        <div class="reportText">@rm._reportStringModel.DepartmentsString(is_cc.Value)</div>
                    </div>
                </div><!--reportBlock-->
            </div><!--leftBlock-->
        </div><!--dataPosts-->
    </div><!--post-->
</div>
<div class="content">
    <div class="post">
        <div class="dataPosts">
            <div class="leftBlock">
                <div class="listHead">@LocalizationGetter.GetString("PartiesInvolved")</div>
                <div class="reportBlock">
                    <div class="report">
                        <div class="titleReport">
                            @LocalizationGetter.GetString("ReportingOnBehalf")
                        </div>
                        <div class="reportText">
                            @(rm._report.report_by_myself ? @LocalizationGetter.GetString("Myself") : @LocalizationGetter.GetString("SomeoneElse"))
                        </div>
                    </div>
                    @if (_involved != null && _involved.Count > 0)
                    {
                        <table>
                            <tbody>
                                @foreach (var witness in _involved)
                                {
                                    <tr>
                                        <td class="positionTitleReport">@Html.Raw(@witness.Name + " " + @witness.last_name)</td>
                                        <td class="positionReportText reportTextBlack">@Html.Raw(@witness.Title + ", " + @witness.Role)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    @if (rm.InvolvedMediatorsUserList().Count > 0)
                    {
                        <div class="report">
                            <div class="titleReport">@LocalizationGetter.GetString("Mediatorsinvolved")</div>
                            <div class="reportText">&nbsp;</div>
                            @foreach (user witness in rm.InvolvedMediatorsUserList())
                            {
                                <div class="titleReport">@witness.first_nm @witness.last_nm</div>
                                <div class="reportText"> @witness.title_ds @witness.notepad_tx</div>
                            }
                        </div>
                    }
                    <div class="report">
                        <div class="titleReport">@LocalizationGetter.GetString("Doesmanagementknowaboutthisincident")</div>
                        <div class="reportText">
                            @rm._reportStringModel.ManagementKnowString()
                        </div>
                    </div>
                    @if (!String.IsNullOrEmpty(rm._report.management_know_text))
                    {
                        <div class="report">
                            <div class="titleReport">&nbsp;</div>
                            <div class="reportText">
                                @rm._report.management_know_text
                            </div>
                        </div>
                    }

                    <div class="report">
                        <div class="titleReport">@LocalizationGetter.GetString("Hascasereportedoutside")</div>
                        <div class="reportText" style="height: 55px; ">@rm._reportStringModel.IsReportedOutside()</div>
                        @if (!String.IsNullOrEmpty(rm._report.reported_outside_text))
                        {
                            <div class="titleReport">&nbsp;</div>
                            <div class="reportText">
                                @rm._report.reported_outside_text
                            </div>
                        }
                    </div>
                    <div class="report">
                        <div class="titleReport">@LocalizationGetter.GetString("IsCaseUrgent_q")</div>
                        <div class="reportText">@rm._reportStringModel.IsReportedUrgent()</div>
                    </div>

                </div><!--reportBlock-->
            </div><!--leftBlock-->
        </div><!--dataPosts-->
    </div><!--post-->
</div><!--content-->
<div class="content">
    <div class="post">
        <div class="dataPosts">
            <div class="leftBlock">
                <div class="listHead">@LocalizationGetter.GetString("CaseInformation")</div>
                <div class="reportBlock">
                    <div class="report">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="positionTitleReport">@LocalizationGetter.GetString("IncidentType"):</td>
                                    <td class="positionReportText reportTextBlack">@rm._reportStringModel.SecondaryTypeString()</td>
                                </tr>
                                <tr>
                                    <td class="positionTitleReport">@LocalizationGetter.GetString("IncidentDateUp"):</td>
                                    <td class="positionReportText reportTextBlack">@m_DateTimeHelper.ConvertDateToLongMonthString(rm._report.incident_dt)</td>
                                </tr>
                                @if (!String.IsNullOrWhiteSpace(agentName))
                                {
                                    <tr>
                                        <td class="positionTitleReport">
                                            @LocalizationGetter.GetString("FiledCenterAgent", is_cc):
                                        </td>
                                        <td class="positionReportText reportTextBlack">
                                            @rm._reportStringModel.GetAgentName()
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td class="positionTitleReport">@LocalizationGetter.GetString("isOngoing"):</td>
                                    <td class="positionReportText reportTextBlack">@rm._reportStringModel.IsOngoing()</td>
                                </tr>
                                @if (!String.IsNullOrEmpty(rm._report.report_frequency_text))
                                {
                                    <tr>
                                        <td class="positionTitleReport">&nbsp;</td>
                                        <td class="positionReportText reportTextBlack">
                                            @rm._report.report_frequency_text
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td class="positionTitleReport">@LocalizationGetter.GetString("incidentResult"):</td>
                                    <td class="positionReportText reportTextBlack">@rm._reportStringModel.HasInjuryDamage()</td>
                                </tr>
                                @if (!String.IsNullOrEmpty(rm._report.injury_damage))
                                {
                                <tr>
                                    <td class="positionTitleReport">&nbsp;</td>
                                    <td class="positionReportText reportTextBlack">
                                        @rm._report.injury_damage
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <div class="titleReportAll">
                            <div class="incidentDescription">
                                <p class="titleIncidentDescription">@LocalizationGetter.GetString("IncidentDescription"):</p>
                                <div class="text" style="float: left;padding-top:10px">
                                    @rm._report.description
                                </div>
                            </div>
                        </div>
                        @if (attachments.Count > 0 )
                        {
                            <p>
                                Attached evidence:
                            </p>
                        }


                        <div class="files">
                            @foreach (var file in attachments)
                            {
                                <div class="item">
                                    <div class="imgCorner">
                                        <img src='@Url.Content("/Content/Icons/generic-file.png")'>
                                        <div class="square"></div>
                                        <div class="treangle"></div>
                                    </div>
                                    <div class="description">
                                        @file.file_nm
                                        <div class="download">
                                            <a href="@file.path_nm" download>@LocalizationGetter.GetString("Download").ToLower()</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="reportBlock">
                    <table style="width:28%;">
                        <tr>
                            <td>@LocalizationGetter.GetString("Download") @LocalizationGetter.GetString("report") </td>
                            <td>
                                <a href="/ReporterDashboard/PrintToPdf/@ViewBag.guid" class="menuItem" target="_blank" style="padding: 0 10px;">
                                    <img src="http://stark.employeeconfidential.com/Content/Icons/print-icon.png" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!--content-->
