@using EC.Models;
@using EC.Models.Database;
@using EC.Localization;
@using EC.Constants;

@{
    ViewBag.Title = LocalizationGetter.GetString("CaseFlowSettings");
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    int _total = 0, step1Delay = 0, step2Delay = 0, step3Delay = 0, step4Delay = 0, step5Delay = 0;
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    String class_ext = ViewBag.cc_extension;

    var um = (UserModel)ViewBag.um;
    var user_id = um.ID;
    var role_id = um._user.role_id;
    bool is_valid_mediator = (um._user.user_permissions_change_settings == 1 || um._user.role_id == ECLevelConstants.level_supervising_mediator);

}
@model  company

<input type="hidden" value="@ViewBag.companyId" id="companyId" />
<input type="hidden" value="@is_valid_mediator" id="is_valid_mediator" />

<div class="blockSettings">
    @using (Html.BeginForm("UpdateCompany", "SettingsController", Model, FormMethod.Post))
    {
        _total = Model.step1_delay + Model.step2_delay + Model.step3_delay + Model.step4_delay + Model.step5_delay;
        step1Delay = Model.step1_delay;
        step2Delay = Model.step2_delay;
        step3Delay = Model.step3_delay;
        step4Delay = Model.step4_delay;
        step5Delay = Model.step5_delay;
        @Html.HiddenFor(model => model.id, new { @class = "companyIdHidden" })


        int active = 5;
        @Html.Partial("~/Views/Settings/partial/casesHeared.cshtml", active)


        <div class="caseWorkflowPosition">
            <div class="caseFlow">
                <div class="caseFlowTop">
                    <div class="caseFlowTopContent">
                        <p class="first">
                            <span class="left OpenSansRegular greyText upperCase">Deadlines</span>
                            <span class="right fontSize16">
                                <span class="OpenSansRegular greyText upperCase">Case Management Turnaraound Time:</span>
                                <span class="OpenSansBold">
                                    <span class="redText upperCase" id="totalTime">@_total days</span>
                                </span>
                            </span>
                        </p>
                        <p class="second fontSize14">
                            <span class="right upperCase">
                                <span class="lightgreyText">@LocalizationGetter.GetString("Recommended"):</span>
                                <span class="darkText">22 days</span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="caseFlowBottom">
                    <div class="special" href="#">
                        <div class="greenBlock"></div>
                        <span class="text">@LocalizationGetter.GetString("ReviewReportUp")</span>
                        <div class="someDropdowns">
                            <div class="show">
                                @Html.DisplayFor(model => model.step1_delay) <img src="/Content/img/arrowSelect.png">
                            </div>
                            @for (int i = 1; i <= 3; i++)
                            {
                                <div class="hide">@i</div>
                            }
                        </div>
                        <span class="bottomText">@LocalizationGetter.GetString("Recommended"): <span class="moreBlack">1 day</span></span>
                    </div>
                    <div class="special borderLeft borderRight">
                        <div class="greenBlock"></div>
                        <span class="text">@LocalizationGetter.GetString("AcceptCaseUp")</span>
                        <div class="someDropdowns">
                            <div class="show">
                                @Html.DisplayFor(model => model.step2_delay) <img src="/Content/img/arrowSelect.png">
                            </div>
                            @for (int i = 1; i <= 5; i++)
                            {
                                <div class="hide">@i</div>
                            }
                        </div>
                        <span class="bottomText">@LocalizationGetter.GetString("Recommended"): <span class="moreBlack">2 days</span></span>
                    </div>
                    <div class="special borderRight">
                        <div class="greenBlock"></div>
                        <span class="text">@LocalizationGetter.GetString("Investigation")</span>
                        <div class="someDropdowns">
                            <div class="show">
                                @Html.DisplayFor(model => model.step3_delay) <img src="/Content/img/arrowSelect.png">
                            </div>
                            @for (int i = 1; i <= 60; i++)
                            {
                                <div class="hide">@i</div>
                            }


                        </div>
                        <span class="bottomText">@LocalizationGetter.GetString("Recommended"): <span class="moreBlack">14 days</span></span>
                    </div>
                    <div class="special">
                        <div class="greenBlock"></div>
                        <span class="text">@LocalizationGetter.GetString("AwaitingSignOff")</span>
                        <div class="someDropdowns">
                            <div class="show">
                                @Html.DisplayFor(model => model.step4_delay) <img src="/Content/img/arrowSelect.png">
                            </div>
                            @for (int i = 1; i <= 21; i++)
                            {
                                <div class="hide">@i</div>
                            }
                        </div>
                        <span class="bottomText">@LocalizationGetter.GetString("Recommended"): <span class="moreBlack">5 days</span></span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
