@using EC.App_LocalResources;
@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.Localization;
@using EC.Constants;

@{
    ViewBag.Title = "Case Routing";
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    var um = (UserModel)ViewBag.um;
    var user_id = um.ID;
    var role_id = um._user.role_id;
    bool is_valid_mediator = false;
    if (role_id == ECLevelConstants.level_supervising_mediator)
    {
        is_valid_mediator = true;
    }
    if (um._user.user_permissions_change_settings == 1)
    {
        is_valid_mediator = true;
    }
    var is_invalid_mediator = (!is_valid_mediator).ToString().ToLower();
}

<div class="blockSettings">
    @{
        int active = 7;
    }
    @Html.Partial("~/Views/Settings/partial/casesHeared.cshtml", active)

            <div id="caseRouting" class="blockCaseRouting" ng-controller="SettingsCompanyRoutingController" ng-cloak>
                <div class="positionTableCases">
                    <p style="float: left">Routing by Location</p>
                    <input type="checkbox" style="float: right" class="bigCheckBox" ng-checked="RoutingByLocation" checked="checked">
                    <table class="tableCasesIndex">
                        <thead>
                            <tr>
                                <td width="300px">Location</td>
                                <td>Case Manager</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="line in locationItems">
                                <td class="ng-binding">{{locationName(line.company_location_id).location_en}}</td>
                                <td class="inSelect">
                                    <select ng-change="changeLineLocation(line)" ng-model="line.user_id" ng-options="item.id as userName(item) for item in usersLocation" ng-disabled="@is_invalid_mediator"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <p style="margin-top: 40px;">Routing by Incident Type</p>
                    <table class="tableCasesIndex">
                        <thead>
                            <tr>
                                <td width="300px">Incident Type</td>
                                <td>Department</td>
                                <td>Issue Owner</td>
                                <td>Scope</td>
                                <td>Policy</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="line in items">
                                <td class="ng-binding">{{typeName(line.company_secondary_type_id).secondary_type_en}}</td>
                                <td class="inSelect">
                                    <select ng-change="changeLine(line)" ng-model="line.company_case_admin_department_id" ng-options="item.id as item.department_en for item in departments" ng-disabled="@is_invalid_mediator"></select>
                                </td>
                                <td class="inSelect">
                                    <select ng-change="changeLine(line)" ng-model="line.user_id" ng-options="item.id as userName(item) for item in users" ng-disabled="@is_invalid_mediator"></select>
                                </td>
                                <td class="inSelect">
                                    <select ng-change="changeLine(line)" ng-model="line.scope_id" ng-options="item.id as item.scope_en for item in scopes" ng-disabled="@is_invalid_mediator"></select>
                                </td>
                                <td class="ng-binding">
                                    <div class="button" ng-click="fileSelect(line)" onclick="$(this).parent().find('input').click()" ng-hide="@is_invalid_mediator">
                                        Upload
                                    </div>
                                    <input type="file" style="display: none;" onchange="angular.element(this).scope().upload(this); return false;">
                                    <div ng-repeat="file in files | filter: { company_case_routing_id: line.id }:true">
                                        <div>
                                            <span style="font-size: 14px;">
                                                <a href="{{file.path_nm}}">{{file.file_nm}}</a>
                                            </span>
                                            <span>
                                                <a href="" ng-click="delete(file.id)" ng-hide="@is_invalid_mediator">X</a>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
</div>
