@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@{
    ViewBag.Title = GlobalRes.CompanySettings;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    var um = (UserModel)ViewBag.um;
    var user_id = um.ID;
    var role_id = um._user.role_id;
    bool is_valid_mediator = false;
    if (role_id == Constant.level_supervising_mediator)
    {
        is_valid_mediator = true;
    }
    var cm = (CompanyModel)ViewBag.cm;
    int company_id = cm._company.id;
    if(string.IsNullOrEmpty(cm._company.path_en))
    {
        cm._company.path_en = "~/Content/img/logoDefaultCompany.png";
    }
    bool is_cc = ViewBag.is_cc;
    String class_ext = ViewBag.cc_extension;
}

<div id="companyId" data-value="@company_id"></div>
<div id="userId" data-value="@user_id"></div>
<div class="blockSettings">
    <!--casesHeared-->
    @{
        int active = 3;
    }
    @Html.Partial("~/Views/Settings/partial/casesHeared.cshtml", active)
    <!--casesHeared-->

    <div class="contentSettings secondHeader">
        <div class="headerCompanyProfile">
            <div class="headerBlock">
                <label class="blockImg">
                    <form action="@Url.Action("AddLogoCompany")" method="post" enctype="multipart/form-data" onsubmit="return handleSubmit(this);">
                        <img id="logoCompany" src='@Url.Content(cm._company.path_en)' />
                        @if (is_valid_mediator)
                        {
                            <input type="file" accept="image/*" id="_file" name="_file" multiple="multiple" style="width: 1px;height: 1px;opacity: 0;" />
                        }
                    </form>
                    @if (is_valid_mediator)
                    { 
                    <div id="hoverCompanyPhoto">
                        <label class="newImageBtn">@GlobalRes.Newimage</label>
                    </div>
                    }
                </label>

                <div class="blockText">
                    <p class="title">@cm._company.company_nm</p>
                    <a href=@cm._company_subdomain>@cm._company_subdomain</a>
                </div>
            </div>
            <div class="menuCompanyProfile">
                <div class="settingMenuItems">
                    <h2 class="menuItem active">@GlobalRes.Locations</h2>
                    <h2 class="menuItem">@GlobalRes.Departments</h2>
                    <h2 class="menuItem">@GlobalRes.Languages</h2>
                    <h2 class="menuItem">@GlobalRes.IncidentTypes</h2>
                    <h2 class="menuItem">@GlobalRes.ReporterTypes</h2>
                    <h2 class="menuItem">@GlobalRes.Anonymity</h2>
                </div>
            </div><!--menuCompanyProfile-->
        </div>
    </div><!--contentSettings.secondHeader-->
    <div class="contentCompanyProfile contentCompanyProfile@{@class_ext}">
        <div class="contentSettings">
            <div class="blockLocations">
                    @if (is_valid_mediator)
                    {
                    <div class="addLocationBtn" id="addInputLoc">
                        <!--After click Btn - add class inactive-->
                        <p>@GlobalRes.addnewLocation</p>
                    </div>
                    }
                <div class="addLocationBtn" id="addLocBtn" style="width: auto;">
                    <!--After click Btn - add class inactive-->
                    <p style=" min-width: 50px;">@GlobalRes.Add</p>
                </div>
                <div class="addNewLocation">
                    <input type="text" name="newLocationName" required="" value="">
                    <div class="closeIcon"></div>
                </div>
                <div class="tableLocation">
                    @foreach (company_location _location in cm.Locations(company_id, 2))
                    {
                        <div style="display: flex;">
                            <p>@_location.location_en</p>
                            @if (is_valid_mediator)
                            {
                                <div data-value="@_location.id" class="deleteLocation"></div>
                            }
                        </div>
                    }
                </div>

            </div><!--blockLocations-->


            <div class="blockDepartmens" style="display: none;">
                    @if (is_valid_mediator)
                    {
                <div class="addDepartmentBtn" id="addInputDep">
                    <!--After click Btn - add class inactive-->
                    <p>@GlobalRes.addnewDepartment</p>
                </div>
                    }
                <div class="addDepartmentBtn" id="addDepBtn" style="width: auto;">
                    <!--After click Btn - add class inactive-->
                    <p style="min-width: 50px;">@GlobalRes.Add</p>
                </div>
                <div class="addNewDepartment">
                    <input type="text" name="newDepartmenName" required="" value="">
                    <div class="closeIcon"></div>
                </div>
                <div class="tableDepartment">
                    @foreach (company_department _department in cm.CompanyDepartmentsActive(company_id))
                    {
                        <div style="display: flex;">
                            <p>@_department.department_en</p>
                            @if (is_valid_mediator)
                             {
                                <div data-value="@_department.id" class="deleteDepartment"></div>
                            }
                        </div>
                    }
                </div>
            </div><!--blockDepartmens-->

            <div class="blockLanguages" style="display: none;">
                <p>This version is only available in English</p>
                <div class="tableLanguage">
                    <div style="display: flex;">
                        <p>@GlobalRes.English</p>
                    </div>
                </div>

            </div><!--blockLocations-->


            <div class="blockIncidentTypes" style="display: none;">
                 @if (is_valid_mediator)
                    {
                <div class="addIncidentTypeBtn" id="addInputIncType">
                    <!--After click Btn - add class inactive-->
                    <p>@GlobalRes.addnewIncidentType</p>
                </div>
                }
                <div class="addIncidentTypeBtn" id="addIncBtn" style="width: auto;">
                    <!--After click Btn - add class inactive-->
                    <p style=" min-width: 50px;">@GlobalRes.Add</p>
                </div>
                <div class="addNewIncidentType">
                    <input type="text" name="newIncidentTypeName" required="" value="">
                    <div class="closeIcon"></div>
                </div>
                <div class="tableIncidentType">
                    @foreach (DictionaryEntry _entry in cm.CompanyIncidentTypes(company_id))
                    {
                        <div style="display: flex;">
                            <p>@_entry.Value</p>
                            @if (is_valid_mediator)
                            {
                                <div class="deleteIncidentType" data-value="@_entry.Key"></div>
                            }
                        </div>
                    }

                </div>
            </div><!--blockIncidentTypes-->

            <div class="blockReporterTypes" style="display: none;">
                    @if (is_valid_mediator)
                    {
                    <div class="addReporterTypeBtn" id="addInputRepType">
                        <!--After click Btn - add class inactive-->
                        <p>@GlobalRes.addnewReporterType</p>
                    </div>
                    }
                <div class="addReporterTypeBtn" id="addRepBtn" style="width: auto;">
                    <!--After click Btn - add class inactive-->
                    <p style=" min-width: 50px;">@GlobalRes.Add</p>
                </div>
                <div class="addNewReporterType">
                    <input type="text" name="newReporterTypeName" required="" value="">
                    <div class="closeIcon"></div>
                </div>
                <div class="tableReporterType">
                    @foreach (DictionaryEntry _entry in cm.CompanyReporterTypes(company_id))
                    {
                        <div style="display: flex;">
                            <p>@_entry.Value</p>
                            @if (is_valid_mediator)
                            {
                                <div data-value="@_entry.Key" class="deleteReporterType"></div>
                            }
                        </div>
                    }

                </div>
            </div><!--blockReporterType-->
            <div class="blockAnonymity" style="display: none;">

                <div class="tableAnonymity">
                    @if (ViewBag.CA != null)
                    {
                        foreach (EC.Controllers.ViewModel.AnonimityViewModel item in ViewBag.CA)
                        {
                            <div style="display: flex;">
                                <p style="width: 88%;">@string.Format(item.anonymity.anonymity_en, cm._company.company_nm)</p>
                                <input type="checkbox" class="bigCheckBox" disabled checked="@item.isChecked" />
                                <div data-value="@item.anonymity.id"></div>
                            </div>

                        }

                    }
                </div>
            </div><!--blockReporterType-->

        </div><!--contentSettings-->
    </div><!--contentCompanyProfile-->

</div>
<input type="hidden" id="urlAjaxUploadFiles" from="Company" value="@Url.Action("AddLogoCompany", "Settings")" />
<input type="hidden" id="sendAjax" value="@Url.Action("addNewfunction", "Settings")"/>