@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.Localization;
@using EC.Constants;
@{

    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    var um = (UserModel)ViewBag.um;
    var user_id = um.ID;
    var role_id = um._user.role_id;
    bool is_valid_mediator = false;
    if (role_id == ECLevelConstants.level_supervising_mediator)
    {
        is_valid_mediator = true;
    }
    if (um._user.user_permissions_change_settings == 1)
    {
        is_valid_mediator = true;
    }
    var is_invalid_mediator = (!is_valid_mediator).ToString().ToLower();
    var cm = (CompanyModel)ViewBag.cm;
    int company_id = cm._company.id;
    if (string.IsNullOrEmpty(cm._company.path_en))
    {
        cm._company.path_en = "~/Content/img/logoDefaultCompany.png";
    }
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    //is_cc = true;
    String class_ext = ViewBag.cc_extension;
    ViewBag.Title = LocalizationGetter.GetString("CompanySettings", is_cc);
}
<style>
    .oldstyle {
        display: table !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .moldstyle {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
</style>
<div id="companyId" data-value="@company_id"></div>
<div id="userId" data-value="@user_id"></div>
<div class="blockSettings">
    <!--casesHeared-->
    @{
        int active = 3;
    }
    @Html.Partial("~/Views/Settings/partial/casesHeared.cshtml", active)
    <!--casesHeared-->
    <div class="contentSettings secondHeader oldstyle">
        <div class="headerCompanyProfile">
            <div class="headerBlock">
                <div class="blockImg">
                    <form action="@Url.Action("AddLogoCompany")" method="post" enctype="multipart/form-data" onsubmit="return handleSubmit(this);">
                        <img id="logoCompany" src='@Url.Content(cm._company.path_en)' />
                        @if (is_valid_mediator)
                        {
                            <input type="file" accept="image/*" id="_file" name="_file" multiple="multiple" style="width: 1px;height: 1px;opacity: 0;" />
                        }
                    </form>
                    @if (is_valid_mediator)
                    {
                        <div id="hoverCompanyPhoto">
                            <label class="newImageBtn">@LocalizationGetter.GetString("Newimage")</label>
                        </div>
                    }
                </div>
                <div class="blockText">
                    <p class="title">@cm._company.company_nm</p>
                    @*
                        <a href="@cm._company_subdomain"> @cm._company_subdomain </a>
                    *@
                </div>
            </div>
            <div class="menuCompanyProfile">
                <div class="settingMenuItems">
                    <h2 class="menuItem moldstyle active">@LocalizationGetter.GetString("Departments")</h2>
                    <h2 class="menuItem moldstyle">@LocalizationGetter.GetString("Locations")</h2>
                    @*<h2 class="menuItem">@LocalizationGetter.GetString("Languages")</h2>*@
                    <h2 class="menuItem moldstyle">@LocalizationGetter.GetString("IncidentTypes")</h2>
                    <h2 class="menuItem moldstyle">@LocalizationGetter.GetString("ReporterTypes")</h2>
                    <h2 class="menuItem moldstyle">@LocalizationGetter.GetString("Anonymity")</h2>
                    <h2 class="menuItem moldstyle">@LocalizationGetter.GetString("Outcomes")</h2>
                    <h2 class="menuItem moldstyle">@LocalizationGetter.GetString("RootCauses")</h2>
                    <h2 class="menuItem moldstyle">@LocalizationGetter.GetString("Disclaimers")</h2>                    
                    @*
                        <h2 class="menuItem">@GlobalRes.SecondaryType</h2>
                        <h2 class="menuItem">@GlobalRes.CaseAdminDepartment</h2>
                    *@
                </div>
            </div><!--menuCompanyProfile-->
        </div>
    </div><!--contentSettings.secondHeader-->
    <div class="contentCompanyProfile contentCompanyProfile@{@class_ext}">
        <div class="contentSettings oldstyle">
            <!--blockDepartments-->
            <div class="blockDepartments">
                @if (is_valid_mediator)
                {
                    <div class="addDepartmentBtn" id="addInputDep">
                        <!--After click Btn - add class inactive-->
                        <p>@LocalizationGetter.GetString("addnewDepartment")</p>
                    </div>
                }
                <div class="addDepartmentBtn" id="addDepBtn" style="width: auto;">
                    <!--After click Btn - add class inactive-->
                    <p style="min-width: 50px;">@LocalizationGetter.GetString("Add")</p>
                </div>
                <div class="addNewDepartment">
                    <input type="text" name="newDepartmenName" required="" value="">
                    <div class="closeIcon"></div>
                </div>
                <div class="tableDepartment">
                    @foreach (company_department _department in cm.CompanyDepartmentsActive(company_id))
                    {
                        <div style="display: flex;">
                            <p>@_department.department_en</p>
                            @if (is_valid_mediator)
                            {
                                <div data-value="@_department.id" class="deleteDepartment"></div>
                            }
                        </div>
                    }
                </div>
            </div><!--blockDepartments-->
            <!--blockLocations-->
            <div class="blockLocations" style="display: none;">
                @if (is_valid_mediator)
                {
                    <div class="addLocationBtn" id="addInputLoc">
                        <!--After click Btn - add class inactive-->
                        <p>@LocalizationGetter.GetString("addnewLocation")</p>
                    </div>
                }
                <div class="addLocationBtn" id="addLocBtn" style="width: auto;">
                    <!--After click Btn - add class inactive-->
                    <p style=" min-width 50px;">@LocalizationGetter.GetString("Add")</p>
                </div>
                <div class="addNewLocation">
                    <input type="text" name="newLocationName" required="" value="">
                    @if (is_cc.Value)
                    {
                        @Html.DropDownList("location_cc_extended", (SelectList)ViewBag.LocationExtendeds, "Select Location Category", new { @class = "select-def" })
                    }
                    <div class="closeIcon"></div>
                </div>
                <div class="tableLocation" id="tableLocation">
                    @foreach (company_location _location in cm.Locations(company_id, 2))
                    {
                        @Html.Partial("~/Views/Shared/Partial/_SettingsCompanyLocationTemplate.cshtml", _location, new ViewDataDictionary {
                            { "is_cc", is_cc },
                            { "is_valid_mediator", is_valid_mediator },
                        })
                    }
                </div>
            </div><!--blockLocations-->
            <div class="blockIncidentTypes" style="display: none;">
                @if (is_valid_mediator)
                {
                    <div class="addIncidentTypeBtn" id="addInputIncType">
                        <!--After click Btn - add class inactive-->
                        <p>@LocalizationGetter.GetString("addnewIncidentType")</p>
                    </div>
                }
                <div class="addIncidentTypeBtn" id="addIncBtn" style="width: auto;">
                    <!--After click Btn - add class inactive-->
                    <p style=" min-width 50px;">@LocalizationGetter.GetString("Add")</p>
                </div>
                <div class="addNewIncidentType">
                    <input type="text" name="newIncidentTypeName" required="" value="">
                    <div class="closeIcon"></div>
                </div>
                <div class="tableIncidentType">
                    @foreach (var _entry in cm.CompanyIncidentTypes(company_id))
                    {
                        <div style="display: flex;">
                            <p>@_entry.Value</p>
                            @if (is_valid_mediator)
                            {
                                <div class="deleteIncidentType" data-value="@_entry.Key"></div>
                            }
                        </div>
                    }
                </div>
            </div><!--blockIncidentTypes-->
            <div class="blockReporterTypes" style="display: none;">
                @if (is_valid_mediator)
                {
                    <div class="addReporterTypeBtn" id="addInputRepType">
                        <!--After click Btn - add class inactive-->
                        <p>@LocalizationGetter.GetString("addnewReporterType")</p>
                    </div>
                }
                <div class="addReporterTypeBtn" id="addRepBtn" style="width: auto;">
                    <!--After click Btn - add class inactive-->
                    <p style=" min-width 50px;">@LocalizationGetter.GetString("Add")</p>
                </div>
                <div class="addNewReporterType">
                    <input type="text" name="newReporterTypeName" required="" value="">
                    <div class="closeIcon"></div>
                </div>
                <div class="tableReporterType">
                    @foreach (var _entry in cm.CompanyReporterTypes(company_id))
                    {
                        <div style="display: flex;">
                            <p>@_entry.Value</p>
                            @if (is_valid_mediator)
                            {
                                <div data-value="@_entry.Key" class="deleteReporterType"></div>
                            }
                        </div>
                    }
                </div>
            </div><!--blockReporterType-->
            <div class="blockAnonymity" style="display: none;">
                <div class="tableAnonymity">
                    @if (ViewBag.CA != null)
                    {
                        foreach (EC.Controllers.ViewModel.AnonimityViewModel item in ViewBag.CA)
                        {
                            <div style="display: flex;">
                                <p style="width: 88%;">@string.Format(item.anonymity.anonymity_en, cm._company.company_nm)</p>
                                <input type="checkbox" class="bigCheckBox" disabled checked="@item.isChecked" />
                                <div data-value="@item.anonymity.id"></div>
                            </div>

                        }

                    }
                </div>
            </div><!--blockReporterType-->
            
            <div class="blockOutcomes" style="display: none;">
                @if (is_valid_mediator)
                {
                    <p style="margin-left: 30px;">Add disciplinary outcomes for Subjects as well as outcome options for Witnesses and Reporters</p>
                    <div class="addOutcomeBtn" id="addInputOutcome">
                        <!--After click Btn - add class inactive-->
                        <p>@LocalizationGetter.GetString("addnewOutcome")</p>
                    </div>
                }
                <div class="addOutcomeBtn" id="addOutBtn" style="width: auto;">
                    <!--After click Btn - add class inactive-->
                    <p style=" min-width 50px;">@LocalizationGetter.GetString("Add")</p>
                </div>
                <div class="addNewOutcome">
                    <input type="text" name="newOutcomeName" required="" value="">
                    <div class="closeIcon"></div>
                </div>
                <div class="tableOutcome">
                    @foreach (company_outcome _outcome in cm.Outcomes(company_id, 2))
                    {
                        <div style="display: flex;">
                            <p>@_outcome.outcome_en</p>
                            @if (is_valid_mediator)
                            {
                                <div data-value="@_outcome.id" class="deleteOutcome"></div>
                            }
                        </div>
                    }
                </div>
            </div><!--blockOutcome-->
           
            <div class="blockRootCauses" style="display: none;" id="tblRootCauses">
                @Html.Partial("~/Views/Settings/partial/blockRootCauses.cshtml", new ViewDataDictionary {
                    { "Company_root_cases_behavioral", ViewBag.Company_root_cases_behavioral},
                    { "Company_root_cases_external", ViewBag.Company_root_cases_external},
                    { "Company_root_cases_organizational", ViewBag.Company_root_cases_organizational},
                    { "is_valid_mediator", is_valid_mediator },
                })
            </div>

            <div class="blockSecondaryType" style="display: none;" ng-controller="SettingsCompanySecondaryTypeController" ng-cloak>
                @if (is_valid_mediator)
                {
                    <div class="addIncidentTypeBtn" ng-show="!addMode">
                        <p ng-click="addMode = !addMode">Add New Secondary Type</p>
                    </div>
                    <div class="addIncidentTypeBtn" ng-show="addMode">
                        <p style="min-width: 50px;" ng-click="add()">@LocalizationGetter.GetString("Add")</p>
                    </div>
                }
                <div ng-show="addMode">
                    <p>Incident Type</p>
                    <select ng-model="addType" ng-options="item.id as item.secondary_type_en for item in secondaryTypes"></select>
                </div>
                <div class="addNewIncidentType" ng-show="addMode" style="display: block;">
                    <input type="text" name="newIncidentTypeName" required="" value="" ng-model="addName">
                    <div class="closeIcon"></div>
                </div>
                <div class="tableIncidentType">
                    <table style="width: 100%;">
                        <tr ng-repeat="item in third_level_types">
                            <td width="50%">
                                <p>{{item.third_level_type_name_en}}</p>
                                @if (is_valid_mediator)
                                {
                                    <div class="deleteRootCauses" ng-click="delete(item.id)"></div>
                                }
                            </td>
                            <td width="50%">{{findST(item.company_secondary_type_id)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
           
            <div class="blockCaseAdminDepartment" style="display: none;" ng-controller="SettingsCompanyCaseAdminDepartmentController" ng-cloak>
                @if (is_valid_mediator)
                {
                    <div class="addIncidentTypeBtn" ng-show="!addMode">
                        <p ng-click="addMode = !addMode">Add New Case Admin Department</p>
                    </div>
                    <div class="addIncidentTypeBtn" ng-show="addMode">
                        <p style="min-width: 50px;" ng-click="add()">@LocalizationGetter.GetString("Add")</p>
                    </div>
                }
                <div class="addNewIncidentType" ng-show="addMode" style="display: block;">
                    <input type="text" name="newIncidentTypeName" required="" value="" ng-model="addName">
                    <div class="closeIcon"></div>
                </div>
                <div class="tableIncidentType">
                    <table style="width: 100%;">
                        <tr ng-repeat="item in case_admin_departments">
                            <td width="50%">
                                <p>{{item.name_en}}</p>
                                @if (is_valid_mediator)
                                {
                                    <div class="deleteRootCauses" ng-click="delete(item.id)"></div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!--blockIncidentTypes-->

            <div class="blockDisclaimers blockDisclaimer" style="display: none;" ng-controller="SettingsDisclaimerController" ng-init="refresh()">
                <div class="container blockDisclaimer-container">
                    <div class="blockDisclaimer__textBlock">
                        <p>
                            This page contains the information that will be seen by all reporters, including your employees. 
                        </p>
                        <p>
                            Upload all conduct guidelines, policy documents, legal warnings and disclaimers.
                        </p>
                    </div><!-- /.blockDisclaimer-textBlock -->
                    <div class="blockDisclaimer__upLinkBlock">
                        <a href="#" class="btn-link" ngf-select="upload($files)" multiple="multiple">Upload new document</a>
                    </div><!-- /.blockDisclaimer__upLinkBlock -->
                    
                    <div class="settingsProf-contentBlock" ng-repeat="file in model.company_disclamer_uploads">
                        <div class="settingsProf-contentBlock__head">
                            <div class="settingsProf-contentBlock__headTop">
                                <span class="settingsProf-contentBlock__headTopName">
                                    {{file.user.first_nm}} {{file.user.last_nm}},
                                </span><span class="settingsProf-contentBlock__headTopDate">
                                    {{file.create_dt_s}}
                                </span>
                            </div><!-- /.settingsProf-contentBlock__headTop -->
                            <div class="settingsProf-contentBlock__headMain row">
                                <div class="settingsProf-contentBlock__headMain-cols col-6">
                                    <div class="settingsProf-contentBlock__headMainTitle" ng-class="file.DescriptionChanged ? 'error' : 'resolved'">
                                        {{file.display_name2}}
                                    </div><!-- /.settingsProf-contentBlock__headMainTitle -->
                                </div><!-- /.col-6 -->
                                <div class="settingsProf-contentBlock__headMain-cols settingsProf-contentBlock__headMain-colLinks col-6">
                                    <a ng-href="{{file.file_path}}" class="link" download="{{file.display_name}}">Download</a>
                                    <a href="#" ng-click="deleteFile(file)" class="link-delete">Delete</a>
                                </div><!-- /.col-6 -->
                            </div><!-- /.settingsProf-contentBlock__headMain -->
                        </div>
                        <div class="settingsProf-contentBlock__main">
                            <label>File Name</label>
                            <input  class="textareaBlock textareaBlockSettings" style="font-size: 14px; height: auto;" ng-model="file.display_name" ng-change="file.DescriptionChanged = true" />
                            <p style="font-size: 10px;">Enter the file name you want displayed to reporters</p>
                        </div>
                        <div class="settingsProf-contentBlock__bottom clearfix">
                            <a href="#" class="btn-link pull-right" ng-class="file.DescriptionChanged ? '' : 'btn-link__disabled'" ng-click="saveFile(file)">{{file.DescriptionChanged ? 'Save' : 'Saved'}}</a>
                        </div>
                    </div><!-- /.blockDisclaimer-contentBlock -->
                    
                    <div class="settingsProf-contentBlock">
                        <div class="settingsProf-contentBlock__head">
                            <div class="settingsProf-contentBlock__headTop">
                                <span class="settingsProf-contentBlock__headTopName">
                                    {{model.company_disclamer_page.user.first_nm}} {{model.company_disclamer_page.user.last_nm}},
                                </span><span class="settingsProf-contentBlock__headTopDate">
                                    {{model.company_disclamer_page_date}}
                                </span>
                            </div><!-- /.settingsProf-contentBlock__headTop -->
                            <div class="settingsProf-contentBlock__headMain row">
                                <div class="settingsProf-contentBlock__headMain-cols col-6">
                                    <div class="settingsProf-contentBlock__headMainTitle" ng-class="model.message_to_employeesChanged ? 'error' : 'resolved'">
                                        Message to Employees
                                    </div><!-- /.settingsProf-contentBlock__headMainTitle -->
                                </div><!-- /.col-6 -->
                            </div><!-- /.settingsProf-contentBlock__headMain -->
                        </div>
                        <div class="settingsProf-contentBlock__main">
                            <textarea  class="textareaBlock textareaBlockSettings" ng-model="model.company_disclamer_page.message_to_employees" ng-change="model.message_to_employeesChanged = true"></textarea>
                        </div>
                        <div class="settingsProf-contentBlock__bottom clearfix">
                            <a href="#" class="btn-link pull-right" ng-class="model.message_to_employeesChanged ? '' : 'btn-link__disabled'" ng-click="save(1)">{{model.message_to_employeesChanged ? 'Save' : 'Saved'}}</a>
                        </div>
                    </div><!-- /.blockDisclaimer-contentBlock -->

                    <div class="settingsProf-contentBlock">
                        <div class="settingsProf-contentBlock__head">
                            <div class="settingsProf-contentBlock__headTop">
                                <span class="settingsProf-contentBlock__headTopName">
                                    {{model.company_disclamer_page.user1.first_nm}} {{model.company_disclamer_page.user1.last_nm}},
                                </span><span class="settingsProf-contentBlock__headTopDate">
                                    {{model.company_disclamer_page_date1}}
                                </span>
                            </div><!-- /.settingsProf-contentBlock__headTop -->
                            <div class="settingsProf-contentBlock__headMain row">
                                <div class="settingsProf-contentBlock__headMain-cols col-6">
                                    <div class="settingsProf-contentBlock__headMainTitle" ng-class="model.message_about_guidelinesChanged ? 'error' : 'resolved'">
                                        Message about Company Conduct Guidelines, Policies and Legal Disclaimers
                                    </div><!-- /.settingsProf-contentBlock__headMainTitle -->
                                </div><!-- /.col-6 -->
                            </div><!-- /.settingsProf-contentBlock__headMain -->
                        </div>
                        <div class="settingsProf-contentBlock__main">
                            <textarea  class="textareaBlock textareaBlockSettings" ng-model="model.company_disclamer_page.message_about_guidelines" ng-change="model.message_about_guidelinesChanged = true"></textarea>
                        </div>
                        <div class="settingsProf-contentBlock__bottom clearfix">
                            <a href="#" class="btn-link pull-right" ng-class="model.message_about_guidelinesChanged ? '' : 'btn-link__disabled'" ng-click="save(2)">{{model.message_about_guidelinesChanged ? 'Save' : 'Saved'}}</a>
                        </div>
                    </div><!-- /.blockDisclaimer-contentBlock -->
                </div><!-- /.container -->
            </div>        
        </div>
    </div><!--contentSettings-->
</div><!--contentCompanyProfile-->
<input type="hidden" id="urlAjaxUploadFiles" from="Company" value="@Url.Action("AddLogoCompany", "Settings")" />
<input type="hidden" id="sendAjax" value="@Url.Action("addNewfunction", "Settings")" />