@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@{
    ViewBag.Title = GlobalRes.MySettings;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    
   
    UserModel um = (UserModel)ViewBag.um;
    var user_id = um.ID;
    int checkBoxActiveCases = um._user.notification_messages_actions_flag;
    int checkBoxNewReports = um._user.notification_new_reports_flag;
    string mediator_active = string.Empty;
    string adminMediator_active = string.Empty;
    string escalationMediator_active = string.Empty;
    var a=10;
    if(um._user.role_id != null ) {

        switch(um._user.role_id) {
            case(4):
                mediator_active = "active";
                break;
            case(5):
                adminMediator_active = "active";
                break;
            case(6):
                escalationMediator_active = "active";
                break;
        }
    }
    if (um._user.photo_path == null || um._user.photo_path == String.Empty) {
        um._user.photo_path = "/Content/Icons/settingsPersonalNOPhoto.png";
    }
    bool is_cc = ViewBag.is_cc;
    String class_ext = ViewBag.cc_extension;
    
    //bool is_cc = true;
    //String class_ext = "";
    //if (is_cc)
    //{
    //    class_ext = "_cc";
    //}
        //19
}

<div class="blockSettings">
    <div id="casesHeared">
        <div id="menu">
            <h2 class="mainTitle">@GlobalRes.Menu:</h2>
            <div>
                <a class="caseesTab active">@GlobalRes.MyProfile</a>
                <a href="/Settings/Password" class="caseesTab">@GlobalRes.Password</a>
                <a href="/Settings/Company" class="caseesTab">@GlobalRes.CompanyProfile</a>
                <a href="/Settings/Mediators" class="caseesTab">@GlobalRes.CompanyMediators</a>
                <a href="/Settings/Cases" class="caseesTab">@GlobalRes.CaseManagementDeadlines</a>
            </div>
        </div>
        @*<div class="positionActivityIcon">
            <div id="activityIcon"></div>
        </div>*@
    </div><!--casesHeared-->

    
@using (Html.BeginForm("UpdateUser", "Settings", Model, FormMethod.Post)) { 
    <!--<form enctype="multipart/form-data" method="POST" action="@Url.Action("UpdateUser", "Settings")">-->


        @Html.AntiForgeryToken()
        @model user
        @Html.HiddenFor(model => Model.id)
        <div class="contentSettings">
            <div class="blockPersonalPhotoSetting">
                <div class="blockPhotoSetting">
                    <img id="logoUser" class="PersonalPhotoBlock" src="@um._user.photo_path" />
                    <input type="file" accept="image/*" id="_file" name="_file" multiple="multiple" style="width: 1px;height: 1px;opacity: 0;" />                    
                </div>
                <div class="blockHoverPhoto">
                    <label class="close"></label>
                    <label class="newImageBtn">@GlobalRes.Newimage</label>
                </div>
            </div>


            <div class="personalBlock">

                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Firstname</p>
                    @Html.EditorFor(model => model.first_nm, new { first_nm = "first_nm" })
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Lastname</p>
                    @Html.EditorFor(model => model.last_nm, new { last_nm = "last_nm" })
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Title</p>
                    @Html.EditorFor(model => model.title_ds, new { title_ds = "title_ds" })
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Department</p>
                    @Html.EditorFor(model => Model.notepad_tx, new {notepad_tx = "notepad_tx" })
                </div>
                <div class="blockPersonalSettings">
                    <div id="personeAgain">
                        <div class="title">@GlobalRes.Role</div>
                        <div class="help" title="">
                            ?
                            <div class="hoverElement">
                                <div class="triangleHover position"></div>
                                <div class="spec position">
                                    <ul>
                                        <li>A <strong>Case Administrator</strong> is assigned to a specific case.</li>
                                        <li>A <strong>Case Manager</strong> is responsible for and manages the Employee Confidential system and assigns all the cases (typically an HR manager).</li>
                                        <li>A <strong>Case Executive</strong> (most often a C - suite executive) handles only escalation issues and signs off on case resolutions and closure applications.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="rowBlock inputMediator">
                        <div class="freeBlock inputRadio mediator @mediator_active">
                            <label class="inputBlock" for="freeIncident">
                                <input id="oneIncident" type="radio" name="role_id" value="6">
                                <span class="radioTitle">@GlobalRes.Mediator</span>
                            </label>
                        </div>
                        <div class="freeBlock inputRadio adminMediator adminMediator@{@class_ext} @adminMediator_active">
                            <label class="inputBlock" for="freeIncident">
                                <input id="twoIncident" type="radio" name="role_id" value="5">
                                <span class="radioTitle">@GlobalRes.AdminMediator</span>
                            </label>
                        </div>
                        <div class="freeBlock inputRadio escalationMediator @escalationMediator_active">
                            @*<label class="inputBlock" for="fourIncident">*@
                            <label class="inputBlock" for="freeIncident">
                                <input id="threeIncident" type="radio" name="role_id" value="4" >
                                <span class="radioTitle">@GlobalRes.EscalationMediator</span>
                            </label>
                        </div>
                    </div><!--rowBlock-->
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Email</p>
                    @Html.TextBoxFor(model => model.email, new { email = "email" })
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.often_notifications_active</p>
                    <div class="rowBlock" id="checkBoxActiveCases">
                        <div class="freeBlock inputRadio" data-valueflag="0">
                            <label class="inputBlock" for="firstIncident">
                                @Html.RadioButtonFor(model => model.notification_new_reports_flag, "1")
                                <span class="radioButton"></span>
                                <span class="radioTitle">@GlobalRes.Instantly</span>
                            </label>
                        </div>
                        <div class="freeBlock inputRadio" data-valueflag="1">
                            <label class="inputBlock" for="secondIncident">
                                @Html.RadioButtonFor(model => model.notification_new_reports_flag, "2")
                                <span class="radioButton"></span>
                                <span class="radioTitle">@GlobalRes.Onceaday</span>
                            </label>
                        </div>
                    </div><!--rowBlock-->
                </div>

                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.often_notifications_new</p>
                    <div class="rowBlock" id="checkBoxNewReports">
                        <div class="freeBlock inputRadio" data-valueFlag="0">
                            <label class="inputBlock" for="thirdIncident">
                                @Html.RadioButtonFor(model => model.notification_messages_actions_flag, "1")
                                @*<input id="thirdIncident" type="radio" name="stay2">*@
                                <span class="radioButton"></span>
                                <span class="radioTitle">@GlobalRes.Instantly</span>
                            </label>
                        </div>
                        <div class="freeBlock inputRadio" data-valueFlag="1">
                            <label class="inputBlock" for="fourIncident">
                                @Html.RadioButtonFor(m => m.notification_messages_actions_flag, "2")
                                @*<input id="fourIncident" type="radio" name="stay2">*@
                                <span class="radioButton"></span>
                                <span class="radioTitle">@GlobalRes.Onceaday</span>
                            </label>
                        </div>
                    </div><!--rowBlock-->
                </div>
                <div class="blockUpdateProfile">
                    <div class="updateProfileBtn">
                        <input class="greenButton" type="submit" value="update"  />
                        <span style="display: none;">@GlobalRes.UpdateProfile.ToLower()</span>
                    </div>
                </div>

            </div>
        </div>
        }
    <!--</form>-->
</div>


<script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.newImageBtn').click(
            function () {
                $('#_file').click();
            }
          );
        //ajax Upload files
        $("#_file").on('change', function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                var fd = new FormData();
                fd.append("from", "User");
                var file = document.getElementById('_file');
                for (var i = 0; i < file.files.length; i++) {
                    fd.append('_file', file.files[i]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddLogoCompany", "Settings")',
                    contentType: false,
                    processData: false,
                    data: fd,
                    success: function (result) {
                        $("#logoUser").attr("src", result);
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        });

        //START Open mini menu for mobile
        function blockActivityHeight() {
            if ($('#menu').height() < 50) {
                $('.positionActivityIcon').height(89);
            }
            else {
                $('.positionActivityIcon').height($('#casesHeared').height());
            }
        }
        $('.mainTitle').click(function () {
            $('.mainTitle + div').toggle();
            blockActivityHeight();
        });
        //----------------END Open mini menu for mobile---------------------------

        $('.blockPersonalSettings input')
           .focus(function () {
              /* $('.blockPersonalSettings').css({ 'border': '1px solid #e0e5e6', 'width': '100%' });
               $(this).parent('.blockPersonalSettings').css({ 'border': '2px solid #05b5a2', 'width': '99.8%' });*/
               $('.blockPersonalSettings').css({ 'border-color': 'transparent transparent #e0e5e6 transparent'});
               $(this).parent('.blockPersonalSettings').css({ 'border-color': '#05b5a2'});
           })
            .focusout(function () {
                //$(this).parent('.blockPersonalSettings').css({ 'border': '1px solid #e0e5e6', 'width': '100%' });
                $(this).parent('.blockPersonalSettings').css({ 'border-color': 'transparent transparent #e0e5e6 transparent'});
            });



        $('.newMessageBtn span').click(function () {
            if (($("#first_nm").val().trim.length > 0) && ($("#last_nm").val().trim.length > 0) && ($("#title_ds").val().trim.length > 0) && ($("#email").val().trim.length > 0))
            {
                $('.newMessageBtn input').click();
            }
        });
        //RadioButton
        var radioBlock = $('.inputBlock');

        radioBlock.click(function () {

            var self = $(this);
            var arrows = self.parent('.inputRadio').parent('.rowBlock');
            //arrows.find('.inputRadio').css('background', 'rgb(255, 255, 255)');
            arrows.find('.inputRadio').find('.radioTitle').css('color', 'rgb(174, 181, 183)');

            //self.parent('.inputRadio').css('background', 'rgb(242, 247, 247)');
            self.find('.radioTitle').css('color', 'rgb(60, 62, 63)');
        });



        //RadioButton Mediator
        var RadioButton = $('.inputBlock');
        function OldClick(self) {
            var mediatorBtn = self.parent();
            var mediatorAllBtn = self.parent().parent();
            mediatorAllBtn.find('.inputRadio').removeClass('active');
            mediatorBtn.addClass('active');
            mediatorBtn.find("input").prop('checked', true);

        }
        RadioButton.click(function () {
            var self = $(this);
            $('.blockPersonalSettings').css({ 'border': '1px solid #e0e5e6', 'width': '100%' });
            self.parents('.blockPersonalSettings').css({ 'border': '2px solid #05b5a2', 'width': '99.8%' });
            OldClick(self);
            
        });
    });

</script>