@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@using EC.Constants;

@{
    ViewBag.Title = GlobalRes.CompanyMediatorsSettings;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    var um = (UserModel)ViewBag.um;
    CompanyModel cm = (CompanyModel)ViewBag.cm;
    int user_id = um.ID;
    UserModel _temp_um = new UserModel();

    bool is_cc = ViewBag.is_cc;
    String class_ext = ViewBag.cc_extension;

    var role_id = um._user.role_id;
    bool is_valid_mediator = false;
    if (role_id == ECLevelConstants.level_supervising_mediator)
    {
        is_valid_mediator = true;
    }
    List<user> AllUsers = ViewBag.AllUser;
}


<div class="blockSettings">

    @{
        int active = 4;
    }
    @Html.Partial("~/Views/Settings/partial/casesHeared.cshtml", active)

    <p class="textMediators">
        Set Up Case Administrator Profiles:
    </p>
    <div class="contentCompanyProfiel">
        <div class="contentSettings">
            <div class="blockWithTeam">
                <div class="contentMediators blockTeam">
                    <!--empty block-->
                    <div class="blockIteamTeam footerInputStyle">

                        @Html.ActionLink("setup case administrator", "User", new { id = 0 }, new { @class = "positionLinkIviteMediator greenButton greenButtonCustom disableUnderline" })
                    </div>
                    <!--end empty block-->
                    @foreach (user _user in AllUsers)
                    {
                        string link = "/settings/user/" + _user.id;
                        if (_user.role_id == 0) { link = ""; }

                        if ((_user.role_id == 4) || (_user.role_id == 5) || (_user.role_id == 6) || (_user.role_id == 7) || (_user.role_id == 0))
                        {
                            _temp_um = new UserModel(_user.id);

                            <div class="blockIteamTeam blockIteamTeam@{@class_ext}">
                                <div class="blockHeaderTeam">
                                    <a class="contanatTable" href="@link">
                                        <div class="blockPhoto">
                                            <div class="photoPersonal">
                                                @if (_user.photo_path.Trim().Length == 0)
                                                {
                                                    <img src='@Url.Content("~/Content/Icons/anonimousReporterIcon.png")' />
                                                }
                                                else
                                                {
                                                    <img src='@Url.Content(_user.photo_path.Trim())' />
                                                }
                                            </div><!--blockPhoto-->
                                        </div>
                                        <div class="blockHeaderText">
                                            <p>@_user.first_nm @_user.last_nm</p>
                                            <p>@_user.title_ds</p>
                                        </div>
                                    </a>
                                </div>
                                @if (_user.role_id == 4)
                                {
                                    <p class="blockMediator escalation">
                                        <span>@GlobalRes.EscalationMediator.ToLower()</span>
                                    </p>
                                }
                                @if (_user.role_id == 5)
                                {
                                    <p class="blockMediator admin admin@{@class_ext}">
                                        <span>@GlobalRes.AdminMediator.ToLower()</span>
                                    </p>
    }
                                @if (_user.role_id == 6)
                                {
                                    <p class="blockMediator">
                                        <span>@GlobalRes.Mediator.ToLower()</span>
                                    </p>
                                }
                                @if (_user.role_id == 7)
                                {
                                    <p class="blockMediator">
                                        <span>@GlobalRes.Legalcounsel.ToLower()</span>
                                    </p>
                                }
                                @if ((_user.notepad_tx != null) && (_user.notepad_tx.Trim().Length > 0))
                                {
                                    <p class="blockTextMediator">@_user.notepad_tx</p>
                                }
                                else
                                {
                                    <p class="blockTextMediator">&nbsp;</p>
                                }

                                <div class="blocksInfo">
                                    <div class="blockInfo">
                                        @if (_user.role_id != 0)
                                        {
                                            <img src='@Url.Content("/Content/Icons/blockInfo_img1" + @class_ext + ".png")'>
                                            <label>@_temp_um._location_string</label>
                                        }
                                    </div>
                                    <div class="blockInfo">
                                        <img src='@Url.Content("/Content/Icons/blockInfo_img2"+@class_ext+".png")'>
                                        <label>@_user.email</label>
                                    </div>

                                </div>
                            </div><!--blockIteamTeam-->

        }
    }
                </div>
            </div>
        </div><!--contentSettings-->
            @if (is_cc)
            {
                <div class="footerInputPosition footerInputStyle">
                    <div class="contentSettings secondHeader">
                        <div class="headerCompanyProfile">
                            <div class="headerBlock">
                                <div class="blockText">
                                    <p class="title">Campus Alert and Daily Crime Log managers info</p>
                                </div>
                            </div>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>Campus Alert Manager </td>
                                            <td>Name</td>
                                            <td><input type="text" /></td>
                                            <td>Last Name</td>
                                            <td><input type="text" placeholder="Last Name" /></td>
                                            <td>Email</td>
                                            <td><input type="text" placeholder="Email" /></td>
                                            <td>Phone</td>
                                            <td><input type="text" placeholder="Phone" /></td>
                                        </tr>
                                        <tr>
                                            <td>Daily Crime Log Manager </td>
                                            <td>Name</td>
                                            <td><input type="text" /></td>
                                            <td>Last Name</td>
                                            <td><input type="text" placeholder="Last Name" /></td>
                                            <td>Email</td>
                                            <td><input type="text" placeholder="Email" /></td>
                                            <td>Phone</td>
                                            <td><input type="text" placeholder="Phone" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <span style="margin-right: 41px;" class="greenButton makeButtonTextCenter">@GlobalRes.Update</span>                
                    </div>
                </div>
            }
        <div class="footerInputPosition footerInputStyle">
            <div class="contentSettings secondHeader">
                <div class="headerCompanyProfile">
                    @if (is_cc && is_valid_mediator)
            {
                        <div class="headerBlock">
                            <div class="blockText">
                                <p class="title">Invite new college mediator by email</p>
                            </div>
                        </div>
                        <div class="blockSendEmail blockSendEmail_cc greyBorder">
                            <input type="text" id="sendEmail" name="newLocationName" placeholder="email@yourcompany.com" required="" value="">
                            <div class="closeIcon"></div>
                            <textarea placeholder="Enter message to colleague about joining the case administration team"></textarea>
                            <input id="sendMessage" type="submit" />
                            <span class="sendBtn">@GlobalRes.Send.ToLower()</span>
                        </div>
                    }
                    else
                    {
                        if (is_valid_mediator)
                        {
                            <div class="headerBlock">
                                <div class="blockText">
                                    <p class="title">@GlobalRes.invite_new_mediator</p>
                                </div>
                            </div>
                            <div class="blockSendEmail greyBorder">
                                <input type="text" id="sendEmail" name="newLocationName" placeholder="email@yourcompany.com" required="" value="">
                                <div class="closeIcon"></div>
                                <input id="sendMessage" type="submit" />
                                <span class="sendBtn">@GlobalRes.Send.ToLower()</span>
                            </div>
                        }
                    }

                </div>
            </div><!--contentSettings.secondHeader-->
        </div>

    </div><!--contentCompanyProfile-->
</div>
<input type="hidden" id="InvitationSuccessfull" value="@GlobalRes.InvitationSuccessfull" />