@using EC.Models;
@using EC.App_LocalResources;
@{
    ViewBag.Title = GlobalRes.Password;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    UserModel um = (UserModel)ViewBag.um;
    var user_id = um.ID;

    bool is_cc = ViewBag.is_cc;
    String class_ext = ViewBag.cc_extension;

    //bool is_cc = true;
    //String class_ext = "";
    //if (is_cc)
    //{
    //    class_ext = "_cc";
    //}
                //19
}

<div class="blockSettings">
    <div id="casesHeared">
        <div id="menu">
            <h2 class="mainTitle">@GlobalRes.Menu:</h2>
            <div>
                <a href="/Settings/Index" class="caseesTab">@GlobalRes.MyProfile</a>
                <a href="/Settings/Password" class="caseesTab active">@GlobalRes.Password</a>
                <a href="/Settings/Company" class="caseesTab">@GlobalRes.CompanyProfile</a>
                <a href="/Settings/Mediators" class="caseesTab">@GlobalRes.CompanyMediators</a>
                <a href="/Settings/Cases" class="caseesTab">@GlobalRes.CaseManagementDeadlines</a>
            </div>
        </div>
        @*<div class="positionActivityIcon">
            <div id="activityIcon"></div>
        </div>*@
    </div><!--casesHeared-->
    <style>
        .blockPersonalSettings .pass {
            font-family: OpenSansSemibold;
            color: #3c3e3f;
            font-size: 18px;
            padding-top: 30px;
            padding-left: 38px;
            padding-bottom: 30px;
            padding-right: 3%;
            width: 92%;
            outline: none;
            border: none;
        }
    </style>
@using (Html.BeginForm("ChangePass","Settings", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="contentSettings">
        <div class="personalBlock">

            <div class="blockPersonalSettings greyBorder">
                <p class="title">Old Password</p>
                <input class="text-box single-line pass" id="oldPass" name="oldPass" type="password" value="">
            </div>
            <div class="blockPersonalSettings greyBorder">
                <p class="title">New Password</p>
                <input class="text-box single-line pass" id="newPass" name="newPass" type="password" value="">
            </div>
            <div class="blockPersonalSettings greyBorder">
                <p class="title">Confirm Password</p>
                <input class="text-box single-line pass" id="confPass" name="confPass" type="password" value="">
            </div>

            <div class="blockUpdateProfile">
                <div class="updateProfileBtn">
                    <input class="greenButton greenButton@{@class_ext}" type="submit" value="update">
                    <span style="display: none;">update profile</span>
                </div>
            </div>
        </div><!--end personalBlock-->
    </div><!--end contentSettings-->
}
</div><!--end blockSettings-->

<script>

    $(document).ready(function () {
        $('.blockPersonalSettings input')
            .focus(function () {
                $(this).parent('.blockPersonalSettings').addClass('greenBorder').removeClass('greyBorder');
            })
            .focusout(function () {
                $(this).parent('.blockPersonalSettings').addClass('greyBorder').removeClass('greenBorder');
            });
        @if(ViewBag.status != null )
        {
            <text>
                function result() {
                    alert("@ViewBag.status");
                }
            result();
            </text>
        }
    });
    
</script>

