@using EC.Models;
@using EC.Localization;
@{
  bool? is_cc = ViewBag.is_cc;
  if (!is_cc.HasValue)
  {
    is_cc = false;
  }
  ViewBag.Title = LocalizationGetter.GetString("Password", is_cc);
  Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

  UserModel um = (UserModel)ViewBag.um;
  var user_id = um.ID;


  String class_ext = ViewBag.cc_extension;
}

<div class="blockSettings">

    <!--casesHeared-->
    @{
        int active = 2;
    }
    @Html.Partial("~/Views/Settings/partial/casesHeared.cshtml", active)

    <!--casesHeared-->

@using (Html.BeginForm("ChangePass","Settings", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="contentSettings">
        <div class="personalBlock">

            <div class="blockPersonalSettings greyBorder">
                <p class="title">Old Password</p>
                <input class="text-box single-line pass" id="oldPass" name="oldPass" type="password" value="">
            </div>
            <div class="row">
                <div class="loginFormFooter pull-right"><a href="~/Service/ForgetPassword">@LocalizationGetter.GetString("ForgotYourPassword", is_cc)</a></div>
            </div>
            <div class="blockPersonalSettings greyBorder">
                <p class="title">New Password</p>
                <input class="text-box single-line pass" id="newPass" name="newPass" type="password" value="">
            </div>
            <div class="blockPersonalSettings greyBorder">
                <p class="title">Confirm Password</p>
                <input class="text-box single-line pass" id="confPass" name="confPass" type="password" value="">
            </div>

            <div class="blockUpdateProfile">
                <div class="updateProfileBtn">
                    <input class="greenButton greenButton@{@class_ext}" type="submit" value="update">
                    <span style="display: none;">update profile</span>
                </div>
            </div>
        </div><!--end personalBlock-->
    </div><!--end contentSettings-->
}
</div><!--end blockSettings-->
<input type="hidden" value="@ViewBag.status" id="status"/>