@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@using EC.Localization;
@{
    ViewBag.Title = GlobalRes.Profile;
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    UserModel um = new UserModel(ViewBag.user_id);
}

<style>
    .error {
        border: 2px solid red !important;
    }
</style>

<div class="blockSettings" ng-controller="SettingsUserEditController" ng-cloak>

    <div class="contentSettings">
        <div class="blockPersonalPhotoSetting">
            <div class="blockPhotoSetting">
                <img id="logoUser" class="PersonalPhotoBlock" src="~/Content/Icons/settingsPersonalNOPhoto.png">
                <input type="file" accept="image/*" id="_file" name="_file" multiple="multiple" style="width: 1px;height: 1px;opacity: 0;">
            </div>
            <div class="blockHoverPhoto">
                <label class="close"></label>
                <label class="newImageBtn">@GlobalRes.Newimage</label>
            </div>
        </div>


        <div class="personalBlock">
            <div class="blockPersonalSettings greyBorder" ng-class="{error: val_first_nm }">
                <p class="title">@GlobalRes.Firstname</p>
                <input class="text-box single-line" id="first_nm" name="first_nm" type="text" ng-model="first_nm">
            </div>
            <div class="blockPersonalSettings greyBorder" ng-class="{error: val_last_nm }">
                <p class="title">@GlobalRes.Lastname</p>
                <input class="text-box single-line" id="last_nm" name="last_nm" type="text" ng-model="last_nm">
            </div>
            <div class="blockPersonalSettings greyBorder" ng-class="{error: val_title_ds }">
                <p class="title">@GlobalRes.Title</p>
                <input class="text-box single-line" id="title_ds" name="title_ds" type="text" ng-model="title_ds">
            </div>
            <div class="blockPersonalSettings greyBorder"  ng-class="{error: val_departmentId }">
                <p class="title">@GlobalRes.Department</p>
                <select ng-model="departmentId">
                    <option ng-repeat="item in departments" ng-value="{{item.id}}" ng-selected="departmentId == item.id" >{{item.department_en}}</option>                    
                    <option value="0">@GlobalRes.Other</option>
                </select>
            </div>
            <div class="blockPersonalSettings greyBorder" ng-class="{error: val_locationId }">
                <p class="title">@GlobalRes.Location</p>
                <select ng-model="locationId">
                    <option ng-repeat="item in locations" ng-value="{{item.id}}" ng-selected="locationId == item.id">{{item.location_en}}</option>
                    <option value="0">@GlobalRes.Other</option>
                </select>
            </div>
            <div class="blockPersonalSettings greyBorder" ng-class="{error: val_email }">
                <p class="title">@GlobalRes.Email</p>
                <input email="email" id="email" name="email" type="text" ng-model="email">
            </div>
            <div class="blockPersonalSettings greyBorder">
                <div id="personeAgain">
                    <div class="title">@GlobalRes.Role</div>
                    <div class="help" title="">
                        ?
                        <div class="hoverElement">
                            <div class="triangleHover position"></div>
                            <div class="spec position">
                                <ul>
                                    <li>A <strong>Case Investigator</strong> is assigned to a specific case.</li>
                                    <li>A <strong>Platform Manager</strong> is responsible for and manages the Employee Confidential system and assigns all the cases (typically an HR manager).</li>
                                    <li>A <strong>Case Reviewer</strong> handles only escalation issues and signs off on case resolutions and closure applications.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rowBlock inputMediator">
                    <div class="freeBlock inputRadio mediator" ng-class="{active: role == 6 }" ng-click="role = 6">
                        <label class="inputBlock" for="freeIncident">
                            <input id="oneIncident" type="radio" name="role_id" value="6">
                            <span class="radioTitle">@GlobalRes.Mediator</span>
                        </label>
                    </div>
                    <div class="freeBlock inputRadio adminMediator adminMediator" ng-class="{active: role == 5 }" ng-click="role = 5">
                        <label class="inputBlock" for="freeIncident">
                            <input id="twoIncident" type="radio" name="role_id" value="5">
                            <span class="radioTitle">@GlobalRes.AdminMediator</span>
                        </label>
                    </div>
                    <div class="freeBlock inputRadio escalationMediator" ng-class="{active: role == 4 }" ng-click="role = 4">
                        <label class="inputBlock" for="freeIncident">
                            <input id="threeIncident" type="radio" name="role_id" value="4">
                            <span class="radioTitle">@GlobalRes.EscalationMediator</span>
                        </label>
                    </div>
                </div><!--rowBlock-->
            </div>
            <div class="blockPersonalSettings greyBorder">
                <div id="personeAgain">
                    <div class="title">Status</div>
                </div>

                <div class="rowBlock inputMediator">
                    <div class="freeBlock inputRadio mediator" ng-class="{active: status_id == 2 }" ng-click="status_id = 2">
                        <label class="inputBlock" for="freeIncident">
                            <input id="oneIncident" type="radio" name="role_id" value="6">
                            <span class="radioTitle">Active</span>
                        </label>
                    </div>
                    <div class="freeBlock inputRadio adminMediator adminMediator" ng-class="{active: status_id == 1 }" ng-click="status_id = 1">
                        <label class="inputBlock" for="freeIncident">
                            <input id="twoIncident" type="radio" name="role_id" value="5">
                            <span class="radioTitle">Inactive</span>
                        </label>
                    </div>
                    <div class="freeBlock inputRadio escalationMediator" ng-class="{active: status_id == 3 }" ng-click="status_id = 3">
                        <label class="inputBlock" for="freeIncident">
                            <input id="threeIncident" type="radio" name="role_id" value="4">
                            <span class="radioTitle">Pending</span>
                        </label>
                    </div>
                </div><!--rowBlock-->
            </div>

            @if (um._user.role_id == 5)
            {
                <div class="blockPersonalSettings greyBorder">
                    <p class="title">@Resources.GetString("ApproveCaseClosure", is_cc)</p>
                    <div class="rowBlock" id="checkBoxApproveCaseClosure">
                        <div class="freeBlock inputRadio" data-valueFlag="0" ng-click="user_permissions_approve_case_closure = '1'">
                            <label class="inputBlock" for="thirdIncident">
                                <input data-val="true" type="radio" value="1" ng-model="user_permissions_approve_case_closure">
                                <span class="radioButton"></span>
                                <span class="radioTitle">@Resources.GetString("Yes", is_cc)</span>
                            </label>
                        </div>
                        <div class="freeBlock inputRadio" data-valueFlag="1" ng-click="user_permissions_approve_case_closure = '2'">
                            <label class="inputBlock" for="fourIncident">
                                <input data-val="true" type="radio" value="2" ng-model="user_permissions_approve_case_closure">
                                <span class="radioButton"></span>
                                <span class="radioTitle">@Resources.GetString("No", is_cc)</span>
                            </label>
                        </div>
                    </div><!--rowBlock-->
                </div>

                <div class="blockPersonalSettings greyBorder">
                    <p class="title">@GlobalRes.ChangeSettings</p>
                    <div class="rowBlock" id="checkBoxChangeSettings">
                        <div class="freeBlock inputRadio" data-valueFlag="0">
                            <label class="inputBlock" for="thirdIncident" ng-click="user_permissions_change_settings = '1'">
                                <input data-val="true" type="radio" value="1" ng-model="user_permissions_change_settings">
                                <span class="radioButton"></span>
                                <span class="radioTitle">@Resources.GetString("Yes", is_cc)</span>
                            </label>
                        </div>
                        <div class="freeBlock inputRadio" data-valueFlag="1">
                            <label class="inputBlock" for="fourIncident" ng-click="user_permissions_change_settings = '2'">
                                <input data-val="true" type="radio" value="2" ng-model="user_permissions_change_settings">
                                <span class="radioButton"></span>
                                <span class="radioTitle">@Resources.GetString("No", is_cc)</span>
                            </label>
                        </div>
                    </div><!--rowBlock-->
                </div>
            }

            <div class="blockUpdateProfile">
                <div class="updateProfileBtn">
                    <input class="greenButton" type="submit" value="update" ng-click="post()">
                    <span style="display: none;">@GlobalRes.Save</span>
                </div>
            </div>
        </div>
    </div>
</div>
