@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@{

    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    UserModel um = (UserModel)ViewBag.um;
    UserModel viewd_user = (UserModel)ViewBag.viewd_user;

    int ce = 0;
    ce = ViewBag.ce;

    var user_id = viewd_user.ID;
    string mediator_active = string.Empty;
    string adminMediator_active = string.Empty;
    string escalationMediator_active = string.Empty;
    var a = 10;
    if (viewd_user._user.role_id != null)
    {

        switch (viewd_user._user.role_id)
        {
            case (6):
                mediator_active = "active";
                break;
            case (5):
                adminMediator_active = "active";
                break;
            case (4):
                escalationMediator_active = "active";
                break;
        }
    }

    string pending_active = string.Empty;
    string active_active = string.Empty;
    string inactive_active = string.Empty;
    if (viewd_user._user.status_id != null)
    {

        switch (viewd_user._user.status_id)
        {
            case (1):
                pending_active = "active";
                break;
            case (2):
                active_active = "active";
                break;
            case (3):
                inactive_active = "active";
                break;
        }
    }
    string photopath = "";
    if (viewd_user._user.photo_path == null || viewd_user._user.photo_path.Trim() == String.Empty)
    {
        photopath = "/Content/Icons/settingsPersonalNOPhoto.png";
    }
    else
    {
        photopath = viewd_user._user.photo_path;
    }

    ViewBag.Title = viewd_user._user.first_nm + " " + viewd_user._user.last_nm;

}

<div class="blockSettings">
    <div id="casesHeared">
        <div id="menu">
            <h2 class="mainTitle">@GlobalRes.Menu:</h2>
            <div>
                <a class="caseesTab">@GlobalRes.MyProfile</a>
                <a href="/Settings/Password" class="caseesTab">@GlobalRes.Password</a>
                <a href="/Settings/Company" class="caseesTab">@GlobalRes.CompanyProfile</a>
                <a href="/Settings/Mediators" class="caseesTab active">@GlobalRes.CompanyMediators</a>
                <a href="/Settings/Cases" class="caseesTab">@GlobalRes.CaseManagementDeadlines</a>
            </div>
        </div>
        @*<div class="positionActivityIcon">
            <div id="activityIcon"></div>
        </div>*@
    </div><!--casesHeared-->
    @using (Html.BeginForm("UpdateMediator", "Settings", Model, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @model user
        @Html.HiddenFor(model => Model.id)
        <div class="contentSettings">
            <div class="blockPersonalPhotoSetting">
                <div class="blockPhotoSetting">
                    <img id="logoUser" class="PersonalPhotoBlock" src='@Url.Content(photopath)' />
                </div>
            </div>


            <div class="personalBlock">

                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Firstname</p>

                    @Html.TextBoxFor(model => Model.first_nm, new { @readonly = "readonly" })
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Lastname</p>
                    @Html.TextBoxFor(model => Model.last_nm, new { @readonly = "readonly" })
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Title</p>
                    @Html.TextBoxFor(model => Model.title_ds, new { @readonly = "readonly" })
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Description</p>
                    @Html.TextBoxFor(model => Model.notepad_tx, new { @readonly = "readonly" })
                </div>

                <div class="blockPersonalSettings">
                    <div id="personeAgain">
                        <div class="title">@GlobalRes.Role</div>
                        <div class="help" title="">
                            ?
                            <div class="hoverElement">
                                <div class="triangleHover position"></div>
                                <div class="spec position">
                                    <ul>
                                        <li>A <strong>Case Administrator</strong> is assigned to a specific case.</li>
                                        <li>A <strong>Case Manager</strong> is responsible for and manages the Employee Confidential system and assigns all the cases (typically an HR manager).</li>
                                        <li>A <strong>Case Executive</strong> (most often a C - suite executive) handles only escalation issues and signs off on case resolutions and closure applications.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rowBlock inputMediator">
                        <div class="freeBlock inputRadio mediator @mediator_active">
                            <label class="inputBlock" for="freeIncident">
                                <input id="oneIncident" type="radio" name="role_id" value="6">
                                <span class="radioTitle">@GlobalRes.Mediator</span>
                            </label>
                        </div>
                        <div class="freeBlock inputRadio adminMediator @adminMediator_active">
                            <label class="inputBlock" for="freeIncident">
                                <input id="twoIncident" type="radio" name="role_id" value="5">
                                <span class="radioTitle">@GlobalRes.AdminMediator</span>
                            </label>
                        </div>
                        <div class="freeBlock inputRadio escalationMediator @escalationMediator_active">
                            <label class="inputBlock" for="fourIncident">
                                <input id="threeIncident" type="radio" name="role_id" value="4">
                                <span class="radioTitle">@GlobalRes.EscalationMediator</span>
                            </label>
                        </div>
                    </div><!--rowBlock-->
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Status</p>

                    <div class="rowBlock inputMediator">
                        <div class="freeBlock inputRadio mediator @pending_active">
                            <label class="inputBlock" for="freeIncident">
                                <input id="oneIncident" type="radio" name="role_id" value="1">
                                <span class="radioTitle">@GlobalRes.Pending</span>
                            </label>
                        </div>
                        <div class="freeBlock inputRadio adminMediator @active_active">
                            <label class="inputBlock" for="freeIncident">
                                <input id="twoIncident" type="radio" name="status_id" value="2">
                                <span class="radioTitle">@GlobalRes.Active</span>
                            </label>
                        </div>
                        <div class="freeBlock inputRadio escalationMediator @inactive_active">
                            <label class="inputBlock" for="fourIncident">
                                <input id="threeIncident" type="radio" name="status_id" value="3">
                                <span class="radioTitle">@GlobalRes.Inactive</span>
                            </label>
                        </div>
                    </div><!--rowBlock-->
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Email</p>
                    @Html.TextBoxFor(model => Model.email, new { @readonly = "readonly" })
                </div>
                @if (ce == 1)
                {
                    <div class="blockUpdateProfile">
                        <div class="updateProfileBtn">
                            <input type="submit" value="update" />
                            <span style="display: none;">@GlobalRes.UpdateProfile.ToLower()</span>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
    <!--</form>-->
</div>


<script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {

        //START Open mini menu for mobile
        function blockActivityHeight() {
            if ($('#menu').height() < 50) {
                $('.positionActivityIcon').height(89);
            }
            else {
                $('.positionActivityIcon').height($('#casesHeared').height());
            }
        }
        $('.mainTitle').click(function () {
            $('.mainTitle + div').toggle();
            blockActivityHeight();
        });
        //----------------END Open mini menu for mobile---------------------------

        $('.blockPersonalSettings input')
           .focus(function () {
               $(this).parent('.blockPersonalSettings').css({ 'border': '2px solid #05b5a2', 'width': '99.8%' });
           })
            .focusout(function () {
                $(this).parent('.blockPersonalSettings').css({ 'border': '1px solid #e0e5e6', 'width': '100%' });
            });



        $('.newMessageBtn span').click(function () {
            if (($("#first_nm").val().trim.length > 0) && ($("#last_nm").val().trim.length > 0) && ($("#title_ds").val().trim.length > 0) && ($("#email").val().trim.length > 0)) {
                $('.newMessageBtn input').click();
            }
        });
        //RadioButton
        var radioBlock = $('.inputBlock');

        radioBlock.click(function () {

            var self = $(this);
            var arrows = self.parent('.inputRadio').parent('.rowBlock');
            arrows.find('.inputRadio').css('background', 'rgb(255, 255, 255)');
            arrows.find('.inputRadio').find('.radioTitle').css('color', 'rgb(174, 181, 183)');

            self.parent('.inputRadio').css('background', 'rgb(242, 247, 247)');
            self.find('.radioTitle').css('color', 'rgb(60, 62, 63)');
        });



        //RadioButton Mediator
        var RadioButton = $('.inputBlock');

        RadioButton.click(function () {

            var mediatorBtn = $(this).parent();
            var mediatorAllBtn = $(this).parent().parent();
            mediatorAllBtn.find('.inputRadio').removeClass('active');
            mediatorBtn.addClass('active');
            mediatorBtn.find("input").prop('checked', true);

        });



    });

</script>