@using EC.App_LocalResources;
@{
    ViewBag.Title = GlobalRes.CaseFlowSettings;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
}
<div class="blockSettings">
    <div id="casesHeared">
        <div id="menu">
            <h2 class="mainTitle">@GlobalRes.Menu:</h2>
            <div>
                <a class="caseesTab active">@GlobalRes.MyProfile</a>
                <a href="/Settings/Password" class="caseesTab">@GlobalRes.Password</a>
                <a href="/Settings/Company" class="caseesTab">@GlobalRes.CompanyProfile</a>
                <a href="/Settings/Mediators" class="caseesTab">@GlobalRes.CompanyMediators</a>
                <a href="/Settings/Cases" class="caseesTab">@GlobalRes.CaseManagementDeadlines</a>
                <a href="/Settings/workFlow" class="caseesTab">workFlow</a>
            </div>
        </div>
    </div><!--casesHeared-->
    <div class="caseWorkflowPosition">

        <div class="caseFlow">
            <div class="caseFlowTop">
                <div class="caseFlowTopContent">
                    <p class="first">
                        <span class="left OpenSansSemibold fontSize20 darkText">Case workflow</span>
                        <span class="right fontSize16">
                            <span class="OpenSansRegular greyText upperCase">total time on case:</span>
                            <span class="OpenSansBold">
                                <span class="redText upperCase">60 days</span>
                            </span>
                        </span>
                    </p>
                    <p class="second fontSize14">
                        <span class="right upperCase">
                            <span class="lightgreyText">@GlobalRes.Recommended:</span>
                            <span class="darkText">23 days</span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="caseFlowBottom">
                <div class="special" href="#">
                    <div class="greenBlock"></div>
                    <span class="text">@GlobalRes.PreReview</span>
                    <div class="someDropdowns">
                        <div class="show">
                            3 <img src="/Content/img/arrowSelect.png">    
                        </div>
                        @for (int i = 1; i <= 3; i++)
                        {
                            <div class="hide">i</div>
                        }
                    </div>
                    <span class="bottomText">@GlobalRes.Recommended: <span class="moreBlack">2 days</span></span>
                </div>
                <div class="special borderLeft borderRight" >
                    <div class="greenBlock"></div>
                    <span class="text">@GlobalRes.Review</span>
                    <div class="someDropdowns">
                        <div class="show">
                            3 <img src="/Content/img/arrowSelect.png"> @*vmesto 3 - znachenie levogo slaidera pri zagruzke, 1-ogo sverhu*@
                        </div>
                        @for (int i = 1; i <= 5; i++)
                        {
                            <div class="hide">i</div>
                        }
                    </div>
                    <span class="bottomText">@GlobalRes.Recommended: <span class="moreBlack">2 days</span></span>
                </div>
                <div class="special borderRight">
                    <div class="greenBlock"></div>
                    <span class="text">@GlobalRes.Investigation</span>
                    <div class="someDropdowns">
                        <div class="show">
                            3 <img src="/Content/img/arrowSelect.png"> @*vmesto 3 - znachenie levogo slaidera, 2-ogo sverhu*@
                        </div>
                        @for (int i = 1; i <= 60; i++)
                        {
                            <div class="hide">i</div>
                        }


                    </div>
                    <span class="bottomText">@GlobalRes.Recommended: <span class="moreBlack">14 days</span></span>
                </div>
                <div class="special">
                    <div class="greenBlock"></div>
                    <span class="text">@GlobalRes.Resolution</span>
                    <div class="someDropdowns">
                        <div class="show">
                            3 <img src="/Content/img/arrowSelect.png"> @*vmesto 3 - znachenie levogo slaidera, 3-ogo sverhu*@
                        </div>
                        @for (int i = 1; i <= 21; i++)
                        {
                            <div class="hide">i</div>
                        }
                    </div>
                    <span class="bottomText">@GlobalRes.Recommended: <span class="moreBlack">5 days</span></span>
                </div>
            </div>
        </div>
    </div>
</div>