@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.Localization;

@model var_info

@{
    <link rel="stylesheet" type="text/css" href="/Content/styleReportDashboard.css">
    //  @Styles.Render("~/Content/Styles");
    bool is_cc = ViewBag.is_cc;
    var _code = ViewBag.code;


    UserModel um = new UserModel();
    CompanyModel cm = new CompanyModel();
    int company_id = 0;
    ViewBag.Title = LocalizationGetter.GetString("NewCompanyRegistration", is_cc);
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        .fullContainer {
            max-width: none;
        }
    </style>
}
<div class="blockSettings contentCompanyProfile">
    <div class="titleNewUser">
        <h1 class="helloUser">@LocalizationGetter.GetString("NewCompanyRegistration", is_cc):</h1>
    </div>
    <div class="contentSettings">
        <p class="helloUser" id="hello">@LocalizationGetter.GetString("FillTheFollowingFieldsRegister").</p>
        <div class="blockPersonalPhotoSetting">
            <div class="blockPhotoSetting">
                <img class="PersonalPhotoBlock" src='@Url.Content("~/Content/img/logo.png")' />
            </div>
        </div>
        <div>
            <div class="personalBlock" id="registration">
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("InvitationCode")</p>
                    @Html.TextBox("code", Model.invitation_code)
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("CompanyNameUp", is_cc)</p>
                    @Html.TextBox("company_name", Model.company_nm)
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("PrimaryLocationUp", is_cc)</p>
                    <input type="text" id="location" value="" />
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("NumberEmployees", is_cc)</p>
                    <input type="number" id="number" min="0" value="@Model.employee_no" />
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("PrimaryLanguageUp", is_cc)</p>
                    <div class="rowBlock inputMediator">
                        <div class="freeBlock inputRadio mediator active">
                            <label class="inputBlock" for="freeIncident">
                                <input id="oneIncident" type="radio" name="language_id" value="1">
                                <span class="radioTitle">@LocalizationGetter.GetString("English")</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("YourRoleUp", is_cc)</p>
                    <div class="rowBlock inputMediator">
                        <div class="freeBlock inputRadio adminMediator active">
                            <label class="inputBlock" for="freeIncident">
                                <input id="oneIncident" type="radio" name="role_id" value="5">
                                <span class="radioTitle">@LocalizationGetter.GetString("AdminMediator", is_cc)</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("FirstNameUp")</p>
                    <input type="text" id="first" value="@Model.first_nm" />
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("LastNameUp")</p>
                    <input type="text" id="last" value="@Model.last_nm" />
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("Email")</p>
                    <input type="text" id="email" value="@Model.email" />
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("Title")</p>
                    <input type="text" id="title" />
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@LocalizationGetter.GetString("Department")</p>
                    <input type="text" id="departments" />
                </div>
                <div id="PayByCard" type="hidden">
                    <div class="blockPersonalSettings">
                        <p class="title">@LocalizationGetter.GetString("Amount")</p>
                        <input type="text" id="amount" value="@Model.total_price" />
                    </div>
                    <div class="blockPersonalSettings">
                        <p class="title">@LocalizationGetter.GetString("CreditCardNumber")</p>
                        <input type="text" id="cardnumber" />
                    </div>
                    <div class="blockPersonalSettings">
                        <p class="title">@LocalizationGetter.GetString("NameonCard")</p>
                        <input type="text" id="cardname" />
                    </div>

                    <div class="blockPersonalSettings">
                        <p class="title">@LocalizationGetter.GetString("ExpiryDate")</p>
                        <div class="positioncreditCardSelect">
                            <select class="creditCardSelect" id="selectedMonth">
                                <option selected="selected" disabled>mm</option>
                                <option value="01"> 01 </option>
                                <option value="02">02</option>
                                <option value="03"> 03 </option>
                                <option value="04">04</option>
                                <option value="05"> 05 </option>
                                <option value="06">06</option>
                                <option value="07"> 07 </option>
                                <option value="08">08</option>
                                <option value="09"> 09 </option>
                                <option value="10">10</option>
                                <option value="11"> 11 </option>
                                <option value="12">12</option>
                            </select>
                            @*<input type="number" placeholder="mm" id="mm" min="1" pattern="\d*" max="2" maxlength="2"  numbers_only-01-12 mask="__" style="width:45%; float:left" />*@
                            /
                            @*<input type="number" placeholder="yy" id="yy" max="2" maxlength="2" style="width:50%;" mask="__" numbers_only17andmore />*@
                            <select class="creditCardSelect" id="selectedYear">
                                <option selected="selected" disabled>yyyy</option>
                                @{
                                    for (int i = DateTime.Today.Year; i <= 2030; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="blockPersonalSettings">
                        <p class="title">@LocalizationGetter.GetString("CSVCode")</p>
                        <input type="number" id="csv" />
                    </div>
                </div>
                <div class="blockUpdateProfile">
                    <div class="updateProfileBtn">
                        <input class="greenButton" type="submit" value="@LocalizationGetter.GetString("Register")" />
                        <span style="display: none;">@LocalizationGetter.GetString("CreateProfileUp").ToLower()</span>
                    </div>
                </div>
                @Html.Hidden("company_exist")
                @Html.Hidden("emailed_code_to_customer", Model.emailed_code_to_customer)
            </div>
        </div>
    </div>
    <!--</form>-->
</div>
<script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/View/newCompany.js"></script>
<div id="loading" style="display: none">
    <img id="loading-image" src='@Url.Content("~/Content/Icons/giphy.gif")' alt="Loading..." />
</div>