@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;

@{
    <link rel="stylesheet" type="text/css" href="/Content/styleReportDashboard.css">
    ViewBag.Title = GlobalRes.NewUserRegistration;
    var _code = ViewBag.code;
    var _email = ViewBag.email;
    UserModel um = new UserModel();
    string mediator_active = string.Empty;
    string adminMediator_active = string.Empty;
    string escalationMediator_active = string.Empty;
    mediator_active = "active";
    <style>
        .fullContainer {
            max-width: none;
        }
    </style>
}


<div class="blockSettings">
    <div class="titleNewUser">
        <h1 class="helloUser">@GlobalRes.Hellouser!</h1>
    </div>
    <div class="contentSettings">
        <p class="helloUser">@GlobalRes.FillTheFollowingFields.</p>

        <div class="blockPersonalPhotoSetting">
            <div class="blockPhotoSetting">
                <img class="PersonalPhotoBlock" src='@Url.Content("~/Content/Icons/settingsPersonalNOPhoto.png")' />
            </div>
        </div>

        <div class="personalBlock">
            <div class="blockPersonalSettings">
                <p class="title">@GlobalRes.InvitationCodefromEmail</p>
                @Html.TextBox("code")
            </div>
            <div class="blockPersonalSettings">
                <p class="title">@GlobalRes.Email</p>
                @Html.TextBox("email")
            </div>
            <div class="blockPersonalSettings">
                <p class="title">@GlobalRes.FirstNameUp</p>
                <input type="text" id="first" />
            </div>
            <div class="blockPersonalSettings">
                <p class="title">@GlobalRes.LastNameUp</p>
                <input type="text" id="last" />
            </div>

            <div class="blockPersonalSettings">
                <p class="title">@GlobalRes.Title</p>
                <input type="text" id="title" />
            </div>
            <div class="blockPersonalSettings">
                <p class="title">@GlobalRes.Departments</p>
                <input type="text" id="description" />
            </div>

            <div class="blockPersonalSettings">
                <p class="title">@GlobalRes.Role</p>

                <div class="rowBlock inputMediator">
                    <div class="freeBlock inputRadio mediator @mediator_active">
                        <label class="inputBlock" for="freeIncident">
                            <input id="oneIncident" type="radio" name="role_id" value="6">
                            <span class="radioTitle">@GlobalRes.Mediator</span>
                        </label>
                    </div>
                </div><!--rowBlock-->
            </div>

            <div class="blockPersonalSettings">
                <p class="title">@GlobalRes.PrimaryLanguageUp</p>

                <div class="rowBlock inputMediator">
                    <div class="freeBlock inputRadio mediator active">
                        <label class="inputBlock" for="freeIncident">
                            <input id="oneIncident" type="radio" name="language_id" value="1">
                            <span class="radioTitle">@GlobalRes.English</span>
                        </label>
                    </div>
                </div><!--rowBlock-->
            </div>

            <div class="blockUpdateProfile">
                <div class="updateProfileBtn">
                    <input type="submit" value="create" />
                    <span style="display: none;">@GlobalRes.CreateProfileUp.ToLower()</span>
                </div>
            </div>

        </div>
    </div>

</div>


<script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/View/newIndex.js"></script>
