@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.Localization;
@{
  bool? is_cc = ViewBag.is_cc;
  if (!is_cc.HasValue)
  {
    is_cc = false;
  }
  // @Styles.Render("~/Content/Styles");
    <link rel="stylesheet" type="text/css" href="/Content/styleReportDashboard.css">
  ViewBag.Title = "Quote details";
  decimal amount = 0;
  if (ViewBag.amount != null && ViewBag.amount != "" && ViewBag.amount != "0")
  {
    decimal.TryParse(ViewBag.amount, out amount);
  }
    <style>
        .fullContainer {
            max-width: none;
        }
    </style>
}

<div class="blockSettings contentCompanyProfile">
    <div class="titleNewUser">
        <h1 class="helloUser">@LocalizationGetter.GetString("NewQuoteUp", is_cc):</h1>
    </div>
    <div class="contentSettings">
        <div class="blockPersonalPhotoSetting">
            <div class="blockPhotoSetting">
                    <img class="PersonalPhotoBlock" src='@Url.Content("~/Content/img/logo.png")' />
            </div>
        </div>
        <div>


            <div class="personalBlock" id="registration">
                @if (amount > 0)
                {
                    <div class="blockPersonalSettings">
                        <p class="title">@LocalizationGetter.GetString("Amount", is_cc)</p>
                        @Html.TextBox("amount", amount, new Dictionary<string, object>() { { "readonly", "true" } })
                    </div>
                }
                else
                {
                    <div class="blockPersonalSettings">
                        <p class="title">@LocalizationGetter.GetString("Amount", is_cc)</p>
                        @Html.TextBox("amount", amount, new Dictionary<string, object>() { { "readonly", "true" } })
                    </div>
                }
                <div class="blockUpdateProfile">
                    <div class="updateProfileBtn">
                        <input type="submit" value="@LocalizationGetter.GetString("NewCompanyRegistration", is_cc)" />
                        <span style="display: none;">@LocalizationGetter.GetString("NewCompanyRegistration", is_cc)</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--</form>-->
</div>
<script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.blockUpdateProfile, .updateProfileBtn span').click(function (event) {
                      window.location.href = "/new/company";
            //if ($("#code").length > 0) {
            //    window.location.href = "/cases";
            //} else {
            //    window.location.href = "/settings/company?first=1";
            //}
        });

        //$('.updateProfileBtn, .updateProfileBtn span').on('click', function () {
        //});
    });

</script>
