@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@{
    <link rel="stylesheet" type="text/css" href="/Content/styleReportDashboard.css">
    //  @Styles.Render("~/Content/Styles");
    ViewBag.Title = GlobalRes.NewQuoteUp;
    var _code = ViewBag.code;


    UserModel um = new UserModel();
    CompanyModel cm = new CompanyModel();
    int company_id = 0;
    <style>
        .fullContainer {
            max-width: none;
        }
    </style>
}

<div class="blockSettings contentCompanyProfile">
    <div class="titleNewUser">
        <h1 class="helloUser">@GlobalRes.NewCompanyRegistration:</h1>
    </div>
    <div class="contentSettings">
        <p class="helloUser" id="hello">@GlobalRes.GetQuoteMessage.</p>

        <div class="blockPersonalPhotoSetting">
            <div class="blockPhotoSetting">
                <img class="PersonalPhotoBlock" src='@Url.Content("~/Content/img/logo.png")' />
            </div>
        </div>
        <div>
            <div class="personalBlock" id="registration">
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.InvitationCode</p>
                    @Html.TextBox("code")

                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.CompanyNameUp</p>
                    @Html.TextBox("company_name")
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.PrimaryLocationUp</p>
                    <input type="text" id="location" />
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.NumberEmployees</p>
                    <input type="text" id="number" />
                </div>


                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Name</p>
                    <input type="text" id="first" />
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Email</p>
                    <input type="text" id="email" />
                </div>
                <div class="blockPersonalSettings">
                    <p class="title">@GlobalRes.Title</p>
                    <input type="text" id="title" />
                </div>

                <div class="blockUpdateProfile">
                    <div class="updateProfileBtn">
                        <input type="submit" value=@GlobalRes.Submit />
                        <span style="display: none;">@GlobalRes.RequestQuoteUp.ToLower()</span>
                    </div>
                </div>
                @Html.Hidden("company_exist")
            </div>

        </div>

    </div>
    <!--</form>-->
</div>

<script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/View/newCompany.js"></script>