
@{
  ViewBag.Title = "Video";
  string invitation = "";
  string view_video = "Get Pricing";
  string book_redirect = "Index";
  string emailedcode = "";
  if (ViewBag.preReg != null && ViewBag.preReg)
  {
    view_video = "Next step";
  }
  if (ViewBag.invitation != null && ViewBag.emailedcode != null)
  {
    invitation = ViewBag.invitation;
    book_redirect = "CompanyRegistrationVideo";
    emailedcode = ViewBag.emailedcode;
  }
}

<style>
    .main {
        overflow: visible !important;
    }

    .videoBlockDownload-title2 {
        display: flex;
        text-decoration: none;
        color: #434343;
        font-family: Lato-Regular-LatinWeb;
        font-size: 24px;
        background-color: #edf0f0;
        justify-content: center;
        flex-flow: column;
    }

    .videoBlockDownload-icon {
        margin-top: 10px !important;
    }

    .videoBlockDownload-title2 {
        font-size: 20px !important;
    }
</style>

<div class="general-container videoPage">

    <header class="header">
        <div class="top-headerBg">
            <div class="container">
                <div class="top-header">
                    <a href="http://campusconfidential.com" class="top-header__campusLink">
                        <span class="top-header__campusLink-text">
                            Campus Confidential
                        </span>
                        <img src="~/Content/images/svg-icons/upper-right.svg" alt="" />
                    </a>
                    <div class="top-header__loginBar">
                        <nav class="top-header__loginBar-nav">
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Login" class="top-header__loginBar-a">
                                    Client Login
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Report" class="top-header__loginBar-a">
                                    File a Report
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="top-header__loginBar-a">
                                    Check Report Status
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                        </nav><!-- /.top-header__loginBar-nav -->
                    </div><!-- /.top-header__loginBar -->
                </div><!-- /.top-header -->
            </div>
        </div>
        <div class="main-headerBg ">
            <div class="container">
                <div class="main-header">
                    <a href="/" class="main-headerLogo">
                        <div class="main-headerLogo__img">
                            <img src="~/Content/images/0-main-logo.png" alt="" />
                        </div><!-- /.main-headerLogo__img -->
                        <div class="main-headerLogo__text">
                            Reduce risk. Create trust.
                        </div><!-- /.main-headerLogo__text -->
                    </a><!-- /.main-headerLogo -->
                    <div class="main-headerMenu-mobile">
                        <a href="/" class="main-headerLogo-mobile">
                            <div class="main-headerLogo__img-mobile">
                                <img src="~/Content/images/0-main-logo.png" alt="" />
                            </div><!-- /.main-headerLogo__img -->
                            <div class="main-headerLogo__text-mobile">
                                Reduce risk. Create trust.
                            </div><!-- /.main-headerLogo__text -->
                        </a><!-- /.main-headerLogo -->
                        <a href="#" class="main-headerLogo-mobile-burgerBtn">
                            <img src="~/Content/images/svg-icons/burger.svg" alt="" />
                        </a>
                    </div><!-- /.main-headerMenu-mobile -->
                    <div class="main-headerMenu">
                        <nav class="main-headerMenu__nav">
                            <li class="main-headerMenu__li">
                                <a href="/#benefitsSection" class="main-headerMenu__a">
                                    Benefits
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#gridSection" class="main-headerMenu__a">
                                    Incident Reporting
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#menegementSection" class="main-headerMenu__a">
                                    Case Management
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="about.html" data-scroll-to="" class="main-headerMenu__a">
                                    About
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#contactSection" class="main-headerMenu__a">
                                    Contact
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                        </nav><!-- /.main-headerMenu__nav -->
                    </div><!-- /.main-headerMenu -->
                </div><!-- /.main-header -->
            </div><!-- /.container -->
        </div><!-- /.main-headerBg -->
    </header><!-- /.header -->
    <main class="main">
        <section class="videoHeroImageSection">
            <div class="container">
                <div class="videoHeroImage-contentBlock">
                    <div class="videoHeroImage-contentBlock__title">
                        See for yourself
                    </div>
                    <div class="videoHeroImage-contentBlock__subTitle">
                        Employee Confidential will help you reduce the hidden risks and
                        costs of unethical and illegal behavior.  Protect your company,
                        its employees and other stakeholders.
                    </div>
                    <div class="videoHeroImage-contentBlock__textInfo">
                        Watch the demos and see how it’s done.
                    </div>
                    <a href="#" class="videoHeroImage-contentBlock__playBlock clearfix" id="play-video">
                        <div class="videoHeroImage-contentBlock__playBlock-icon"></div>
                        <div class="videoHeroImage-contentBlock__playBlock-text">
                            Start watching
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="videoMeinContentSection">
            <div class="container clearfix">
                <div class="videoMeinContent-block">
                    <div class="videoBlock-container">
                        <div class="videoBlock-playBg">
                            <iframe id="video" width="283" height="170" src="https://www.youtube.com/embed/QsVTBL7GtLI?rel=0" frameborder="0" allow="autoplay" allowfullscreen></iframe>
                        </div>
                        <div class="videoBlock-content">
                            <div class="videoBlock-content__info">
                                1. What is Employee Confidential
                                & its Benefits
                            </div>
                        </div>
                    </div>

                    <div class="videoBlock-container">
                        <div class="videoBlock-playBg">
                            <iframe width="283" height="170" src="https://www.youtube.com/embed/RGC12JKVPDk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="videoBlock-content">
                            <div class="videoBlock-content__info">
                                2. Filing an Incident Report
                            </div>
                        </div>
                    </div>

                    <div class="videoBlock-container">
                        <div class="videoBlock-playBg">
                            <iframe width="283" height="170" src="https://www.youtube.com/embed/4giNTtYyZro" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="videoBlock-content">
                            <div class="videoBlock-content__info">
                                3. Reporters’ Dashboard
                            </div>
                        </div>
                    </div>

                    <div class="videoBlock-container">
                        <div class="videoBlock-playBg">
                            <iframe width="283" height="170" src="https://www.youtube.com/embed/6VElHWGBN6c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="videoBlock-content">
                            <div class="videoBlock-content__info">
                                4. Case Management
                            </div>
                        </div>
                    </div>

                    <div class="videoBlock-container">
                        <div class="videoBlock-playBg">
                            <iframe width="283" height="170" src="https://www.youtube.com/embed/x9clgKkZTh0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="videoBlock-content">
                            <div class="videoBlock-content__info">
                                5. Onboarding and
                                Implementation
                            </div>
                        </div>
                    </div>

                    <div class="videoBlockDownload-container">
                        <a href="@Url.Content("~/Content/Employee Confidential-Overview_Two-Pager_2019 (c).pdf")" download="" class="videoBlockDownload-title videoBlockDownload-title2">
                            <div class="videoBlockDownload-title videoBlockDownload-title2">
                                Download 2-page</br> overview
                            </div>
                            <div class="videoBlockDownload-icon videoBlockDownload-icon2"></div>
                        </a>

                        <a href="@Url.Content("~/Content/Employee Confidential-Overview_(c)_2019.pdf")" download class="videoBlockDownload-title2" style="margin-top: 40px;">
                            <div class="videoBlockDownload-title">
                                Download brochure
                            </div>
                            <div class="videoBlockDownload-icon videoBlockDownload-icon2"></div>
                        </a>
                    </div>

                </div>
                <div class="videoMeinContent-sideBar">

                    <div class="sidebarActionblock">
                        <div class="sidebarActionblock__title">
                            <div class="sidebarActionblock__title-text">
                                I’m ready, let’s
                                start
                            </div>
                        </div>
                        <div class="sidebarActionblock__btn">
                            <a href="@Url.Action(@book_redirect, "Book", new { id = ViewContext.RouteData.Values["id"], code = invitation, invitationcode = invitation, emailedcode = emailedcode })" class="btn btnGreen">
                                @view_video
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="videoMeinContentSection">
            <div class="container clearfix">
                <div class="large-12 columns">
                    <section class="slider-section">
                        <div class="owl-carousel ">
                            <div class="owl-carousel__slide owl-carousel__slide1">
                                <div class="slider-content ">
                                    <div class="slider-content__title">
                                    </div><!-- /.slider-content__title -->
                                    <div class="slider-content__text">
                                        <p class="slider-content__text-main">
                                            “We are using Employee Confidential in our foundations’ offices in 9 states. <br />
                                            The use of this software has helped us demonstrate to our stakeholders (employees, volunteers, board members, donors and sponsors) that we have the checks and balances in place for us <br /> to stay true to our mission.
                                            <br /><br />
                                            The interface is very user-friendly, detailed and customizable for our organizations' needs.”
                                        </p>
                                        <p class="slider-content__text-signature">
                                            Andrew M. Snyder, Operations Manager, <b>PTSD Foundation of America</b>
                                        </p>
                                    </div><!-- /.slider-content__text -->
                                </div><!-- /.slider-content -->
                            </div><!-- /.container -->
                            <div class="owl-carousel__slide owl-carousel__slide1">
                                <div class="slider-content container">
                                    <div class="slider-content__title">
                                    </div><!-- /.slider-content__title -->
                                    <div class="slider-content__text">
                                        <p class="slider-content__text-main">
                                            “It  is a fresh, easy to use program that is robust and thorough in handling a myriad of reports. <br />
                                            It allows for the comprehensive management of cases while simultaneously accommodating a flexible and decentralized approach to individualized case investigation and response. <br /><br />
                                            The implementation team is very helpful and the process is easy to follow.“
                                        </p>
                                        <p class="slider-content__text-signature">
                                            Esther Couret, Director of Human Resources, <b>Dutchess Community College, SUNY.</b>
                                        </p>

                                    </div><!-- /.slider-content__text -->
                                </div><!-- /.slider-content -->
                            </div><!-- /.container -->
                            <div class="owl-carousel__slide owl-carousel__slide1">
                                <div class="slider-content container">
                                    <div class="slider-content__title">
                                    </div><!-- /.slider-content__title -->
                                    <div class="slider-content__text">
                                        <p class="slider-content__text-main">
                                            “Employee Confidential is very user friendly. It allows my staff to voice any internal concerns and helps us address them in an organized manner through its online portal. <br /><br />
                                            With anonymous feedback from employees and patients, I feel we are able to improve our work environment. I'm also glad that Employee Confidential can protect small businesses like mine against litigation risks.”
                                        </p>
                                        <p class="slider-content__text-signature">
                                            Dr. Trieu Ton, Founder, <b>Autumn Lake and Arbor Dental</b>
                                        </p>
                                    </div><!-- /.slider-content__text -->
                                </div><!-- /.slider-content -->
                            </div><!-- /.container -->
                            <div class="owl-carousel__slide owl-carousel__slide1">
                                <div class="slider-content container">
                                    <div class="slider-content__title">
                                    </div><!-- /.slider-content__title -->
                                    <div class="slider-content__text">
                                        <p class="slider-content__text-main">
                                            “Employee Confidential has provided the employees within our restaurants and bakeries with a safe and confidential way to share a variety of concerns. <br /><br />
                                            We continually strive to create positive and respectful work environments, but if a problem should occur, we want to know about it. The ease of this reporting and case management system helps us achieve that goal.”
                                        </p>
                                        <p class="slider-content__text-signature">
                                            Julie Secviar, Human Resources Director, <b>Thomas Keller Restaurant Group</b>
                                        </p>
                                    </div><!-- /.slider-content__text -->
                                </div><!-- /.slider-content -->
                            </div><!-- /.container -->

                        </div>
                    </section><!-- /.slider-section -->
                </div>
            </div>
        </section>
        <section class="videoActionSection">
            <div class="container">
                <div class="videoAction-title">
                    Ready to do this?
                </div>
                <div class="videoAction-button">
                    <a href="@Url.Action(@book_redirect, "Book", new { id = ViewContext.RouteData.Values["id"], code = invitation, invitationcode = invitation, emailedcode = emailedcode })" class="btn actionBtn">@view_video</a>
                </div>
            </div>
        </section>


    </main><!-- /.main -->
    @{Html.RenderPartial("footer");}

</div><!-- /.general-container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Content/libs/OwlCarousel2-2.2.1/dist/owl.carousel.min.js"></script>
<script src="~/Content/js/common.js"></script>

<script>
    $(document).ready(function () {
        $('#play-video').on('click', function (ev) {

            $("#video")[0].src += "&autoplay=1";
            ev.preventDefault();

        });
    });
</script>