@using EC.App_LocalResources
@using EC.Controllers.Utils
@using EC.Models

@{
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    String class_ext = ViewBag.cc_extension;
    //19
    //bool? is_cc = true;
    //String class_ext = "";
    //if (is_cc)
    //{
    //    class_ext = "_cc";
    //}
    
    <script src="~/Scripts/View/LoginHereCompany.js"></script>
    ViewBag.Title = GlobalRes.increportingandcasemanag;
    //Layout = "~/Views/Shared/_MainHTML.cshtml";
    Layout = "~/Views/Shared/HeaderFooterFrontPages.cshtml";
    ViewBag.background = "background-image: url(/Content/img/website-report" + class_ext + ".jpg);";
    ViewBag.cssStyle = "/Content/MainStyle.css";
    //ViewBag.cssStyle = "/Content/MainStyle.min.css";
    //ViewBag.cssStyle = "/Content/style.css";
    string _returned = "";
}

<div id="bodyInc" class="loginCompany">

    <div class="secondMenu">
        @if (ViewBag.LogoCompany != null)
        {
            <img class="secLogo" src='@Url.Content(ViewBag.LogoCompany)' />
        }
        else
        {
            <img class="secLogo" src='@Url.Content("~/Content/img/secondLogo.jpg")' />
        }
        
        <div class="statusTitle">
            <div class="titleInc">@GlobalRes.increportingandcasemanag</div>
        </div>
    </div>
    <div class="bodyIncCompany">

        <div class="loginFormHeader">
            <p class="loginTitle">@GlobalRes.Login.ToUpper()</p>
        </div>
        <div class="loginForm">
            <div class="loginInput">
                <label class="label">@GlobalRes.Login</label>
                <input type="text" class="loginText defaultStyle" name="login">
            </div>
            <div class="passwordInput">
                <label class="label">@GlobalRes.Password</label>
                <input type="password" class="loginText defaultStyle" name="password">
            </div>
            
            <input type="submit" id="submit" value="LOGIN" class="defaultStyle" style="font-family: 'OpenSans';">
        </div>
        <div class="loginFormFooter"><a href="~/Login/ForgetPassword">@GlobalRes.ForgotPassword?</a></div>

    </div>

</div>


<div id="bottomBody@{@class_ext}">

    <div class="fourthTitle">
        @GlobalRes.DontSilentBystander
    </div>
    <div class="icons">
        <div class="centerBlock">
            <div class="itemBlock">
                <div class="empty"></div>
                <div class="positionIcons">
                    <div id="firstIcon"></div>
                </div>
                <span class="title">@GlobalRes.ActEarly,<br />@GlobalRes.ActEthically</span><br />
                <span class="textBlock">
                    @GlobalRes.Ifyouwitness
                </span>
            </div>

            <div class="itemBlock">
                <div class="empty"></div>
                <div class="positionIcons">
                    <div id="secondIcon"></div>
                </div>
                <span class="title">@GlobalRes.ReportWeb, <br />@GlobalRes.TabletMobile</span><br />
                <span class="textBlock">
                    @GlobalRes.Useonline
                </span>
            </div>

            <div class="itemBlock">
                <div class="empty"></div>
                <div class="positionIcons">
                    <div id="thirdIcon"></div>
                </div>
                <span class="title">@GlobalRes.Chooseyour  <br />@GlobalRes.ConfidentialityLevel</span><br />
                <span class="textBlock">
                    @GlobalRes.ReportAnon
                </span>
            </div>

            <div class="itemBlock">
                <div class="empty"></div>
                <div class="positionIcons">
                    <div id="fourthIcon"></div>
                </div>
                <span class="title">@GlobalRes.Expecta <br />@GlobalRes.Response</span><br />
                <span class="textBlock">
                    @GlobalRes.Mediatorswillgetback
                </span>
            </div>
        </div><!-- end centerBlock-->
    </div><!--end icons-->
</div><!--end bottomBody-->
