@using EC.App_LocalResources;
@{
    ViewBag.Title = GlobalRes.RestoreYourPassword;
    Layout = "~/Views/Shared/HeaderFooterFrontPages.cshtml";
    ViewBag.cssStyle = "/Content/aStart";


}

<link rel="stylesheet" href="/Content/login.css" />
<form action="/Login/RestorePass" method="post">
    <div class="loginFormHeader">
        <p class="loginTitle">@GlobalRes.RestoreYourPassword.ToUpper()</p>
    </div>
    <div class="loginForm">
        <div class="loginInput">
            <label class="label">@GlobalRes.Email</label>
            <input type="text" class="loginText" name="email" value="@ViewBag.email" />

        </div>
        <div class="passwordInput">
            <label class="label">@GlobalRes.Yourpasswordtoken</label>
            <input type="text" class="loginText" name="token" value="@ViewBag.token" />
        </div>
        <input type="submit" id="submit" value="Submit">
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#submit').on('click', function (event) {
            var email = $('input[name=email]');
            var token = $('input[name=token]');
            if (email.val() == "") {
                event.preventDefault();
                alert('@GlobalRes.EnterYourEmail');
            } else {
                if (token.val() == "") {
                    event.preventDefault();
                    alert('@GlobalRes.EnterYourToken');
                } 
            }
        });
    });

</script>
     @if (ViewBag.error != null)
     {
        <text>
        <script>
            $(document).ready(function () {
                alert('@ViewBag.error');
            });
        </script>
        </text>
    }
@if (ViewBag.redirect != null)
{
    <text>
    <script>
        $(document).ready(function () {
            //
            var url = '@Url.Action("Company", "Login")';
            window.location.href = url;
            });
    </script>
    </text>
}
