@using EC.App_LocalResources;
@{
    ViewBag.Title = "RestorePass";
    Layout = "~/Views/Shared/HeaderFooterFrontPages.cshtml";
    ViewBag.background = "background-color: #E5F3F2;";
}

<link rel="stylesheet" href="/Content/login.min.css" />
<form action="/Login/setNewPass" method="post">
    <input type="hidden" id="email" name="email" value="@ViewBag.email" />
    <input type="hidden" id="token" name="token" value="@ViewBag.token" />
    <div class="loginFormHeader">
        <p class="loginTitle">@GlobalRes.EnterNewPassword.ToUpper()</p>
    </div>
    <div class="loginForm">
        <div class="loginInput">
            <label class="label">@GlobalRes.ConfirmPassword</label>
            <input type="password" class="loginText" name="password" />

        </div>
        <div class="passwordInput">
            <label class="label">@GlobalRes.NewPassword</label>
            <input type="password" class="loginText" name="confirmPassword" />
        </div>
        <input type="submit" id="submit" value="Submit">
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#submit').on('click', function (event) {
            var password = $('input[name=password]');
            var confirmPassword = $('input[name=confirmPassword]');
            if (password.val() == "") {
                event.preventDefault();
                alert('@GlobalRes.requiredFileds');
            } else {
                if (confirmPassword.val() == "") {
                    event.preventDefault();
                    alert('@GlobalRes.requiredFileds');
                } else {
                    if (password.val() != confirmPassword.val()) {
                        event.preventDefault();
                        alert('@GlobalRes.notMatchConfPassandPass');
                    }
                    var email = $("#email");
                    var token = $("#token");
                    if (email.val() == "" && token.val() == "") {
                        event.preventDefault();
                        alert('@GlobalRes.reEnterEmailToken');
                        window.location.replace("Login/Restore");
                    }
                }
            }
        });
    });
</script>

