@using EC.Models;
@using EC.Models.Database;
@using EC.App_LocalResources;
@using EC.Constants;

@{
    var report_id = (Int32)ViewBag.report_id;
    var user_id = (Int32)ViewBag.user_id;

    EC.Models.ReportModel rm = new ReportModel(report_id);
    List<report_non_mediator_involved> _involved = rm._witnesses;
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    String class_ext = ViewBag.cc_extension;
    //19
    //bool is_cc = true;
    //String class_ext = "";
    //if (is_cc)
    //{
    //    class_ext = "_cc";
    //}

}


<div class="leftBlockContent">
    <div class="leftHeader">

        <div class="blockTop">
            <div id="reportIcon"></div>
            <label class="title">@GlobalRes.Reportsummary</label>
            <div class="closeIcon"></div>
        </div>

        <table id="timeReport">
            <tbody>
                <tr>
                    <td class="openSans">@GlobalRes.Reported:</td>
                    <td class="openSansSemibold">@rm._reported_date_string</td>
                </tr>
                <tr>
                    <td class="openSans">@GlobalRes.Timeelapsed:</td>
                    @if (rm._total_days == 1)
                    {
                        <td class="openSansSemibold">@rm._total_days.ToString() @GlobalRes.day</td>
                    }
                    else
                    {
                        <td class="openSansSemibold">@rm._total_days.ToString() @GlobalRes.days1</td>
                    }
                </tr>
            </tbody>

        </table>
        <div class="blockInfoDays">
            <span class="title">@rm.InvestigationStatusString():  </span>
            @if (Convert.ToInt32((DateTime.Today - rm._last_promoted_date).TotalDays + 1) == 1)
            {
                <span class="days">@Convert.ToInt32((DateTime.Today - rm._last_promoted_date).TotalDays + 1) @GlobalRes.day</span>
            }
            else
            {
                <span class="days">@Convert.ToInt32((DateTime.Today - rm._last_promoted_date).TotalDays + 1) @GlobalRes.days1</span>
            }

            @if (rm._step_days_left == 1)
            {
                <span class="daysRight">@rm._step_days_left.ToString() @GlobalRes.day_left </span>
            }
            else
            {
                <span class="daysRight">@rm._step_days_left.ToString() @GlobalRes.days_left</span>
            }
        </div>
        @if (rm._investigation_status != ECGlobalConstants.investigation_status_closed)
        {
            <div class="blockContactReportBtn">
                <a id="reporter_link" href="~/case/reporter/@report_id">
                    <span class="contactReportBtn contactReportBtn@{@class_ext}">@GlobalRes.contactreporter.ToUpper()</span>
                </a>
            </div>
        }
    </div><!--leftHeader-->

    <div class="leftContent">
        <div id="generalInfo">
            <div class="firstPosition">
                <div class="blockGeneralInformation">
                    <span class="title">@GlobalRes.GeneralInformation</span>
                    <div class="generalInformation">
                        <p class="title">@GlobalRes.ReportingFrom:</p>
                        <p class="text">@rm._country_string</p>
                        <p class="title">@GlobalRes.Reporterwouldliketostay:</p>
                        <p class="text">@rm._anonymousLevel_mediatorVersionByCaller(user_id)</p>
                        @if ((rm.Get_reporter_name(user_id).ToLower().Trim() != GlobalRes.anonymous_reporter.ToLower().Trim()) && (rm._report.incident_anonymity_id != 1))
                        {
                        <p class="title">@GlobalRes.Reportername:</p>
                        <p class="text">@rm.Get_reporter_name(user_id)</p>
                        }
                        <p class="title">@GlobalRes.Reporteris:</p>
                        <p class="text">@rm._reporter_company_relation_short</p>
                        @if (!String.IsNullOrEmpty(rm._report.not_current_employee))
                        {
                        <p class="title">&nbsp;</p>
                        <p class="text">
                            @rm._report.not_current_employee
                        </p>
                        }

                        <p class="title">@GlobalRes.TheIncidentHappened @GlobalRes.in_:</p>
                        <p class="text">@rm._location_string</p>
                        <p class="title">@GlobalRes.AffectedDepartment:</p>
                        <p class="text">@rm._departments_string</p>
                    </div>
                </div>

                <div class="blockPartiesInformation">
                    <span class="title">@GlobalRes.PartiesInvolved</span>
                    <div class="partiesInformation">

                        @foreach (var witness in _involved)
                        {
                    <p class="title">
                        @witness.Name &nbsp; @witness.last_name
                    </p>
                            <p class="text">@witness.Title, @witness.Role</p>
                        }



                        @if (rm._involved_mediators_user_list.Count > 0)
                        {
                            <p class="title">@GlobalRes.Mediatorsinvolved</p>
                            foreach (user witness in rm._involved_mediators_user_list)
                            {
                                <p class="text">@witness.first_nm @witness.last_nm, @witness.title_ds  @witness.notepad_tx</p>
                            }
                        }

                        <p class="title">@GlobalRes.Doesmanagementknowaboutthisincident </p>
                        <p class="text"> @rm._management_know_string</p>

                        @if (!String.IsNullOrEmpty(rm._report.management_know_text))
                        { <p class="title">&nbsp; </p>
                            <p class="text">
                                @rm._report.management_know_text
                            </p>
                        }

                        <p class="title">@GlobalRes.Incidentreportedoutside_q</p>
                        <p class="text">@rm._is_reported_outside</p>
                        @if (!String.IsNullOrEmpty(rm._report.reported_outside_text))
                        {   <p class="title">&nbsp;</p>
                            <p class="text">
                                @rm._report.reported_outside_text
                            </p>
                        }

                        <p class="title">@GlobalRes.IsReportUrgent_q</p>
                        <p class="text">@rm._is_reported_urgent</p>
                    </div>
                </div>

                <div class="blockCaseInformation">
                    <span class="title">@GlobalRes.CaseInformation</span>
                    <div class="caseInformation">
                        <p class="title">@GlobalRes.ReportingAbout:</p>
                        <p class="text">@rm._secondary_type_string</p>

                        <p class="title">@GlobalRes.IncidentDate:</p>
                        <p class="text">@rm._incident_date_string</p>

                        <p class="title">@GlobalRes.isOngoing?</p>
                        <p class="text">@rm._is_ongoing</p>
                        @if (!String.IsNullOrEmpty(rm._report.report_frequency_text))
                        {
                            <p class="title">&nbsp;</p>
                            <p class="text">
                                @rm._report.report_frequency_text
                            </p>
                        }

                        <p class="title">@GlobalRes.IncidentResultInjury</p>
                        <p class="text">@rm._has_injury_damage</p>
                        @if (!String.IsNullOrEmpty(rm._report.injury_damage))
                        {
                            <p class="title">&nbsp;</p>
                            <p class="text">
                                @rm._report.injury_damage
                            </p>
                        }
                    </div>
                </div>

                <div class="incidentDescription">
                    <p class="titleIncidentDescription">@GlobalRes.IncidentDescription:</p>
                    <div class="text">
                        @rm._report.description
                    </div>
                </div>
            </div>

            <div class="contentDownloadDoc">
                @foreach (EC.Models.Database.attachment file in ViewBag.attachmentFiles)
                {
                    <div class="blockDownloadDoc">
                        <div class="blockImg">
                            <img src='@Url.Content("/Content/Icons/viewDoc1.png")'>
                        </div>
                        <div class="infoBlock">
                            <p>@file.file_nm</p>
                            <a href="@file.path_nm" download>@GlobalRes.Download.ToLower()</a>
                        </div>
                    </div>
                }
            </div>

        </div><!--generalInfo-->
        </div><!--leftContent-->
        <div class="leftContentFooter"></div>
        </div><!--leftBlockContent-->
