@using EC.Models;
@using EC.App_LocalResources;
@{
    int report_id = (Int32)ViewBag.report_id;
    int user_id = (Int32)ViewBag.user_id;
    int selected_item = (Int32)ViewBag.selected_item;
    ReportModel rm = new ReportModel(report_id);
    UserModel um = new UserModel(user_id);

    int unread_tasks = @um.UnreadActivityUserTaskQuantity(report_id, true);
    int unread_messages = @um.Unread_Messages_Quantity(report_id, 2) + @um.Unread_Messages_Quantity(report_id, 1) + @um.Unread_Messages_Quantity(report_id, 3);

    string unread_tasks_s = "";
    string unread_messages_s = "";

    string popup = null;
}

@{
    if (unread_tasks > 0)
    {
        unread_tasks_s = unread_tasks.ToString();
    }

    if (unread_messages > 0)
    {
        unread_messages_s = unread_messages.ToString();
    }

    if (selected_item == 0)
    {
        selected_item = 1;
    }
}

@{ 

    if (ViewBag.popup != null)
    {
        popup = report_id + "?popup=" + ViewBag.popup;
    }
    else
    {
        popup =  report_id + "?popup=true";
    }

}

<a href="/Case/Index/@popup" class="@(selected_item == 1 ? "caseesTab active" : "caseesTab")">
    @GlobalRes.Tasks
    @if (unread_tasks_s.Length > 0)
    {
        <span>@unread_tasks_s</span>
    }
</a>
<a href="/Case/Messages/@popup" class="@(selected_item == 2 ? "caseesTab active" : "caseesTab")">
    @GlobalRes.Messages
    @if (unread_messages_s.Length > 0)
    {
        <span>@unread_messages_s</span>
    }
</a>

<a href="/Case/Team/@popup" class="@(selected_item == 3 ? "caseesTab active" : "caseesTab")">@GlobalRes.Team</a>
