@using EC.Models.Database;
@using EC.Models;
@using EC.App_LocalResources;
@using EC.Common.Interfaces;
@using EC.Core.Common;
@using EC.Constants;

@{
    int report_id = (Int32)ViewBag.report_id;
    int user_id = (Int32)ViewBag.user_id;
    List<attachment> attachmentFiles = (List<attachment>)ViewBag.attachmentFiles;
    ReportModel rm = (ReportModel)ViewBag.rm;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    string popup = null;
    if (ViewBag.popup != null)
    {
        popup = ViewBag.popup;
    }
}
<body>


    <link type="text/css" href="~/Content/caseTasks.css" rel="stylesheet">
    <div class="blockContent">
        <!--leftBlockContent-->
        @Html.Partial("~/Views/PartialViews/_ReportDetailsLeft.cshtml",
                        new ViewDataDictionary { { "report_id", report_id },
                                                { "user_id", user_id },
                                                { "attachmentFiles", attachmentFiles } })

        <div class="rightBlockContent">
            <div id="slider">
                <div class="reportIconWhite">
                </div>
            </div>

            @if ((rm._investigation_status == ECGlobalConstants.investigation_status_resolution) || (rm._investigation_status == ECGlobalConstants.investigation_status_completed))
            {
                @Html.Partial("~/Views/Case/PartialView/GreenBarCaseResolutionRequest.cshtml")
            }
            <div class="firstHeader2">
                <div id="casesHeared">
                    <div id="menu">
                        @Html.Partial("~/Views/PartialViews/_ReportTopMenu.cshtml",
                        new ViewDataDictionary { { "report_id", report_id },
                                                { "user_id", user_id },
                                                { "selected_item", 1 } ,{ "popup", popup } })
                    </div>


                </div>

            </div>
            <div id="rightFirstHeader">
                <div id="icon">

                </div>
            </div>
            @*start*@
            @if (rm._investigation_status == ECGlobalConstants.investigation_status_closed)
            {
                <div class="firstHeader resolveSoledBlock">
                    <div class="caseWaitApp">@GlobalRes.CaseClosed</div>
                    <div class="positionDropDown">
                        <span class="dropDownfirstHeader flag" style="top: -19px;"></span>
                        <a href="#" class="closeCustom flag"></a>
                    </div>
                    <div class="positionActivityIcon">
                        <div id="activityIcon"></div>
                        <span>@GlobalRes.Activity</span>
                    </div>
                </div>
            }

            <div id="attachmentPage">
                <div class="container">
                    <div class="dragAndDropContainer">
                        <div class="dottedContainer">
                            <p class="semiboldText">Drag and drop files here</p>
                            <p class="secondSemiboldText">or</p>
                            <div>select files to upload</div>
                        </div>

                        <div class="radioButtonContainer">
                            <label class="inputBlock" for="staff" style="float:left; padding-right: 30px;">
                                <input id="Anonymous" type="radio" name="stay" value="staff">
                                <span class="radioButton"></span>
                                <span class="radioTitle">visible to staff</span>
                            </label>
                            <label class="inputBlock" for="reporter">
                                <input id="Anonymous" type="radio" name="stay" value="reporter">
                                <span class="radioButton"></span>
                                <span class="radioTitle">visible to reporter</span>
                            </label>
                        </div>
                    </div>

                    <table>
                        <tbody>
                            <tr>
                                <td class="image">
                                    <img src="~/Content/Icons/viewDoc2.png" />
                                </td>
                                <td class="customWidth">
                                    <p class="secondRow">
                                        <div class="secondRowReporter">Anonimous reporter</div>
                                        Budget.xls
                                    </p>
                                </td>
                                <td>
                                    <p class="recipient">
                                        FOR REPORTER
                                    </p>
                                </td>
                                <td>
                                    <p class="date">
                                        23 Feb
                                    </p>
                                    <p class="download">
                                        download
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>