@using System.Collections;
@using EC.Models;
@using EC.Models.Database;
@using EC.Constants;
@using EC.Localization;
@{
    Layout = null;
    List<company_root_cases_behavioral> list1 = (List<company_root_cases_behavioral>)ViewBag.Company_root_cases_behavioral;
    List<company_root_cases_external> list2 = (List<company_root_cases_external>)ViewBag.Company_root_cases_external;
    List<company_root_cases_organizational> list3 = (List<company_root_cases_organizational>)ViewBag.Company_root_cases_organizational;
}

<style>
    .deleteRootCauses {
	    cursor: pointer;
	    text-decoration: none;
	    color: inherit;
    }
    .btn-link {
        cursor: pointer;
    }
</style>

<div class="container subNavigationTabs__tabContent-container">
    <div id="subTab-1" class="subNavigationTabs__tabContent active">
        <section class="content-container">
            <div class="content-container__inner">
                <div class="content-container__inner-additional clearfix">
                    <div class="row">
                        <div class="col-4">
                            <p class="sectionHeader-col">Behavioral Factors</p>
                            @foreach (var item in list1)
                            {
                                <p class="content-container__p">
                                    @if (ViewBag.is_valid_mediator)
                                    {
                                        <span class="deleteRootCauses" data-id="@item.id" data-type="1">X</span>
                                    }
                                    @item.name_en
                                </p>
                            }
                            @if (ViewBag.is_valid_mediator)
                            {
                                <div class="btn-link" id="addNewRootCauses1a">
                                    @LocalizationGetter.GetString("AddNewBehavioralFactors")
                                </div>
                            }
                            <div class="newRootCauses" id="newRootCauses1" style="display: none; border-style: solid; border-width: 0px;">
                                <input type="text" required="" value="" placeholder="Enter name" class="personDataTextBox">
                                <div class="addLocationBtn" id="addLocBtn1" style="width: auto;">
                                    <p style="min-width: 50px;" class="btnAdd">@LocalizationGetter.GetString("Add")</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <p class="sectionHeader-col">External Influences</p>
                            @foreach (var item in list2)
                            {
                                <p class="content-container__p">
                                    @if (ViewBag.is_valid_mediator)
                                    {
                                        <span class="deleteRootCauses" data-id="@item.id" data-type="2">X</span>
                                    }
                                    @item.name_en
                                </p>
                            }
                            @if (ViewBag.is_valid_mediator)
                            {
                                <div class="btn-link" id="addNewRootCauses2a">
                                    @LocalizationGetter.GetString("AddNewExternalInfluences")
                                </div>
                            }
                            <div class="newRootCauses" id="newRootCauses2" style="display: none; border-style: solid; border-width: 0px;">
                                <input type="text" required="" value="" placeholder="Enter name" class="personDataTextBox">
                                <div class="addLocationBtn" id="addLocBtn1" style="width: auto;">
                                    <p style="min-width: 50px;" class="btnAdd">@LocalizationGetter.GetString("Add")</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <p class="sectionHeader-col">Organizational Influences</p>
                            @foreach (var item in list3)
                            {
                                <p class="content-container__p">
                                    @if (ViewBag.is_valid_mediator)
                                    {
                                        <span class="deleteRootCauses" data-id="@item.id" data-type="3">X</span>
                                    }
                                    @item.name_en
                                </p>
                            }
                            @if (ViewBag.is_valid_mediator)
                            {
                                <div class="btn-link" id="addNewRootCauses3a">
                                    @LocalizationGetter.GetString("AddNewOrganizationalInfluences")
                                </div>
                            }
                            <div class="newRootCauses" id="newRootCauses3" style="display: none; border-style: solid; border-width: 0px;">
                                <input type="text" required="" value="" placeholder="Enter name" class="personDataTextBox">
                                <div class="addLocationBtn" id="addLocBtn1" style="width: auto;">
                                    <p style="min-width: 50px;" class="btnAdd">@LocalizationGetter.GetString("Add")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>