@using EC.App_LocalResources;
@*active*@
@{ 
    int temp = Model;
}
<div class="dispFlex">
    <table>
        <tr>
            <td>
                <a href="/Settings/Index" class="caseesTab">@GlobalRes.MyProfile</a>
                <div class="divCasesTabActive @(temp == 1 ? "active":"")">
                </div>
            </td>
            <td>
                <a href="/Settings/Password" class="caseesTab">@GlobalRes.Password</a>
                <div class="divCasesTabActive @(temp == 2 ? "active":"")">
                </div>
            </td>
            <td>
                <a href="/Settings/Company" class="caseesTab">@GlobalRes.CompanyProfile</a>
                <div class="divCasesTabActive @(temp == 3 ? "active":"")">
                </div>
            </td>
            <td>
                <a href="/Settings/Mediators" class="caseesTab">@GlobalRes.CompanyMediators</a>
                <div class="divCasesTabActive @(temp == 4 ? "active":"")">
                </div>
            </td>
            <td>
                <a href="/Settings/Cases" class="caseesTab">@GlobalRes.CaseManagementDeadlines</a>
                <div class="divCasesTabActive @(temp == 5 ? "active":"")">
                </div>
            </td>
        </tr>
    </table>
</div>

    <!--casesHeared-->


