@using EC.App_LocalResources;
<style>
    .dispFlex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
</style>
@*active*@
@{ 
    int temp = Model;
}

@*  *@
<div id="casesHeared">
        <div id="menu">
            <h2 class="mainTitle">@GlobalRes.Menu:</h2>
            <div class="dispFlex">
                <a href="/Settings/Index" class="caseesTab @(temp == 1 ? "active":"") ">@GlobalRes.MyProfile</a>
                <a href="/Settings/Password" class="caseesTab @(temp == 2 ? "active":"")">@GlobalRes.Password</a>
                <a href="/Settings/Company" class="caseesTab @(temp == 3 ? "active":"")">@GlobalRes.CompanyProfile</a>
                <a href="/Settings/Mediators" class="caseesTab @(temp == 4 ? "active":"")">@GlobalRes.CompanyMediators</a>
                <a href="/Settings/Cases" class="caseesTab @(temp == 5 ? "active":"")">@GlobalRes.CaseManagementDeadlines</a>
            </div>
        </div>
    </div><!--casesHeared-->