@using EC.Localization;

@{
    int temp = Model;
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    String class_ext = ViewBag.cc_extension;
}
<div class="dispFlex">
    <table>
        <tr>
            <td>
                <a href="/Settings/Index" class="caseesTab1">@LocalizationGetter.GetString("MyProfile")</a>
                <div class="divCasesTabActive @(temp == 1 ? "active":"")">
                </div>
            </td>
            <td>
                <a href="/Settings/Mediators" class="caseesTab1">@LocalizationGetter.GetString("CompanyMediators", is_cc)</a>
                <div class="divCasesTabActive @(temp == 4 ? "active":"")">
                </div>
            </td>
            <td>
                <a href="/Settings/Company" class="caseesTab1">@LocalizationGetter.GetString("CompanyProfile", is_cc)</a>
                <div class="divCasesTabActive @(temp == 3 ? "active":"")">
                </div>
            </td>
            <td>
                <a href="/Settings/Cases" class="caseesTab1">@LocalizationGetter.GetString("CaseManagementDeadlines")</a>
                <div class="divCasesTabActive @(temp == 5 ? "active":"")">
                </div>
            </td>
            <td>
                <a href="/Settings/Languages" class="caseesTab1">@LocalizationGetter.GetString("Languages")</a>
                <div class="divCasesTabActive @(temp == 6 ? "active":"")">
                </div>
            </td>
            <td>
                <a href="/Settings/CaseRouting" class="caseesTab1">@LocalizationGetter.GetString("CaseRouting")</a>
                <div class="divCasesTabActive @(temp == 7 ? "active":"")">
                </div>
            </td>
            <td>
                <a href="/Settings/GlobalSettings" class="caseesTab1">@LocalizationGetter.GetString("Settings")</a>
                <div class="divCasesTabActive @(temp == 8 ? "active":"")">
                </div>
            </td>
        </tr>
    </table>
</div>
