@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["Title"];
}

<div class="general-container home">

    <header class="header header-cc">
        <div class="top-headerBg">
            <div class="container">
                <div class="top-header">
                    <a href="http://employeeconfidential.com" class="top-header__campusLink">
                        <span class="top-header__campusLink-text">
                            Employee Confidential
                        </span>
                        <img src="~/Content/images/svg-icons/upper-right.svg" alt="" />
                    </a>
                    <div class="top-header__loginBar">
                        <nav class="top-header__loginBar-nav">
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Login" class="top-header__loginBar-a">
                                    Client Login
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/Report" class="top-header__loginBar-a">
                                    File a Report
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                            <li class="top-header__loginBar-li">
                                <a href="@System.Configuration.ConfigurationManager.AppSettings["serviceUrl"]/Service/CheckStatus" class="top-header__loginBar-a">
                                    Check Report Status
                                </a>
                            </li><!-- /.top-header__loginBar-li -->
                        </nav><!-- /.top-header__loginBar-nav -->
                    </div><!-- /.top-header__loginBar -->
                </div><!-- /.top-header -->
            </div>
        </div>
        <div class="main-headerBg">
            <div class="container">
                <div class="main-header">
                    <a href="/" class="main-headerLogo">
                        <div class="main-headerLogo__img">
                            <img src="~/Content/images/0-main-logo-CC.png" alt="" />
                        </div><!-- /.main-headerLogo__img -->
                        <div class="main-headerLogo__text">
                            Reduce risk. Create trust.
                        </div><!-- /.main-headerLogo__text -->
                    </a><!-- /.main-headerLogo -->
                    <div class="main-headerMenu-mobile">
                        <a href="/" class="main-headerLogo-mobile">
                            <div class="main-headerLogo__img-mobile">
                                <img src="~/Content/images/0-main-logo-CC.png" alt="" />
                            </div><!-- /.main-headerLogo__img -->
                            <div class="main-headerLogo__text-mobile">
                                Reduce risk. Create trust.
                            </div><!-- /.main-headerLogo__text -->
                        </a><!-- /.main-headerLogo -->
                        <a href="#" class="main-headerLogo-mobile-burgerBtn">
                            <img src="~/Content/images/svg-icons/burger.svg" alt="" />
                        </a>
                    </div><!-- /.main-headerMenu-mobile -->
                    <div class="main-headerMenu">
                        <nav class="main-headerMenu__nav">
                            <li class="main-headerMenu__li">
                                <a href="/#benefitsSection" class="main-headerMenu__a">
                                    Benefits
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#gridSection" class="main-headerMenu__a">
                                    Incident Reporting
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#menegementSection" class="main-headerMenu__a">
                                    Case Management
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="@Url.Action("About", "Home")" data-scroll-to="" class="main-headerMenu__a">
                                    About
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                            <li class="main-headerMenu__li">
                                <a href="/#contactSection" class="main-headerMenu__a">
                                    Contact
                                </a>
                            </li><!-- /.main-headerMenu__li -->
                        </nav><!-- /.main-headerMenu__nav -->
                    </div><!-- /.main-headerMenu -->
                </div><!-- /.main-header -->
            </div><!-- /.container -->
        </div><!-- /.main-headerBg -->
    </header><!-- /.header -->
    <main class="main">
        <section class="firstSection firstSection-cc">
            <div class="container">
                <div class="firstSection__contentBox">
                    <h3 class="firstSection__headText">
                        Create a Safe, Compliant and Ethical Campus
                    </h3><!-- /.firstSection__headText -->
                    <p class="firstSection__text">
                        Campus Confidential is an online and mobile platform to provide students, faculty, campus staff, visitors and contractors a Confidential and Anonymous system to report incidents.
                    </p><!-- /.firstSection__text -->
                    <p class="firstSection__text">
                        It includes a Case Management solution to help quickly and effectively investigate and resolve cases.
                    </p><!-- /.firstSection__text -->
                    <a href="#contactSection" class="firstSection__btn btn btn-cc">
                        Learn more
                    </a>
                </div><!-- /.firstSection__contentBox -->
            </div><!-- /.container -->
        </section><!-- /.firstSection -->
        <section class="benefitsSection benefitsSection-cc" id="benefitsSection">
            <div class="container container-wide benefitsSection-grid">
                <div class="benefitsSection-head">
                    <h3 class="benefitsSection-head__title">Benefits</h3><!-- /.benefitsSection-head__title -->
                    <p class="benefitsSection-head__text">
                        of an Incident Reporting and Case Management System
                    </p><!-- /.benefitsSection-head__text -->
                </div><!-- /.benefitsSection-head -->
                <div class="benefitsSection-content">
                    <div class="benefitsSection-contentBox">
                        <div class="benefitsSection-contentBox__img">
                            <img src="~/Content/images/svg-icons/cc-alarm.svg" alt="" />
                        </div><!-- /.benefitsSection-contentBox__img -->
                        <div class="benefitsSection-contentBox__title">
                            Early Warning
                        </div><!-- /.benefitsSection-contentBox__title -->
                        <div class="benefitsSection-contentBox__text">
                            The best time to deal with a problem is now. Help your high school, college or university address problems before they get any worse.
                        </div><!-- /.benefitsSection-contentBox__text -->
                    </div><!-- /.benefitsSection-contentBox -->

                    <div class="benefitsSection-contentBox">
                        <div class="benefitsSection-contentBox__img">
                            <img src="~/Content/images/svg-icons/cc-trust.svg" alt="" />
                        </div><!-- /.benefitsSection-contentBox__img -->
                        <div class="benefitsSection-contentBox__title">
                            Increase Trust
                        </div><!-- /.benefitsSection-contentBox__title -->
                        <div class="benefitsSection-contentBox__text">
                            Increase student and campus staff trust in your reporting system. Reduce the fear of retaliation through prompt handling of allegations, keeping the reporter informed and always being transparent.
                        </div><!-- /.benefitsSection-contentBox__text -->
                    </div><!-- /.benefitsSection-contentBox -->

                    <div class="benefitsSection-contentBox">
                        <div class="benefitsSection-contentBox__img">
                            <img src="~/Content/images/svg-icons/cc-standarts.svg" alt="" />
                        </div><!-- /.benefitsSection-contentBox__img -->
                        <div class="benefitsSection-contentBox__title">
                            Stay Compliant
                        </div><!-- /.benefitsSection-contentBox__title -->
                        <div class="benefitsSection-contentBox__text">
                            Meet the compliance regulations and federal laws governing high schools,  colleges and universities, including the Campus Sex Prevention Act, the Clery Act,
                            Title IX and sections 485 and 493 of the Higher Education Opportunity Act.
                        </div><!-- /.benefitsSection-contentBox__text -->
                    </div><!-- /.benefitsSection-contentBox -->

                    <div class="benefitsSection-contentBox">
                        <div class="benefitsSection-contentBox__img">
                            <img src="~/Content/images/svg-icons/cc-lawsuite.svg" alt="" />
                        </div><!-- /.benefitsSection-contentBox__img -->
                        <div class="benefitsSection-contentBox__title">
                            Minimize Risk and Prevent Lawsuits
                        </div><!-- /.benefitsSection-contentBox__title -->
                        <div class="benefitsSection-contentBox__text">
                            Reduce the risk of financial and reputational losses. Identify potential offenders by providing a safe and secure method for students and campus staff to
                            share their concerns or to report an incident. Help prevent legal action against your your institution for negligence.
                        </div><!-- /.benefitsSection-contentBox__text -->
                    </div><!-- /.benefitsSection-contentBox -->

                </div><!-- /.benefitsSection-content -->
            </div><!-- /.container -->
        </section><!-- /.benefitsSection -->
        <section class="textImageSection textImageSection-cc">
            <img src="~/Content/images/word-cloud-text-CC.png" alt="" />
        </section><!-- /.textImageSection -->
        <section class="slider-section slider-section-cc ">
            <div class="owl-carousel ">
                <div class="owl-carousel__slide owl-carousel__slide1">
                    <div class="slider-content ">
                        <div class="slider-content__title">
                            What you don’t know <b>CAN</b> hurt you
                        </div><!-- /.slider-content__title -->
                        <div class="slider-content__text">
                            <p class="slider-content__text-main">
                                “NCAA to investigate Michigan State's handling of Nassar abuse scandal”<br>
                                <span>
                                    In 2014 the Title IX coordinator gave the victim a different report than the one delivered to MSU,<br>
                                    withholding key information about Nassar’s behavior and clearing him of sexual harassment.
                                </span>
                            </p>
                            <p class="slider-content__text-signature">
                                <b>The Atlantic</b>, January 29, 2018
                            </p>
                        </div><!-- /.slider-content__text -->
                    </div><!-- /.slider-content -->
                </div><!-- /.container -->
                <div class="owl-carousel__slide owl-carousel__slide1">
                    <div class="slider-content container">
                        <div class="slider-content__title">
                            What you don’t know <b>CAN</b> hurt you
                        </div><!-- /.slider-content__title -->
                        <div class="slider-content__text">
                            <p class="slider-content__text-main">
                                “Roofie Reality: Drink Spiking Affects 1 in 13 College Students.”
                            </p>
                            <p class="slider-content__text-main">
                                <span>
                                    Psychology of Violence, American Psychological Association. May 23, 2016. <br />
                                    Study conducted at University of South Carolina, University of Cincinnati and the University of Kentucky
                                </span>
                            </p><!-- /.slider-content__text-main -->
                        </div><!-- /.slider-content__text -->
                    </div><!-- /.slider-content -->
                </div><!-- /.container -->
                <div class="owl-carousel__slide owl-carousel__slide1">
                    <div class="slider-content container">
                        <div class="slider-content__title">
                            What you don’t know <b>CAN</b> hurt you
                        </div><!-- /.slider-content__title -->
                        <div class="slider-content__text">
                            <p class="slider-content__text-main">
                                “Penn State Student Given 18 Drinks In 82 Minutes Before Hazing Death.”
                            </p>
                            <p class="slider-content__text-signature">
                                <b>Pennsylvania, Office of the DA.</b> November 15, 2017.
                            </p>
                        </div><!-- /.slider-content__text -->
                    </div><!-- /.slider-content -->
                </div><!-- /.container -->

                <div class="owl-carousel__slide owl-carousel__slide1">
                    <div class="slider-content container">
                        <div class="slider-content__title">
                            What you don’t know <b>CAN</b> hurt you
                        </div><!-- /.slider-content__title -->
                        <div class="slider-content__text">
                            <p class="slider-content__text-main">
                                “Universities face an age of cyber crime.”
                            </p><!-- /.slider-content__text-main -->
                            <p class="slider-content__text-signature">
                                <b>University World News</b>, September 22, 2017.
                            </p><!-- /.slider-content__text-signature -->
                        </div><!-- /.slider-content__text -->
                    </div><!-- /.slider-content -->
                </div><!-- /.container -->

            </div>
        </section><!-- /.slider-section -->
        <section class="gridSection gridSection-cc" id="gridSection">
            <div class="gridSection__mobileText">
                <div class="grid-title">
                    Online & mobile reporting hotline
                </div><!-- /.grid-title -->
                <div class="grid-text">
                    <p class="slider-content__text-main">
                        A platform to submit confidential or anonymous reports via web, tablet or mobile.
                    </p>
                    <p class="slider-content__text-main">
                        An option to report in one of 10 different languages.
                    </p>
                    <p class="slider-content__text-main">
                        Intuitive reporting interface that takes as little as 10 minutes to complete.
                    </p>
                    <p class="slider-content__text-main">
                        Supporting documents can be attached (e.g. videos, photos, screenshots & documents).
                    </p>
                    <p class="slider-content__text-main">
                        Reporters can print and save a copy of the report.
                    </p>
                </div><!-- /.grid-text -->
            </div><!-- /.gridSection__mobileText -->
            <div class="gridSection__mobileImage"></div><!-- /.gridSection__mobileImage -->
            <div class="gridSection__reportImage"></div><!-- /.gridSection__reportImage -->
            <div class="gridSection__reportText">
                <div class="grid-title">
                    Reporter dashboard
                </div><!-- /.grid-title -->
                <div class="grid-text">
                    <p>Check case status.</p>
                    <p>Correspond confidentially or anonymously with case officers.</p>
                    <p>Add additional evidence and information.</p>
                </div><!-- /.grid-text -->
            </div><!-- /.gridSection__reportText -->
        </section><!-- /.mobileReportingSection -->
        <section class="menegementSection menegementSection-cc" id="menegementSection">
            <div class="menegementSection__textBlock">
                <div class="grid-title">
                    Case management
                </div><!-- /.grid-title -->
                <div class="grid-text">
                    <p>
                        Reviewing Case Status in Dashboard.
                    </p>
                    <p>
                        Messaging (to Reporters & Case Officers).
                    </p>
                    <p>
                        Tracking Tasks.
                    </p>
                    <p>
                        Attaching Evidence.
                    </p>
                    <p>
                        Recording Investigation Notes.
                    </p>
                    <p>Analyzing Route Causes of the incident and subject.</p>
                    <p>Logging date & time stamps and timeline of investigation activity.</p>
                </div><!-- /.grid-text -->
            </div><!-- /.menegementSection__textBlock -->
            <div class="menegementSection__imageBlock"></div><!-- /.menegementSection__imageBlock -->
        </section><!-- /.menegementSection -->
        <section class="routingSection routingSection-cc">
            <div class="routingSection__imageBlock"></div><!-- /.routingSection__imageBlock -->
            <div class="routingSection__textBlock">
                <div class="grid-title">
                    Case routing & policy management
                </div><!-- /.grid-title -->
                <div class="grid-text">
                    <p>
                        Assign Case Administrators according to the type of incident and location.
                    </p>
                    <p>
                        Assign Case Owners.
                    </p>
                    <p>
                        Flag whether an incident is a regulatory infringement.
                    </p>
                    <p>Link compliance and HR procedural policies to incident types for easy access during the investigation and resolution process. </p>
                </div><!-- /.routingSection__textBlock -->
        </section><!-- /.routingSection -->
        <section class="tailoredSection tailoredSection-cc">
            <div class="tailoredSection__textBlock">
                <div class="grid-title">
                    Tailored for
                    Clery Act Requirements
                </div><!-- /.grid-title -->
                <div class="grid-text">
                    <p>Triggers a campus alert when a crime represents an ongoing threat to the safety of students and employees.</p>
                    <p>Includes the four required crime reporting categories.</p>
                    <p>Includes the four required geographic location categories.</p>
                    <p>Captures the statistics of the number of dating violence, domestic violence, sexual assault and stalking incidents.</p>
                    <p>Captures statistics of new categories of Hate Crimes.</p>
                </div><!-- /.grid-text -->
            </div><!-- /.tailoredSection__textBlock -->
            <div class="tailoredSection__imageBlock"></div><!-- /.tailoredSection__imageBlock -->
        </section><!-- /.tailoredSection -->
        <section class="analyticsSection analyticsSection-cc">
            <div class="analyticsSection__imageBlock"></div><!-- /.analyticsSection__imageBlock -->
            <div class="analyticsSection__textBlock">
                <div class="grid-title">
                    Analytics
                </div><!-- /.grid-title -->
                <div class="grid-text">
                    <p>
                        Create Board-ready reports. <br />
                        A data-analytics section helps management get a
                        snapshot of:
                    </p>
                    <div class="grid-text__list">
                        <p>Stages of all cases.</p>
                        <p>Case activity by date.</p>
                        <p>Case activity by location.</p>
                        <p>Case activity by department.</p>
                        <p>Number of cases by reporter type.</p>
                        <p>Number of cases by incident type.</p>
                        <p>Root Cause Analysis.</p>
                        <p>Clery Act Crime Statistics Report.</p>
                    </div><!-- /.grid-text__list -->
                </div><!-- /.grid-text -->
            </div><!-- /.analyticsSection__textBlock -->
        </section><!-- /.analyticsSection -->
        <section class="employeeSection employeeSection-cc">
            <div class="employeeSection__imageBlock"></div><!-- /.employeeSection__imageBlock -->
            <div class="employeeSection__textBlock">
                <div class="grid-title">
                    On Campus Awareness
                </div><!-- /.grid-title -->
                <div class="grid-text">
                    <p>
                        Every institution receives awareness materials in the form of:
                    </p>
                    <div class="grid-text__list">
                        <p>Downloadable posters for placement in common areas.</p>
                        <p>Downloadable wallet-size cards.</p>
                        <p>Website & email buttons.</p>
                    </div><!-- /.grid-text__list -->
                </div><!-- /.grid-text -->
            </div><!-- /.employeeSection__textBlock -->
        </section><!-- /.employeeSection -->
        <section class="gridNumbers gridNumbers-cc">
            <div class="container container-wide gridNumbers-container">
                <div class="gridNumbers__title">
                    Prevent assaults & save lives*
                </div><!-- /.gridNumbers__title -->
                <div class="gridNumbers-content">
                    <div class="gridNumbers-contentBox">
                        <div class="gridNumbers-contentBox__head">
                            696,000
                        </div><!-- /.gridNumbers-contentBox__head -->
                        <div class="gridNumbers-contentBox__text">
                            Each year an estimated 696,000 students are asssaulted by another student who has been drinking.
                        </div><!-- /.gridNumbers-contentBox__text -->
                    </div><!-- /.gridNumbers-contentBox -->
                    <div class="gridNumbers-contentBox">
                        <div class="gridNumbers-contentBox__head">
                            1 <span>in</span> 5
                        </div><!-- /.gridNumbers-contentBox__head -->
                        <div class="gridNumbers-contentBox__text">
                            1 in 5 women are sexually assaulted in college, and many men as well.
                        </div><!-- /.gridNumbers-contentBox__text -->
                    </div><!-- /.gridNumbers-contentBox -->
                    <div class="gridNumbers-contentBox">
                        <div class="gridNumbers-contentBox__head">
                            10<span class="up">%</span>
                        </div><!-- /.gridNumbers-contentBox__head -->
                        <div class="gridNumbers-contentBox__text">
                            Less than 10% of students who are sexually assaulted report it to the college or to the police.
                        </div><!-- /.gridNumbers-contentBox__text -->
                    </div><!-- /.gridNumbers-contentBox -->
                    <div class="gridNumbers-contentBox">
                        <div class="gridNumbers-contentBox__head">
                            60<span class="up">%</span>
                        </div><!-- /.gridNumbers-contentBox__head -->
                        <div class="gridNumbers-contentBox__text">
                            It is estimated 60% of college sexual assaults would be prevented by stopping predators after their first offense.
                        </div><!-- /.gridNumbers-contentBox__text -->
                    </div><!-- /.gridNumbers-contentBox -->
                </div><!-- /.gridNumbers-contentBox -->
                <div class="gridNumbers__infoText">
                    *Source: National Sexual Violence Resource Center 2015 and RAINN 2018.
                </div><!-- /.gridNumbers__infoText -->
            </div><!-- /.container container-wide -->
        </section><!-- /.gridNumbers -->
        <section class="wideSection wideSection-cc">
            <div class="wideSection__conteiner container">
                <div class="wideSection__mainText">
                    “An anonymous hotline platform addresses 90% of the concerns that students have about reporting sexual assaults. <br /> Fear of retaliation, hostile treatment, not being taken seriously and reluctance to involve family,<br /> are the top reasons that the majority of sexual assaults go unreported.”
                </div><!-- /.wideSection__mainText -->
                <div class="wideSection__signatureText">
                    <b>Jackie Jenkins-Scott</b>, <span>President emeritus of Wheelock College</span>, Board of Advisors
                </div><!-- /.wideSection__signatureText -->
            </div><!-- /.wideSection__conteiner -->
        </section><!-- /.wideSection -->

        <section class="contactSection contactSection-cc" id="contactSection">
            <div class="container contactSection__container">
                <div class="contactSection__title">
                    Start building an empowered campus culture today
                </div><!-- /.contactSection__title -->
                <div class="contactSection__form learnMore-form">
                    <div class="learnMore-form__title">
                        Learn more
                    </div><!-- /.learnMore-form__title -->
                    <div class="learnMore-form__content">
                        <label class="learnMore-form__content-input">
                            First name:
                            <input type="text" name="fname" required />
                        </label>
                        <label class="learnMore-form__content-input ">
                            Last name:
                            <input type="text" name="lname" required />
                        </label>
                        <label class="learnMore-form__content-input">
                            Educational institute name:
                            <input type="text" name="cname" required />
                        </label>
                        <label class="learnMore-form__content-input">
                            Phone:
                            <input type="text" name="phone" required />
                        </label>
                        <label class="learnMore-form__content-input">
                            E-mail:
                            <input type="email" name="email" required />
                        </label>
                    </div><!-- /.learnMore-form__content -->
                    <a href="#" id="submit" class="learnMore-form__btn btn btn-cc">Request demo</a>
                </div><!-- /.contactSection__form -->
            </div><!-- /.container -->
        </section><!-- /.contactSection -->

    </main><!-- /.main -->
    <!-- ------------------  Footer ---------------- -->
    <footer class="footerBg footerBg-cc">
        <div class="container">
            <div class="footer">
                <a href="#" class="footer__logo">
                    <img src="~/Content/images/0-main-logo-CC.png" alt="" />
                </a><!-- /.footer__logo -->
                <div class="footer__copyright">
                    Copyright © 2018 Employee Confidential LLC. All Rights Reserved
                </div><!-- /.footer__copyright -->
                <div class="footer__navLinks">
                    <nav class="footer__navLinks-nav">
                        <li class="footer__navLinks-li">
                            <a href="http://campusconfidential.com/PrivacyStatement.html" class="footer__navLinks-a">
                                Privacy Policy
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                        <li class="footer__navLinks-li">
                            <a href="http://campusconfidential.com/TermsOfService.html" class="footer__navLinks-a">
                                Terms of Use
                            </a>
                        </li><!-- /.footer__navLinks-li -->
                    </nav><!-- /.footer__navLinks-nav -->
                </div><!-- /.footer__navLinks -->
            </div><!-- /.footer -->
        </div><!-- /.container -->
    </footer><!-- /.footer -->

</div><!-- /.general-container -->

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $('#submit').on('click', function () {
            var fname = $("input[name=fname]").val();
            var lname = $("input[name=lname]").val();
            var cname = $("input[name=cname]").val();
            var phone = $("input[name=phone]").val();
            var email = $("input[name=email]").val();
                
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetRequest", "Home")",
                data: {
                fname: fname,
                lname: lname,
                cname: cname,
                phone: phone,
                email: email,
                },
                success: function (data) {
                    alert(data);
                    console.log(data);
                },
                error: function (error) {
                    alert(error.responseText);
                }
            });
        });
    });
</script>