@using EC.Models.Database
@using EC.App_LocalResources;
@using Resources = EC.Localization.Resources
@{
    
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    String class_ext = ViewBag.cc_extension;
    //19
    //bool? is_cc = true;
    //String class_ext = "";
    //if (is_cc)
    //{
    //    class_ext = "_cc";
    //}

    ViewBag.Title = GlobalRes.SelectYourCompany;
    Layout = "~/Views/Shared/HeaderFooterFrontPages.cshtml";
    ViewBag.background = "background-image: url(/Content/img/website-report" + class_ext + ".jpg);";
}

<div id="topBody">
    <div class="firstTitle">
        @GlobalRes.FileReport
    </div>
    <div class="secondTitle">
        @GlobalRes.FindOrganization
    </div>
    <div class="thirdTitle">
        <input id="specialInput" placeholder="Company name or code">
        <div id="buttonStart"><span class="buttonStartText">@GlobalRes.Start.ToUpper()</span></div>
    </div>
</div><!--end topBody-->
<div id="bottomBody@{@class_ext}">

    <div class="fourthTitle">
        @GlobalRes.DontSilentBystander
    </div>
    <div class="icons">
        <div class="centerBlock">
            <div class="itemBlock">
                <div class="empty"></div>
                <div class="positionIcons">
                    <div id="firstIcon"></div>
                </div>
                <span class="title">@GlobalRes.ActEarly,<br />@GlobalRes.ActEthically</span><br />
                <span class="textBlock">
                    @GlobalRes.Ifyouwitness
                </span>
            </div>

            <div class="itemBlock">
                <div class="empty"></div>
                <div class="positionIcons">
                    <div id="secondIcon"></div>
                </div>
                <span class="title">@GlobalRes.ReportWeb, <br />@GlobalRes.TabletMobile</span><br />
                <span class="textBlock">
                    @GlobalRes.Useonline
                </span>
            </div>

            <div class="itemBlock">
                <div class="empty"></div>
                <div class="positionIcons">
                    <div id="thirdIcon"></div>
                </div>
                <span class="title">@GlobalRes.Chooseyour  <br />@GlobalRes.ConfidentialityLevel</span><br />
                <span class="textBlock">
                    @GlobalRes.ReportAnon
                </span>
            </div>

            <div class="itemBlock">
                <div class="empty"></div>
                <div class="positionIcons">
                    <div id="fourthIcon"></div>
                </div>
                <span class="title">@GlobalRes.Expecta <br />@GlobalRes.Response</span><br />
                <span class="textBlock">
                    @GlobalRes.Mediatorswillgetback
                </span>
            </div>
        </div><!-- end centerBlock-->
    </div><!--end icons-->
</div><!--end bottomBody-->
<input id="companyCode" type="hidden" value="false" />

<script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function() {
        $("#header .bigButton").on('click', function() {
            window.location.href = "/";
        });
        $("#header .login").on('click', function() {
            window.location.href = "/login";
        });
        $("#buttonStart").on('click', function() {
            var companyCode = $('#companyCode').val();
            if (companyCode != 'false') {
        //////        window.location.href = "/Report/new?companyCode=" + companyCode;
                } else {
            //    window.location.href = "/Report/new?companyCode=" + $('#specialInput').val();
            }
        });
    });

    $(function() {
        var str =  @Html.Raw(ViewBag.newListComp);
        $("#specialInput").autocomplete({
            source: str,
            select: function(event, ui) {
                $('#specialInput').val(ui.item.label);
                $('#companyCode').val(ui.item.value);
                return false;
            }
        });
    });

</script>






