@using EC.App_LocalResources
@using EC.Controllers.Utils
@using EC.Models
@using EC.App_LocalResources;
@{
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
    ViewBag.Title = GlobalRes.SelectYourCompany;
    String class_ext = ViewBag.cc_extension;
    Layout = "~/Views/Shared/HeaderFooterFrontPages.cshtml";
    ViewBag.background = "background-image: url(/Content/img/website-report" + class_ext + ".jpg);";
    ViewBag.cssStyle = "/Content/caiStart";

    string logo_path = "";

    if (ViewBag.LogoPath != "")
    {
        logo_path =  ViewBag.LogoPath;
    }
   // ViewBag.cssStyle = "/Content/MainStyle.css";
   // ViewBag.cssStyle = "/Content/cai.css";
}
<div id="headerCai">
    <a href="/" class="blueLogo"></a>
    <a href="/Login/Company" class="linkLogin">Client login</a>
    <div class="info">Ethics Reporting & Case Management Cloudware</div>
</div>

<div class="mainBlock">

    <div id="bodyInc">
        @*<img class="logoShow" src='@Url.Content("~/Content/img/secondLogo.jpg")' />*@
        @if(logo_path.Trim().Length > 0)
        { 
            <img class="logoShow" src='@Url.Content(logo_path)' />
        }
        <div class="blockInputs">
            <div class="block">
                <h1>File a New Report:</h1>
                <div class="text">Find an organization by company name or code</div>
                <div class="loginForm">
                    <div class="div widthThirdTitle">
                        <label>Company name or code</label>
                        <input id="specialInput" type="text" name="text" required="" autocomplete="off">
                        <ul id="dropDownList" style="display: none"></ul>
                    </div>
                    <div class="button">
                        <input id="startBtn" type="button" value="start" />
                    </div>
                </div>
            </div>
            <div class="block">
                <h1>Check Report Status:</h1>
                <div class="text">
                    To review the status of your previously submitted report, please enter
                    the username and password that were assigned to you when you made
                    your original report.
                </div>
                <div class="loginForm">
                    <div class="div">
                        <label>Username</label>
                        <input type="text" name="login" autocomplete="off">
                    </div>
                    <div class="div">
                        <label>Password</label>
                        <input type="password" name="password" autocomplete="off">
                    </div>
                    <div class="button">
                        <input id="submit" type="button" value="LOGIN" />
                    </div>
                </div>
            </div>
        </div>
        <div class="fourthTitle">
            @GlobalRes.DontSilentBystander
        </div>
    </div>

    <div id="bottomBody@{@class_ext}">
        <div class="itemBlock">
            <div class="empty"></div>
            <div class="positionIcons">
                <div id="firstIcon"></div>
            </div>
            <span class="title">@GlobalRes.ActEarly,<br />@GlobalRes.ActEthically</span><br />
            <span class="textBlock">
                @GlobalRes.Ifyouwitness
            </span>
        </div>

        <div class="itemBlock">
            <div class="empty"></div>
            <div class="positionIcons">
                <div id="secondIcon"></div>
            </div>
            <span class="title">@GlobalRes.ReportWeb, <br />@GlobalRes.TabletMobile</span><br />
            <span class="textBlock">
                @GlobalRes.Useonline
            </span>
        </div>

        <div class="itemBlock">
            <div class="empty"></div>
            <div class="positionIcons">
                <div id="thirdIcon"></div>
            </div>
            <span class="title">@GlobalRes.Chooseyour  <br />@GlobalRes.ConfidentialityLevel</span><br />
            <span class="textBlock">
                @GlobalRes.ReportAnon
            </span>
        </div>

        <div class="itemBlock">
            <div class="empty"></div>
            <div class="positionIcons">
                <div id="fourthIcon"></div>
            </div>
            <span class="title">@GlobalRes.Expecta <br />@GlobalRes.Response</span><br />
            <span class="textBlock">
                @GlobalRes.Mediatorswillgetback
            </span>
        </div>
    </div><!--end bottomBody-->
</div>

<input id="companyCode" type="hidden" value="false" />
@section pageScripts {
    <script>
        /*custom for this page*/
        window.onload = focusDiv;
        function focusDiv() {
            let inputs = document.getElementsByClassName("div");
            for (var i = 0; i < inputs.length; i++) {
                var temp = inputs[i].getElementsByTagName('input')[0];
                temp.addEventListener("focus", myFocusFunction, true);
                temp.addEventListener("blur", myBlurFunction, true);
            }
        }
        function myFocusFunction(event) {
            event.currentTarget.parentElement.style.border = "2px solid #05b5a2";
        }

        function myBlurFunction(event) {
            event.currentTarget.parentElement.style.border = "1px solid #e0e5e6";
        }

        /**/

        var input = document.getElementById("specialInput");
        input.oninput = function (event) {
            let lookup = {'event':event.currentTarget.value } ;
            let len = lookup.event.length;
            if (len >= 3) {
                //go ajax call
                let temp = loadDoc(lookup);
            }
        };

        function loadDoc(lookup) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                xmlhttp.onreadystatechange = function (event) {
                    if (this.readyState == 4 && this.status == 200) {
                        lookup.result = JSON.parse(event.currentTarget.response);
                        if (lookup.result.length > 0) {
                            lookup.result.forEach(function (item, i, arr) {
                                addElementDropDownList(item.label, item.value);
                            });
                        }
                    }
                };
            };
            //let link = window.location.href + "Index/CompanyLookup?lookup=" + lookup.event;
            let link = window.location.origin + "/Index/CompanyLookup?lookup=" + lookup.event;
            xmlhttp.open("POST", link, true);
            xmlhttp.send();
        }
        function addElementDropDownList(label, value) {
            var listLi = document.getElementById("dropDownList");
            if(label != "" && value != "") {
                listLi.style.display = "block";
                var node = document.createElement("LI");
                node.innerHTML = "<div>" + value + "</div>";
                node.setAttribute("value", label);
                node.onclick = function (event) {
                    document.getElementById("dropDownList").innerHTML = "";
                    let textContent = event.currentTarget.textContent;
                    let value = event.currentTarget.getAttribute('value');
                    document.getElementById("companyCode").setAttribute('value', value);
                    SetInputStart(textContent);
                };
                listLi.appendChild(node);
            }


        }
        function SetInputStart(textContent) {
            if (textContent.length > 1) {
                document.getElementById("specialInput").value = textContent;

                //buttonStartText

                document.getElementById("buttonStart").onclick = function () {
                    var companyCode = document.getElementById("companyCode").getAttribute('value');
                    if (companyCode != "") {
                        window.location.href = window.location.origin + "/Index/CompanyLookup?lookup=" + companyCode;
                        
                        //window.location.href = "/Report/new?companyCode=" + companyCode;
                    }
                }
            }


        }
</script>
    }