@using EC.Models;
@using EC.Models.ECModel;
@using EC.Models.Database;
@using EC.Common.Interfaces;
@using EC.Core.Common;
@using EC.App_LocalResources;
@{
    IDateTimeHelper m_DateTimeHelper = new DateTimeHelper();
    int report_id = (Int32)ViewBag.report_id;
    int user_id = (Int32)ViewBag.user_id;
    ReportModel rm = (ReportModel)ViewBag.rm;
    UserModel um = (UserModel)ViewBag.um;
    report_investigation_status ris = new report_investigation_status();
    string flag = "61px";
    string popup = null;
    if (ViewBag.popup != null)
    {
        popup = ViewBag.popup;
    }
    GlobalFunctions glb = new GlobalFunctions();
}




@if ((rm._investigation_status == Constant.investigation_status_completed || rm._investigation_status == Constant.investigation_status_resolution))
{
    /*
           // not confirmed resolved/completed
                    ris = rm._last_investigation_status();
                    UserModel temp_um = new UserModel(ris.user_id);
     */
    /////  Case resolved - waiting for approvement +  dropDownfirstHeader - Visible
    @*<div class="firstHeader">

                Case resolved - waiting for approvement
            <div class="positionDropDown">
                <span class="dropDownfirstHeader"></span>
            </div>
            <div class="positionActivityIcon">
                <div id="activityIcon"></div>
                <span>@GlobalRes.Activity</span>
            </div>
        </div>*@

    if (rm._investigation_status == Constant.investigation_status_completed)
    {  // Case resolved - waiting for approvement
        // - eto vipadaushaya nijnyaya vkladka - "Case cannot be resolved" = @GlobalRes.CaseCantBeResolved Pepper Pots zagrujaem
        // https://projects.invisionapp.com/d/#/console/2453713/74269426/
        // not confirmed resolved/completed
        ris = rm._last_investigation_status();
        UserModel temp_um = new UserModel(ris.user_id);
        flag = "101px";
        <div class="firstHeader">
            <div class="caseWaitApp">Case resolved - @GlobalRes.WaitingApprovement</div>
            <div class="littleText">
                @GlobalRes.CaseCantBeResolved
            </div>
            <div class="positionDropDown">
                <span class="dropDownfirstHeader flag"></span>
                <a href="#" class="closeCustom flag"></a>
            </div>
            <div class="positionActivityIcon">
                <div id="activityIcon"></div>
                <span>@GlobalRes.Activity</span>
            </div>
        </div>

        <div class="caseMediator" style="display: none;">
            <div class="displayMediators">
                <div class="blockPhoto">
                    @if (temp_um.ID != 0)
                    {
                        @Html.Partial("~/Views/Shared/Helpers/_UserPreviewFace.cshtml", new ViewDataDictionary { { "user_id", ris.user_id }, { "is_owner", true } })
                    }
                    else
                    {
                        <div class="status"></div>
                        <div class="anonimousReporterIcon"></div>
                    }
                </div>
            </div>
            <div class="forText">
                <div class="boldText">
                    @GlobalRes.CaseCantBeResolved
                </div>
                <div class="regularText">
                    @temp_um._user.first_nm @temp_um._user.last_nm, @m_DateTimeHelper.ConvertDateToLongMonthString(ris.created_date):
                </div>
                <div class="openSansText">
                    @ris.description
                </div>
            </div>
            <div class="caseResolution">
                <div class="postionButtons">
                    <div class="secondButton">
                        <div class="textInButton">@GlobalRes.Approve.ToLower()</div>
                    </div>
                    <div class="firstButton">
                        <div class="textInButton">@GlobalRes.Returnnvestigation.ToLower()</div>
                    </div>
                </div>
                @*<div class="createTaskBottom">
                        <input type="text" placeholder="Case resolution" name="task_description">
                        <div class="footerCaseResolution">
                            <div class="positionCaseButtons">
                                <div class="firstButton2">
                                        <span class="img"></span>
                                        attach files
                                </div>
                                <input type="file" id="files2" name="file2" multiple="multiple" style="display: none;">
                                <div class="secondButton2">
                                    resolve case
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>


        <div class="firstHeader2">
            <div id="casesHeared">
                <div id="menu">
                    @Html.Partial("~/Views/PartialViews/_ReportTopMenu.cshtml",
                        new ViewDataDictionary { { "report_id", report_id },
                                                { "user_id", user_id },
                                                { "selected_item", 1 } ,{ "popup", popup } })
                </div>

            </div>
        </div>

    }

    if (rm._investigation_status == Constant.investigation_status_resolution)
    {   // Case resolved - waiting for approvement
        //  - eto vipadaushaya nijnyaya vkladka -   "Case resolved" Pepper Pots is visible
        //
    }

}
else if (rm._investigation_status == Constant.investigation_status_closed)
{
    <style>
        .closeCustom {
            top: -23px;
        }
    </style>
    <div class="firstHeader">
        <div class="caseWaitApp">@GlobalRes.CaseClosed</div>
        <div class="positionDropDown">
            <span class="dropDownfirstHeader flag" style="top: -19px;"></span>
            <a href="#" class="closeCustom flag"></a>
        </div>
        <div class="positionActivityIcon">
            <div id="activityIcon"></div>
            <span>@GlobalRes.Activity</span>
        </div>
    </div>

    if (((rm._investigation_status == Constant.investigation_status_closed) && (rm._previous_investigation_status_id == Constant.investigation_status_resolution)) || ((rm._investigation_status == Constant.investigation_status_closed) && (rm._previous_investigation_status_id == Constant.investigation_status_completed)))
    {
        ris = rm._previous_investigation_status();
        UserModel temp_um = new UserModel(ris.user_id);

        <div class="caseMediator" style="display: none;">
            <div class="displayMediators">
                <div class="blockPhoto">
                    <div class="blockPhoto">
                        @Html.Partial("~/Views/Shared/Helpers/_UserPreviewFace.cshtml", new ViewDataDictionary { { "user_id", ris.user_id }, { "is_owner", true } })
                    </div>
                </div>
            </div>
            <div class="forText">
                <div class="boldText">
                    @if (ris.investigation_status_id == Constant.investigation_status_completed)
                    {
                        @GlobalRes.CaseCantBeResolved
                    }
                    else if (ris.investigation_status_id == Constant.investigation_status_resolution)
                    {
                        @GlobalRes.CaseResolved
                    }
                </div>
                <div class="regularText">
                    @temp_um._user.first_nm @temp_um._user.last_nm,    @m_DateTimeHelper.ConvertDateToLongMonthString(ris.created_date):
                </div>
                <div class="openSansText">
                    @ris.description
                </div>
            </div>
            <div class="border"></div>
        </div>


                    ris = rm._last_investigation_status();
                    temp_um = new UserModel(ris.user_id);

                    <div class="caseMediator" style="height: 110px; display: none;">
                        <div class="displayMediators">
                            <div class="blockPhoto">
                                <div class="blockPhoto">
                                    <div class="blockPhoto">
                                        @Html.Partial("~/Views/Shared/Helpers/_UserPreviewFace.cshtml", new ViewDataDictionary { { "user_id", ris.user_id }, { "is_owner", true } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="forText">
                            <div class="boldText">
                                @GlobalRes.Approved
                            </div>
                            <div class="regularText">
                                @temp_um._user.first_nm @temp_um._user.last_nm,    @m_DateTimeHelper.ConvertDateToLongMonthString(ris.created_date):
                            </div>
                            <div class="openSansText">
                                @ris.description
                            </div>
                        </div>
                    </div>
    }

}
else
{

    <div class="firstHeader2">
        <div id="casesHeared">
            <div id="menu">
                @Html.Partial("~/Views/PartialViews/_ReportTopMenu.cshtml",
                        new ViewDataDictionary { { "report_id", report_id },
                                                { "user_id", user_id },
                                                { "selected_item", 1 } ,{ "popup", popup } })
            </div>

        </div>
    </div>


    <div class="positionActivityIcon" style="height:61px;">
        <div id="activityIcon"></div>
        <span>@GlobalRes.Activity</span>
    </div>

}