@using EC.Models.ViewModel;
@using EC.App_LocalResources;
@using EC.Models;
@using EC.Common.Interfaces;
@using EC.Core.Common;
@using EC.Constants;

@{
    IDateTimeHelper m_DateTimeHelper = new DateTimeHelper();
    string color = "";
    string position = "";
    if (Model.investigation_status_number == ECGlobalConstants.investigation_status_resolution || Model.investigation_status_number == ECGlobalConstants.investigation_status_completed || Model.investigation_status_number == ECGlobalConstants.investigation_status_closed)
    {
        color = "grey";
        position = "completedPosition";
    }
    else if (Model.investigation_status_number == ECGlobalConstants.investigation_status_closed)
    {
        color = "red";
    }
    else if (Model.investigation_status_number == ECGlobalConstants.investigation_status_investigation)
    {
        color = "yellow";
    }
    GlobalFunctions glb = new GlobalFunctions();
    ReportModel rm = new ReportModel(Model.report_id);
}
@model CasePreviewViewModel

<div class="div-table-col">
    @*<div class="rectangle" style="background-color:#@Model.case_color_code"></div>*@
    <span>@Model.case_number</span>
</div>
<div class="div-table-col">@Model.current_status</div>
<div class="div-table-col">@Model.days_left days</div>
<div class="div-table-col">@Model.case_secondary_types</div>
<div class="div-table-col">@Model.location</div>
<div class="div-table-col">@Model.messages_number</div>
<div class="div-table-col">@Model.tasks_number</div>
<div class="div-table-col">@Model.team_number</div>