@using EC.Models.Database;
@using EC.App_LocalResources;

@{
    var report_id = (Int32)ViewBag.report_id;
    var user_id = (Int32)ViewBag.user_id;
    List<attachment> attachmentFiles = (List<attachment>)ViewBag.attachmentFiles;
    Layout = "~/Views/Shared/IndexPages/LayoutNewCases.cshtml";
    ViewBag.Title = "Case Details";
}

@Html.Partial("~/Views/Shared/Partial/_NewCasesTopMenu.cshtml")

<div class="container mainNavigationTabs__tabContent-container" ng-controller="NewCaseReportController" ng-cloak>
    <div id="mainTab-1" class="mainNavigationTabs__tabContent active">
        <section class="content-container content-container_pbn">
            <div class="content-container__inner">
                <p class="sectionHeader">@GlobalRes.GeneralInformation</p><!-- /.sectionHeader -->
                <div class="content-container__inner-additional clearfix">
                    <div class="col-6">
                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    Reporting from:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.reportingFrom}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    @GlobalRes.Reporterwouldliketostay:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.reporterWouldLike}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    Reporter is:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.reporterIs}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->
                        @* here my code *@
                        <div class="row row-noP-fl" ng-if="model.incident_anonymity_id === 3">
                            <div class="col-6">
                                <p class="content-container__p">
                                    @GlobalRes.Reportername:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.reporterName}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl" ng-if="model.reporterEmail">
                            <div class="col-6">
                                <p class="content-container__p">
                                    @GlobalRes.Email:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.reporterEmail}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->


                        <div class="row row-noP-fl" ng-if="model.reporterPhone">
                            <div class="col-6">
                                <p class="content-container__p">
                                    Telephone:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.reporterPhone}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->
                        @* here my code *@
                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    @GlobalRes.TheIncidentHappened @GlobalRes.in_:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.incidentHappenedIn}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    @GlobalRes.AffectedDepartment:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.affectedDepartment}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.col-6 -->
                </div><!-- /.content-container__inner-additional clearfix -->
            </div><!-- /.content-container__inner -->
        </section><!-- /.content-container -->
        <section class="content-container content-container_pbn">
            <div class="content-container__inner">
                <p class="sectionHeader">Parties involved</p><!-- /.sectionHeader -->
                <div class="content-container__inner-additional clearfix">
                    <div class="col-6">
                        <div class="row row-noP-fl" ng-repeat="item in model.non_mediator_involved">
                            <div class="col-6">
                                <p class="content-container__p">
                                    <strong>{{item.Name}},</strong> {{item.Title}}
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{item.Role}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    @GlobalRes.Doesmanagementknowaboutthisincident
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-12 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.management_know_string}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->
                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    @GlobalRes.Incidentreportedoutside_q
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-12 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.is_reported_outside}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->
                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    @GlobalRes.IsReportUrgent_q
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-12 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.is_reported_urgent}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                    </div><!-- /.col-6 -->
                </div><!-- /.content-container__inner-additional clearfix -->
            </div><!-- /.content-container__inner -->
        </section><!-- /.content-container -->
        <section class="content-container content-container_pbn">
            <div class="content-container__inner">
                <p class="sectionHeader">Case information</p><!-- /.sectionHeader -->
                <div class="content-container__inner-additional clearfix">
                    <div class="col-6">
                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    Reporting about:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.secondary_type_string}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    Date:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.incident_date_string}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    @GlobalRes.isOngoing?
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.is_ongoing}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl" ng-show="!model.report_frequency_text">
                            <div class="col-6">
                                <p class="content-container__p">
                                    &nbsp;
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.report_frequency_text}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl">
                            <div class="col-6">
                                <p class="content-container__p">
                                    @GlobalRes.IncidentResultInjury
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.has_injury_damage}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->

                        <div class="row row-noP-fl" ng-show="!model.injury_damage">
                            <div class="col-6">
                                <p class="content-container__p">
                                    &nbsp;
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-6">
                                <p class="content-container__pBold">
                                    {{model.injury_damage}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.col-6 -->

                    <div class="col-6">
                    </div>

                    <div class="col-12">
                        <div class="row row-noP-fl">
                            <div class="col-3" style="padding-left: 0px;">
                                <p class="content-container__p">
                                    Incident description:
                                </p><!-- /.content-container__p -->
                            </div><!-- /.col-4 -->
                            <div class="col-9" style="padding-left: 5px;">
                                <p class="content-container__pBold">
                                    {{model.description}}
                                </p><!-- /.content-container__pBold -->
                            </div><!-- /.col-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.col-6 -->

                    <div class="row content-container__attachment-row">
                        <div class="col-4" ng-repeat="item in model.attachments">
                            <div class="attachmentBlock clearfix">
                                <div class="attachmentBlock__img">
                                    <img src="~/Content/Icons/attachment-icon_preview.png" alt="icon" />
                                </div><!-- /.attachmentBlock__img -->
                                <div class="attachmentBlock__info">
                                    <div class="attachmentBlock__name">
                                        {{item.file_nm}}
                                    </div><!-- /.attachmentBlock__name -->
                                    <a href="{{item.path_nm}}" class="attachmentBlock__link">
                                        download
                                    </a>
                                </div><!-- /.attachmentBlock__info -->
                            </div><!-- /.attachmentBlock -->
                        </div><!-- /.col-4 -->
                    </div><!-- /.content-container__attachment-row -->

                    <div class="col-3">
                        <p class="content-container__p">
                            Download report
                        </p>
                    </div>
                    <div class="col-6">
                        <a href="@Url.Action("PrintToPdfOriginal", new { id = ViewBag.guid })" target="_blank">
                            <img src="http://stark.employeeconfidential.com/Content/Icons/print-icon.png" />
                        </a>
                    </div>
                </div><!-- /.content-container__inner-additional clearfix -->
            </div><!-- /.content-container__inner -->
        </section><!-- /.content-container -->
    </div>
</div><!-- /.container -->
