@using EC.Models
@using EC.Common.Interfaces
@using EC.Core.Common
@using EC.Models.Database

@model ReportModel

@{
    Layout = null;
    IDateTimeHelper m_DateTimeHelper = new DateTimeHelper();
    var user_id = (int)ViewBag.user_id;
    var cm = new CompanyModel();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@Model.CompanyName() Case Closure Report @Model._report.display_name</title>
    <link rel="stylesheet" href="~/Content/newCase.css" />
    <link rel="stylesheet" href="~/Content/print-reports.css" />
</head>
<body>
    <div class="reportTemplate container clearfix">
        <div class="reportTemplateHeader clearfix">
            <div class="reportTemplateHeader-logo pull-left">
                <img src="@cm.getLogoCompany(Model._report.company_id)" style="max-width: 100px;" alt="" />
            </div><!-- /.reportTemplateHeader-logo pull-left -->
            <div class="reportTemplateHeader-info pull-right">
                <div class="reportTemplateHeader-info__title">
                    @Model.CompanyName()
                </div><!-- /.reportTemplateHeader-info__title -->
                <div class="reportTemplateHeader-Case">
                    Case <strong>#@Model._report.display_name</strong>
                </div><!-- /.reportTemplateHeader-Case -->
            </div><!-- /.reportTemplateHeader-info pull-right -->
        </div><!-- /.reportTemplateHeader -->
        <div class="reportPagesCount">
            <strong>#@Model._report.display_name:</strong> CASE CLOSURE REPORT (<span>1</span> of <span>3</span>)
        </div><!-- /.reportPages -->
        <div class="reportTemplateContent">
            <div class="reportContentBlock clearfix">
                <div class="reportContentBlock__title">
                    CASE DETAILS
                </div><!-- /.reportContentBlock__title -->

                <div class="reportContentBlock__textCols clearfix">
                    <div class="reportContentBlock__textColFirst">
                        Report date
                    </div><!-- /.reportContentBlock__textColFirst -->
                    <div class="reportContentBlock__textColSecond">
                        <p>@Model.ReportedDateString()</p>
                    </div><!-- /.reportContentBlock__textColRight -->
                    <div class="reportContentBlock__textColThird">
                        Case closure date
                    </div><!-- /.reportContentBlock__textColThird -->
                    <div class="reportContentBlock__textColFourth">
                        <p>@(m_DateTimeHelper.GetShortMonth(Model.Last_investigation_status_date().Value.Month) + " " + Model.Last_investigation_status_date().Value.Day.ToString() + ", " + Model.Last_investigation_status_date().Value.Year.ToString())</p>
                    </div><!-- /.reportContentBlock__textColFourth -->
                </div><!-- /.reportContentBlock__textCols -->
                <div class="reportContentBlock__textCols clearfix">
                    <div class="reportContentBlock__textColFirst">
                        Reporting from
                    </div><!-- /.reportContentBlock__textColFirst -->
                    <div class="reportContentBlock__textColRight">
                        <p>@Model.CountryString()</p>
                    </div><!-- /.reportContentBlock__textColRight -->
                </div><!-- /.reportContentBlock__textCols -->
                <div class="reportContentBlock__textCols clearfix">
                    <div class="reportContentBlock__textColFirst">
                        Confidentiality level
                    </div><!-- /.reportContentBlock__textColFirst -->
                    <div class="reportContentBlock__textColRight">
                        <p>
                            @Model._anonymousLevel_mediatorVersionByCaller(user_id)
                        </p>
                    </div><!-- /.reportContentBlock__textColRight -->
                </div><!-- /.reportContentBlock__textCols -->
                <div class="reportContentBlock__textCols clearfix">
                    <div class="reportContentBlock__textColFirst">
                        Name
                    </div><!-- /.reportContentBlock__textColFirst -->
                    <div class="reportContentBlock__textColRight">
                        <p>
                            @Model._reporter_user.first_nm 
                            @Model._reporter_user.last_nm
                            @{ 
                                var l = new List<string>();
                                if (!String.IsNullOrEmpty(Model._reporter_user.first_nm) || String.IsNullOrEmpty(Model._reporter_user.last_nm))
                                {
                                    l.Add(String.Format("{0} {1}", Model._reporter_user.first_nm, Model._reporter_user.last_nm));
                                }
                                if (!String.IsNullOrEmpty(Model._reporter_user.email))
                                {
                                    l.Add(Model._reporter_user.email);
                                }
                                if (!String.IsNullOrEmpty(Model._reporter_user.phone))
                                {
                                    l.Add(Model._reporter_user.phone);
                                }
                            }
                            @String.Join(", ", l);
                        </p>
                    </div><!-- /.reportContentBlock__textColRight -->
                </div><!-- /.reportContentBlock__textCols -->
                <div class="reportContentBlock__textCols clearfix">
                    <div class="reportContentBlock__textColFirst">
                        Incident location
                    </div><!-- /.reportContentBlock__textColFirst -->
                    <div class="reportContentBlock__textColRight">
                        <p>@Model.LocationString()</p>
                    </div><!-- /.reportContentBlock__textColRight -->
                </div><!-- /.reportContentBlock__textCols -->
                <div class="reportContentBlock__textCols clearfix">
                    <div class="reportContentBlock__firstColTitle">
                        Case owner
                    </div><!-- /.reportContentBlock__firstColTitle -->
                    <div class="reportRow clearfix">
                        @foreach (var item in Model.ReportOwnersUserList())
                        {
                            var um = new UserModel(item.id);
                            <div class="col-4" style="width: 33.33% !important">
                                <p>
                                    @item.first_nm @item.last_nm
                                </p>
                            </div><!-- /.col-4 -->
                            <div class="col-4" style="width: 33.33% !important">
                                <p>@um._department_string</p>
                            </div><!-- /.col-4 -->
                            <div class="col-4" style="width: 33.33% !important">
                                <p>@item.email</p>
                            </div><!-- /.col-4 -->
                        }
                    </div><!-- /.reportRow -->
                </div><!-- /.reportContentBlock__textCols clearfix -->
                <div class="reportContentBlock__textCols clearfix">
                    <div class="reportContentBlock__firstColTitle">
                        Case administration team
                    </div><!-- /.reportContentBlock__firstColTitle -->
                    @{
                        var rClass = "";
                        foreach (var item in Model.MediatorsWhoHasAccessToReport())
                        {
                            var um = new UserModel(item.id);
                            <div class="reportRow @rClass clearfix">
                                <div class="col-4" style="width: 33.33% !important">
                                    <p>@item.first_nm @item.last_nm</p>
                                </div><!-- /.col-4 -->
                                <div class="col-4" style="width: 33.33% !important">
                                    <p>@um._department_string</p>
                                </div><!-- /.col-4 -->
                                <div class="col-4" style="width: 33.33% !important">
                                    <p>@item.email</p>
                                </div><!-- /.col-4 -->
                            </div><!-- /.reportRow -->

                            rClass = "reportRow_mt";
                        }
                    }
                </div><!-- /.reportContentBlock__textCols clearfix -->
                <div class="reportContentBlock__textCols clearfix">
                    <div class="reportContentBlock__firstColTitle">
                        Incident type (s)
                    </div><!-- /.reportContentBlock__firstColTitle -->
                    <div class="reportRow clearfix">
                        <div class="col-4">
                            @foreach (var item in Model.SecondaryTypeAll())
                            {
                                <p>@item,</p>
                            }
                        </div><!-- /.col-4 -->
                        <div class="col-4">
                            <p></p>
                        </div><!-- /.col-4 -->
                        <div class="col-4">
                            <p></p>
                        </div><!-- /.col-4 -->
                    </div><!-- /.reportRow -->
                </div><!-- /.reportContentBlock__textCols clearfix -->
                <div class="reportContentBlock__textCols clearfix">
                    <div class="reportContentBlock__firstColTitle">
                        Involved parties
                    </div><!-- /.reportContentBlock__firstColTitle -->
                    @{
                        rClass = "";
                        var roles = Model.RoleInReport();
                        foreach (var item in Model.NonInvolvedMediatorsAll())
                        {
                            var role = roles.FirstOrDefault(x => x.id == item.role_in_report_id);
                            <div class="reportRow @rClass clearfix">
                                <div class="col-4">
                                    <p>@item.Name @item.last_name</p>
                                </div><!-- /.col-4 -->
                                <div class="col-4">
                                    <p>@item.Title</p>
                                </div><!-- /.col-4 -->
                                <div class="col-4">
                                    <p>
                                        @(role == null ? "" : role.role_en)
                                    </p>
                                </div><!-- /.col-4 -->
                            </div><!-- /.reportRow -->
                            rClass = "reportRow_mt";
                        }
                    }
                </div><!-- /.reportContentBlock__textCols clearfix -->
                <div class="reportContentBlock__textCols clearfix">
                    <div class="reportContentBlock__firstColTitle">
                        Involved departments
                    </div><!-- /.reportContentBlock__firstColTitle -->
                    @foreach (var item in Model.Departments(null))
                    {
                        <div class="reportRow clearfix">
                            <div class="col-4">
                                <p>@item.department_en</p>
                            </div><!-- /.col-4 -->
                            <div class="col-4">
                                <p></p>
                            </div><!-- /.col-4 -->
                            <div class="col-4">
                                <p></p>
                            </div><!-- /.col-4 -->
                        </div><!-- /.reportRow -->
                    }
                </div><!-- /.reportContentBlock__textCols clearfix -->
            </div><!-- /.reportContentBlock clearfix -->
            <div class="reportContentBlock clearfix">
                <div class="reportContentBlock__title">
                    INVESTIGATION METHODOLOGY
                </div><!-- /.reportContentBlock__title -->
                <div class="reportContentBlock__wideText">
                    @Html.Raw(Model.InvestigationMethodology().Replace("\n", "<br/>"))
                </div><!-- /.reportContentBlock__wideText -->
            </div><!-- /.reportContentBlock clearfix -->
            <div class="reportContentBlock clearfix">
                <div class="reportContentBlock__title">
                    FACTS ESTABLISHED
                </div><!-- /.reportContentBlock__title -->
                <div class="reportContentBlock__wideText">
                    @Html.Raw(Model.FactsEstablished().Replace("\n", "<br/>"))
                </div><!-- /.reportContentBlock__wideText -->
            </div><!-- /.reportContentBlock clearfix -->
            <div class="reportContentBlock clearfix">
                <div class="reportContentBlock__title">
                    EXECUTIVE SUMMARY
                </div><!-- /.reportContentBlock__title -->
                <div class="reportContentBlock__wideText">
                    @Html.Raw(Model.ExecutiveSummary().Replace("\n", "<br/>"))
                </div><!-- /.reportContentBlock__wideText -->
            </div><!-- /.reportContentBlock clearfix -->

        </div><!-- /.reportTemplateContent -->

        <div class="page-break"></div><!-- /.page-break -->
        <div class="onlyPrint">
            <div class="reportTemplateHeader onlyPrint clearfix">
                <div class="reportTemplateHeader-logo pull-left">
                    <img src="@cm.getLogoCompany(Model._report.company_id)" style="max-width: 100px;" alt="" />
                </div><!-- /.reportTemplateHeader-logo pull-left -->
                <div class="reportTemplateHeader-info pull-right">
                    <div class="reportTemplateHeader-info__title">
                        @Model.CompanyName()
                    </div><!-- /.reportTemplateHeader-info__title -->
                    <div class="reportTemplateHeader-Case">
                        Case <strong>#22000-d-3</strong>
                    </div><!-- /.reportTemplateHeader-Case -->
                </div><!-- /.reportTemplateHeader-info pull-right -->
            </div><!-- /.reportTemplateHeader -->
            <div class="reportPagesCount onlyPrint">
                <strong>#22000-D-3:</strong> CASE CLOSURE REPORT (<span>2</span> of <span>3</span>)
            </div><!-- /.reportPages -->
        </div><!-- /.onlyPrint -->

        <div class="reportContentBlock clearfix">
            <div class="reportContentBlock__title">
                ROOT CAUSES
            </div><!-- /.reportContentBlock__title -->
            @foreach (var incident in Model.SecondaryTypeModelAll())
            {
                var im = Model.InvestigationMethodologies(incident.secondary_type_id);
                company_root_cases_behavioral b = null;
                company_root_cases_external e = null;
                company_root_cases_organizational o = null;

                if (im != null)
                {
                    b = Model.RootCasesBehavioral().FirstOrDefault(x => x.id == im.company_root_cases_behavioral_id);
                    e = Model.RootCasesExternal().FirstOrDefault(x => x.id == im.company_root_cases_external_id);
                    o = Model.RootCasesOrganizational().FirstOrDefault(x => x.id == im.company_root_cases_organizational_id);
                }

                <div class="reportContentBlock__title">
                    @incident.secondary_type_nm
                </div>
                if ((b != null) && (im != null) && (im.company_root_cases_behavioral_note != null) && (im.company_root_cases_behavioral_note.Length > 0 || b.name_en.Length > 0))
                {
                    <div class="reportContentBlock__firstColTitle report_m-l">
                        Behavioral factors
                    </div><!-- /.reportContentBlock__firstColTitle -->
                    <div class="reportRow__twoCols clearfix">
                            <div class="reportRow__twoCols-title">
                                @b.name_en
                            </div><!-- /.reportRow__twoCols-title -->
                            <div class="reportRow__twoCols-text" style="margin-bottom: 20px;">
                                @Html.Raw((im.company_root_cases_behavioral_note ?? "").Replace("\n", "<br/>"))
                            </div><!-- /.reportRow__twoCols-text -->
                    
                    </div><!-- /.reportRow clearfix -->
                }
                if ((e != null) && (im != null) && (im.company_root_cases_behavioral_note != null) && (im.company_root_cases_external_note.Length > 0 || e.name_en.Length > 0))
                {
                <div class="reportContentBlock__firstColTitle report_m-l">
                    External influences
                </div><!-- /.reportContentBlock__firstColTitle -->
                <div class="reportRow__twoCols clearfix">
 
                        <div class="reportRow__twoCols-title">
                            @e.name_en
                        </div><!-- /.reportRow__twoCols-title -->
                        <div class="reportRow__twoCols-text" style="margin-bottom: 20px;">
                            @Html.Raw((im.company_root_cases_external_note ?? "").Replace("\n", "<br/>"))
                        </div><!-- /.reportRow__twoCols-text -->
                    
                </div><!-- /.reportRow clearfix -->
                }
                if ((o != null) && (im != null) && (im.company_root_cases_behavioral_note != null) && (im.company_root_cases_organizational_note.Length > 0 || o.name_en.Length > 0))
                {
                <div class="reportContentBlock__firstColTitle report_m-l">
                    Internal influences:
                </div><!-- /.reportContentBlock__firstColTitle -->
                <div class="reportRow__twoCols clearfix">

                        <div class="reportRow__twoCols-title">
                            @o.name_en
                        </div><!-- /.reportRow__twoCols-title -->
                        <div class="reportRow__twoCols-text" style="margin-bottom: 20px;">
                            @Html.Raw((im.company_root_cases_organizational_note ?? "").Replace("\n", "<br/>"))
                        </div><!-- /.reportRow__twoCols-text -->
                    
                </div><!-- /.reportRow clearfix -->
                    }
                }
        </div><!-- /.reportContentBlock clearfix -->

        @{ 
            var mediators = Model.NonInvolvedMediatorsAll();
            var caseClosureOutcome = Model.CaseClosureOutcome();
            var companyOutcomes = Model.CompanyOutcomes();
        }
        @foreach (var item in mediators.Where(x => x.role_in_report_id == 3).ToList())
        {
            var detail = caseClosureOutcome.FirstOrDefault(x => x.non_mediator_involved_id == item.id);
            var outcome = companyOutcomes.FirstOrDefault(x => x.id == (detail == null ? 0 : detail.outcome_id));

            <div class="reportContentBlock clearfix">
                <div class="reportContentBlock__title">
                    SUGGESTED OUTCOME FOR SUBJECT — @item.Name @item.last_name — @(outcome == null ? "n/a" : outcome.outcome_en)
                </div><!-- /.reportContentBlock__title -->
                <div class="reportContentBlock__wideText">
                    @if (detail != null)
                    {
                        @Html.Raw((detail.note ?? "").Replace("\n", "<br/>"))
                    }
                </div><!-- /.reportContentBlock__wideText -->
            </div><!-- /.reportContentBlock clearfix -->
        }
        
        @{ 
            var reporter = caseClosureOutcome.FirstOrDefault(x => !x.non_mediator_involved_id.HasValue);
        }
        @if (reporter != null)
        {
            var outcome = companyOutcomes.FirstOrDefault(x => x.id == reporter.outcome_id);

            <div class="reportContentBlock clearfix">
                <div class="reportContentBlock__title">
                    SUGGESTED ACTIONS FOR REPORTER — @(outcome == null ? "n/a" : outcome.outcome_en)
                </div><!-- /.reportContentBlock__title -->
                <div class="reportContentBlock__wideText">
                    @Html.Raw((reporter.note ?? "").Replace("\n", "<br/>"))
                </div><!-- /.reportContentBlock__wideText -->
            </div><!-- /.reportContentBlock clearfix -->
        }

        @foreach (var item in mediators.Where(x => x.role_in_report_id == 1 || x.role_in_report_id == 2).ToList())
        {
            var detail = caseClosureOutcome.FirstOrDefault(x => x.non_mediator_involved_id == item.id);
            var outcome = companyOutcomes.FirstOrDefault(x => x.id == (detail == null ? 0 : detail.outcome_id));

            <div class="reportContentBlock clearfix">
                <div class="reportContentBlock__title">
                    SUGGESTED ACTIONS FOR WITNESSES — @item.Name @item.last_name — @(outcome == null ? "n/a" : outcome.outcome_en)
                </div><!-- /.reportContentBlock__title -->
                <div class="reportContentBlock__wideText">
                    @(detail == null ? "" : detail.note)
                </div><!-- /.reportContentBlock__wideText -->
            </div><!-- /.reportContentBlock clearfix -->
        }

        <div class="page-break"></div><!-- /.page-break -->
        <div class="onlyPrint">
            <div class="reportTemplateHeader onlyPrint clearfix">
                <div class="reportTemplateHeader-logo pull-left">
                    <img src="@cm.getLogoCompany(Model._report.company_id)" style="max-width: 100px;" alt="" />
                </div><!-- /.reportTemplateHeader-logo pull-left -->
                <div class="reportTemplateHeader-info pull-right">
                    <div class="reportTemplateHeader-info__title">
                        @Model.CompanyName()
                    </div><!-- /.reportTemplateHeader-info__title -->
                    <div class="reportTemplateHeader-Case">
                        Case <strong>#22000-d-3</strong>
                    </div><!-- /.reportTemplateHeader-Case -->
                </div><!-- /.reportTemplateHeader-info pull-right -->
            </div><!-- /.reportTemplateHeader -->
            <div class="reportPagesCount onlyPrint">
                <strong>#22000-D-3:</strong> CASE CLOSURE REPORT (<span>3</span> of <span>3</span>)
            </div><!-- /.reportPages -->
        </div><!-- /.onlyPrint -->

        <div class="reportContentBlock clearfix">
            <div class="reportContentBlock__title">
                CASE CLOSURE
            </div><!-- /.reportContentBlock__title -->

            <div class="reportContentBlock__textCols clearfix">
                <div class="reportContentBlock__textColFirst">
                    Reason for closure
                </div><!-- /.reportContentBlock__textColFirst -->
                <div class="reportContentBlock__textColRight">
                    <p>@Model.Last_investigation_case_closure_reason()</p>
                </div><!-- /.reportContentBlock__textColRight -->
            </div><!-- /.reportContentBlock__textCols -->
            <div class="reportContentBlock__textCols clearfix">
                <div class="reportContentBlock__textColFirst">
                    Case closure approved by
                </div><!-- /.reportContentBlock__textColFirst -->
                <div class="reportContentBlock__textColRight">
                    @{ 
                        var som = Model.Last_investigation_status_user();
                    }
                    @if (som != null)
                    {
                        <p>@som.first_nm @som.last_nm, @som.title_ds</p>
                    }
                </div><!-- /.reportContentBlock__textColRight -->
            </div><!-- /.reportContentBlock__textCols -->
            <div class="reportContentBlock__textCols clearfix">
                <div class="reportContentBlock__firstColTitle">
                    Approval notes
                </div><!-- /.reportContentBlock__firstColTitle -->
                <div class="reportContentBlock__wideText">
                    @{
                        var status = Model._last_investigation_status();
                        var description = status != null ? status.description : "";
                    }
                    @description
                </div><!-- /.reportContentBlock__wideText -->
            </div><!-- /.reportContentBlock__textCols clearfix -->

        </div><!-- /.reportContentBlock clearfix -->

    </div><!-- /.reportTemplate container clearfix -->
</body>
</html>