@using EC.Models.Database;
@using EC.App_LocalResources;

@{
    var report_id = (Int32)ViewBag.report_id;
    var user_id = (Int32)ViewBag.user_id;
    List<attachment> attachmentFiles = (List<attachment>)ViewBag.attachmentFiles;
    Layout = "~/Views/Shared/IndexPages/LayoutNewCases.cshtml";
}

<body>
    <style>
         .headerPos {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-bottom: 0px;
                width: 100%;
                float: left;
                font-family: 'OpenSans-Regular', arial, verdana, sans-serif;
                font-size: 12px;
                position: absolute;
                margin-top: 1px;
                height: auto;
                bottom: -3px;
                -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.11);
                -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.11);
                box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.11);
                z-index: 1;
            }
            .headerPos .positionN + .polos {
                height: 6px;
                width: 2px;
                background: #d7e3e4 none repeat scroll 0% 0%;
                margin-bottom: -35px;
            }
    </style>

    <link type="text/css" href="~/Content/caseTasks.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">

    <link href="@Url.Content("~/Content/assets/template/css/reset.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/assets/template/css/style.css")" rel="stylesheet">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    @Html.Partial("~/Views/Shared/Partial/_NewCasesTopMenu.cshtml")

    <div id="generalInfo" ng-controller="NewCaseReportController">
        <div class="firstPosition">
            <div class="blockGeneralInformation">
                <span class="title">General Information</span>
                <table class="generalInformation">
                    <tbody>
                        <tr>
                            <td>Reporting From:</td>
                            <td>{{model.reportingFrom}}</td>
                        </tr>
                        <tr>
                            <td>Reporter would like to stay:</td>
                            <td>{{model.reporterWouldLike}}</td>
                        </tr>
                        <tr>
                            <td>Reporter name</td>
                            <td>{{model.reporterName}}</td>
                        </tr>
                        <tr>
                            <td>Reporter is:</td>
                            <td>{{model.reporterIs}}</td>
                        </tr>

                        <tr>
                            <td>The incident happened in:</td>
                            <td>{{model.incidentHappenedIn}}</td>
                        </tr>
                        <tr>
                            <td>Affected department(s):</td>
                            <td>{{model.affectedDepartment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <style>
                .darkerText {
                    font-family: 'OpenSans-Semibold', arial, verdana, sans-serif;
                    font-size: 16px;
                    color: #727c7e;
                    padding-top: 20px;
                }
            </style>
            <div class="blockPartiesInformation">
                <span class="title">Parties involved</span>

                <table class="generalInformation">
                    <tbody>
                        <tr>
                            <td>
                                @GlobalRes.report_by_myself
                            </td>
                            <td>
                                <span ng-show="model.report_by_myself">@GlobalRes.Myself</span>
                                <span ng-show="!model.report_by_myself">@GlobalRes.SomeoneElse</span>
                            </td>
                        </tr>
                        <tr ng-repeat="item in model.non_mediator_involved">
                            <td><span class="darkerText">{{item.Name}}</span>&nbsp; {{item.Title}} </td>
                            <td>{{item.Role}}</td>
                        </tr>
                        <tr>
                            <td>@GlobalRes.Doesmanagementknowaboutthisincident</td>
                            <td>
                                {{model.management_know_string}}
                            </td>
                        </tr>
                        <tr>
                            <td>@GlobalRes.Incidentreportedoutside_q</td>
                            <td>
                                {{model.is_reported_outside}}
                            </td>
                        </tr>
                        <tr>
                            <td>@GlobalRes.IsReportUrgent</td>
                            <td>
                                {{model.is_reported_urgent}}
                            </td>
                        </tr>                    
                    </tbody>
                </table>
            </div>

            <div class="blockCaseInformation">
                <span class="title">Case Information</span>
                <table class="caseInformation">
                    <tbody>
                        <tr>
                            <td>@GlobalRes.ReportingAbout:</td>
                            <td>{{model.secondary_type_string}}</td>
                        </tr>
                        <tr>
                            <td>@GlobalRes.IncidentDate:</td>
                            <td>{{model.incident_date_string}}</td>
                        </tr>
                        <tr>
                            <td>@GlobalRes.isOngoing:</td>
                            <td>{{model.is_ongoing}}</td>
                        </tr>
                        <tr ng-show="model.report_frequency_text">
                            <td></td>
                            <td>{{model.report_frequency_text}}</td>
                        </tr>

                        <tr>
                            <td>@GlobalRes.incidentResult:</td>
                            <td>{{model.has_injury_damage}}</td>
                        </tr>
                        <tr ng-show="model.injury_damage">
                            <td></td>
                            <td>{{model.injury_damage}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="incidentDescription">
                <p class="titleIncidentDescription">Incident description:</p>
                <div class="text">
                    {{model.description}}
                </div>
            </div>


        </div>

        <div class="contentDownloadDoc" style="/* display: none; */">

        </div>
    </div>
</body>