@using EC.Localization;
@{ 
    string action = ViewContext.RouteData.Values["action"].ToString().ToLower();
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }
}

<style>
    #menu a {
        max-width: 500px;
    }
</style>

<div id="casesHeader">
    <div id="menu">
        <h2 class="mainTitle">@LocalizationGetter.GetString("Menu", is_cc):</h2>
        <div style="width:80%">
            <a href="@Url.Action("Index")" class="caseesTab @(action == "index" || action == "dashboard" ? "active" : "")">@LocalizationGetter.GetString("Cases", is_cc)</a>
            <a href="@Url.Action("RootCauseAnalysis")" style="padding-left:60px;" class="caseesTab @(action == "rootcauseanalysis" ? "active" : "")">Root Cause Analysis</a>
            @if (is_cc.Value)
            {
                <a href="@Url.Action("CACSReport")" style="padding-left:60px;" class="caseesTab @(action == "cacsreport" ? "active" : "")">Clery Act Crime Statistics Report</a>
            }
        </div>
    </div>
</div>
