@using EC.Models;
@using EC.Models.ECModel;
@using EC.Models.Database;
@using System.Data;
@{
    ViewBag.Title = "Clery Act Crime Statistics Report";
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";

    int user_id = (Int32)ViewBag.user_id;
    int companyId = ViewBag.um._user.company_id;
    string _today = ViewBag._today;
 

}
<link rel="stylesheet" href="~/Content/styleAnalytics.css" />

<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/jquery.daterangepicker.min.js"></script>
<link rel="stylesheet" href="~/Libs/nvd3/build/nv.d3.min.css">

<link href="~/Content/daterangepickerAnalit.css" rel="stylesheet" />

<input type="hidden" id="companyId" value="@companyId" />
<input type="hidden" id="user_id" value="@user_id" />
<input type="hidden" id="dateStart" value="" />
<input type="hidden" id="dateEnd" value="" />

<input type="hidden" id="step1_delay" value="@ViewBag.step1_delay" />
<input type="hidden" id="step2_delay" value="@ViewBag.step2_delay" />
<input type="hidden" id="step3_delay" value="@ViewBag.step3_delay" />
<input type="hidden" id="step4_delay" value="@ViewBag.step4_delay" />

<style>
    #menu a {
        max-width: 500px;
    }
    .menuItem {
        width: 350px;
    }
    .menuUl {
        width: 350px;
    }
    .dropMenuText {
        width: 300px;
    }
</style>

<div class="blockSettings blockAnalitics" ng-controller="AnalyticsCACSController" ng-cloak>
    @Html.Partial("~/Views/Analytics/AnalyticsMenu.cshtml")

    <div class="container ">
        <div class="divider p-tb-20"></div><!-- /.divider p-tb-10 -->
        <div class="content-container__inner statistics-container">
            <div class="menuItem">
                <div class="positionText">
                    <span class="dropMenuText">{{cc_crime_statistics_category.crime_statistics_category_en}}</span>
                    <img src="~/Content/img/arrowSelect.png" />
                </div>
                <ul class="menuUl" ng-show="cc_crime_statistics_categories.length > 0">
                    <li ng-repeat="item in cc_crime_statistics_categories">
                        <div class="liItem" value="{{item.id}}" nameDropdown="ReportsDepartmentIDStringss">
                            <span class="positionText liText" ng-click="selectCategory(item)">
                                <div class="checked">
                                    <img class="" src="~/Content/img/check.png" />
                                </div>
                                {{item.crime_statistics_category_en}}
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="print" ng-click="printGraphs(['#print1','#print2', '#print3'], 'CACS Report')" style="cursor: pointer; float: right">
                <div class="case-MainContent-HeaderLinks__item expertLink clearfix">
                    <div class="case-MainContent-HeaderLinks__itemIcon"></div>
                    <div class="case-MainContent-HeaderLinks__itemText">
                        Print
                    </div>
                </div>
            </div>
            <div class="divider p-tb-5"></div><!-- /.divider p-tb-10 -->

            <div class="borderAnalit">
                <nvd3 id="print1" options="cacsChart" data="cacsChartData" api="api"></nvd3>
            </div>

            <div class="divider p-tb-20"></div>
            <div id="print2">
                <div class="row row-3 statistics-totalTable statistics-totalReports clearfix">
                    <div class="statistics-totalTable__title">
                        Total Clery Act Crimes:
                    </div><!-- /.statistics-totalTable__title -->
                    <div class="statistics-totalTable__cols">
                        <div class="binding">{{Total(1, 0).total1}}</div>
                    </div><!-- /.statistics-totalTable__cols -->
                    <div class="statistics-totalTable__cols">
                        <div class="binding">{{Total(1, 1).total1}}</div>
                    </div><!-- /.statistics-totalTable__cols -->
                    <div class="statistics-totalTable__cols">
                        <div class="binding">{{Total(1, 2).total1}}</div>
                    </div><!-- /.statistics-totalTable__cols -->
                </div><!-- /.statistics-totalCrimes -->
            </div>
            <div id="print3">
                <div class="row row-3 statistics-totalTable statistics-totalReports clearfix" >
                    <div class="statistics-totalTable__title">
                        Total Unfounded Reports:
                    </div><!-- /.statistics-totalTable__title -->
                    <div class="statistics-totalTable__cols">
                        <div class="binding">{{Total(2, 0).total2}}</div>
                        <div class="bindingYear">{{Total(2, 0).year}}</div><!-- /.ng-bindingYear -->
                    </div><!-- /.statistics-totalTable__cols -->
                    <div class="statistics-totalTable__cols">
                        <div class="binding">{{Total(2, 1).total2}}</div>
                        <div class="bindingYear">{{Total(2, 1).year}}</div><!-- /.ng-bindingYear -->
                    </div><!-- /.statistics-totalTable__cols -->
                    <div class="statistics-totalTable__cols">
                        <div class="binding">{{Total(2, 2).total2}}</div>
                        <div class="bindingYear">{{Total(2, 2).year}}</div><!-- /.ng-bindingYear -->
                    </div><!-- /.statistics-totalTable__cols -->
                </div><!-- /.row -->
            </div>
        </div>
    </div>
</div>

<div id="templateForPrinting">
    <div class="showPrintElement" style="display: none; font-size:32px;color: #abb9bb;">@ViewBag.companyName</div>
    <div class="showPrintElement" style="display: none;font-size: 17px;color: #abb9bb;">CAMPUS CONFIDENTIAL ANALYTICS</div>
    <div class="showPrintElement" style="display: none;font-size: 17px;color: #abb9bb;">@_today</div>
    <div class="case-MainContent-Header__leftTitle paddingTopForPrint30" style="display: none;">
        CACS Report
    </div>
</div>