@using EC.Models;
@using EC.Models.ECModel;
@using EC.Models.Database;
@using System.Data;
@using EC.App_LocalResources;
@{

    <link rel="stylesheet" href="~/Content/styleAnalitics.css" />

    ViewBag.Title = GlobalRes.Analytics;
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    int user_id = (Int32)ViewBag.user_id;
    ReportModel rm = new ReportModel();
    int companyId = ViewBag.um._user.company_id;
    int[] _today_spanshot = ViewBag._today_spanshot;
    int[] _month_end_spanshot = ViewBag._month_end_spanshot;
    int difference = 0;

    //  DataTable _dtSecondaryTypes = ViewBag._dtSecondaryTypes;
    //  DataTable _dtCompanyRelationships = ViewBag._dtCompanyRelationships;

    //var _dtCompanyLocationReport = ViewBag._dtCompanyLocationReport;
    //var _dtCompanyDepartmentReport = ViewBag._dtCompanyDepartmentReport;

    string _today = ViewBag._today;

    //int[] _company_average_days = ViewBag._company_average_days;
    //int[] _average_stage_days = ViewBag._average_stage_days;

    string[] _titleHeaderLegend = { "New Report", "Report Review", "Under Investigation", "Awaiting Sign-Off", "Closed" };
 ///   string[] _miniSquareColor = {"#c0ece8", "#82dad0", "#44c8b9", "#44c8b9", "#e5eeee" };
    string[] _miniSquareColor = { "#d47472", "#ff9b42", "#3099be", "#64cd9b", "#e5eeee" };

    //var _dtAnalyticsTimeline = ViewBag._dtAnalyticsTimeline;
}

@*<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>*@

<!-- Include Date Range Picker -->
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/jquery.daterangepicker.min.js"></script>
<link rel="stylesheet" href="~/Libs/nvd3/build/nv.d3.min.css">

<link href="~/Content/daterangepickerAnalit.css" rel="stylesheet" />

<input type="hidden" id="companyId" value="@companyId" />
<input type="hidden" id="user_id" value="@user_id" />
<input type="hidden" id="dateStart" value="" />
<input type="hidden" id="dateEnd" value="" />

<input type="hidden" id="step1_delay" value="@ViewBag.step1_delay" />
<input type="hidden" id="step2_delay" value="@ViewBag.step2_delay" />
<input type="hidden" id="step3_delay" value="@ViewBag.step3_delay" />
<input type="hidden" id="step4_delay" value="@ViewBag.step4_delay" />

<style>
    #menu a {
        max-width: 500px;
    }
</style>

<div class="blockSettings blockAnalitics">
    @Html.Partial("~/Views/Analytics/AnalyticsMenu.cshtml")

    <!--work-->
    <div class="dropDownMenuRow">
        <div class="container">
            <div class="parentClass">
                <div class="menuItem">
                    <div class="positionText">
                        <span class="dropMenuText">@GlobalRes.Department</span>
                        <img src="~/Content/img/arrowSelect.png" />
                    </div>
                    <ul class="menuUl">
                        @if (ViewBag.dropDownFirst != null && ViewBag.dropDownFirst.Count > 0)
                        {
                            foreach (Tuple<string, string> tuple in ViewBag.dropDownFirst)
                            {
                                <li>
                                    <div class="liItem" value="@tuple.Item2" nameDropdown="ReportsDepartmentIDStringss">
                                        <div class="checked">
                                            <img class="logo" src="~/Content/img/check.png" />
                                        </div>
                                        <span class="positionText liText">
                                            @tuple.Item1
                                        </span>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="parentClass">
                <div class="menuItem">
                    <div class="positionText">
                        <span class="dropMenuText">@GlobalRes.Location</span>
                        <img src="~/Content/img/arrowSelect.png" />
                    </div>
                    <ul class="menuUl">
                        @if (ViewBag.dropDownSecond != null && ViewBag.dropDownSecond.Count > 0)
                        {
                            foreach (Tuple<string, string> tuple in ViewBag.dropDownSecond)
                            {
                                <li>
                                    <div class="liItem" value="@tuple.Item2" nameDropdown="ReportsLocationIDStrings">
                                        <div class="checked">
                                            <img class="logo" src="~/Content/img/check.png" />
                                        </div>
                                        <span class="positionText liText">
                                            @tuple.Item1
                                        </span>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="parentClass">
                <div class="menuItem">
                    <div class="positionText">
                        <span class="dropMenuText">@GlobalRes.IncidentType</span>
                        <img src="~/Content/img/arrowSelect.png" />
                    </div>
                    <ul class="menuUl">
                        @if (ViewBag.dropDownThird != null && ViewBag.dropDownThird.Count > 0)
                        {
                            foreach (Tuple<string, string> tuple in ViewBag.dropDownThird)
                            {
                                <li>
                                    <div class="liItem" value="@tuple.Item2" nameDropdown="ReportsSecondaryTypesIDStrings">
                                        <div class="checked">
                                            <img class="logo" src="~/Content/img/check.png" />
                                        </div>
                                        <span class="positionText liText">
                                            @tuple.Item1
                                        </span>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="parentClass">
                <div class="menuItem">
                    <div class="positionText">
                        <span class="dropMenuText">Reporter Type</span>
                        <img src="~/Content/img/arrowSelect.png" />
                    </div>
                    <ul class="menuUl">
                        @if (ViewBag.dropDownFourth != null && ViewBag.dropDownFourth.Count > 0)
                        {
                            foreach (Tuple<string, string> tuple in ViewBag.dropDownFourth)
                            {
                                <li>
                                    <div class="liItem" value="@tuple.Item2" nameDropdown="ReportsRelationTypesIDStrings">
                                        <div class="checked">
                                            <img class="logo" src="~/Content/img/check.png" />
                                        </div>
                                        <span class="positionText liText">
                                            @tuple.Item1
                                        </span>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="daterange menuItem">
                <div class="positionText">
                    <span class="dropMenuText">Date range</span>
                    <img src="~/Content/img/arrowSelect.png" />
                </div>
                <input id="daterange" type="text" style="display: none" name="daterange" value="01/01/2015 - 01/31/2015" />
            </div>
        </div>
    </div>


    <!--end work-->
    <div class="borderAnalit">

        <div class="container">
            <div class="filter">
                <table>
                    <tbody>
                        <tr>
                            <td class="filterUp">Search:</td>
                            <td>
                                <table id="filterTable"></table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- /.container -->

        <div class="container">
            <div class="contentSettings contentActivity">
                <!-- 1 All cases -->
                <div class="blockAllCases">
                    <div class="headerBlockActivity">
                        <div class="titleBlock">@GlobalRes.Allcases</div>
                        @for (var i = 0; i < 5; i++)
                    {
                    <div class="itemLegend">
                        <div class="miniSquare" style="background-color: @_miniSquareColor[i];"></div>
                        <span>@_titleHeaderLegend[i]</span>
                    </div>
                    }
                    </div>

                    <div id="chartContainer"></div>
                </div>
                <!-- 2 Today -->
                <div class="blockToday">
                    <div class="headerBlockActivity">
                        <div class="titleBlock">@GlobalRes.Number_cases_stage: @_today</div>
                        <div class="blockTodayContant">
                            <div class="itemLegend">
                                <div class="headerLegend">
                                    <div class="miniSquare" style="background-color: #abb9bb;"></div>
                                    <span>@GlobalRes.Spam</span>
                                </div>
                                <div class="contentLegend">
                                    <label>@_today_spanshot[5]</label>
                                </div>
                            </div>
                            @for (var i = 0; i < 5; i++)
                        {
                            //      if (i != 4)
                            {
                        <div class="itemLegend">
                            <div class="headerLegend">
                                <div class="miniSquare" style="background-color: @_miniSquareColor[i];"></div>
                                <span>@_titleHeaderLegend[i]</span>
                            </div>
                            <div class="contentLegend">
                                <label>@_today_spanshot[i]</label>


                            </div>
                        </div>
                            }
                        }

                        </div>
                    </div>

                </div>
                <!-- 3 Average -->

                <div class="blockAverage">
                    <!--work begin-->
                    <div class="titleBlock">@GlobalRes.AverageNumberDaysPerStage</div>
                    <div class="wrapper wrapperSpec">
                        <table class="table">
                            <tr>
                                <td colspan="4" class="headerBorder"></td>
                                <td></td>
                                <td>
                                    @*<div class="parentDivHeader"><div class="headerBrown">2<span class="specialBorder">&nbsp;</span></div></div>*@
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td>
                                    <!--<div class="base"><div class="letters">21</div></div>-->
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    @*<div class="parentDivHeader"><div class="headerBrown" style="right:-10px">21<span class="specialBorder" style="left: 8px;">&nbsp;</span></div></div>*@
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    @*<div class="base greyBase"><div class="letters">28</div></div>*@
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">Report Review</td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4">Investigation</td>
                                <td></td>
                                <td></td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <!--6-->
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <!--16-->
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="4">Sign-Off</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td>
                                    @*<div class="parentDiv">
                                        <div class="brownDiv"></div>
                                    </div>*@
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </table>
                    </div>
                    <div class="addTheLegend">
                        <div class="containerCenter">
                            <table>
                                <tr>
                                    <td><img src="~/Content/img/cutImage.jpg" /></td>
                                    <td class="text">Stage overdue / Stage within Deadline</td>
                                    <td><span class="square"></span></td>
                                    <td class="text">Alloted Days per Stage</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="base">

                    </div>
                </div>
                <!-- 4 Departments & Locations -->
                <div class="bigBlock">
                    <!-- 4_1 Departments -->
                    <div class="blockDepartments">
                        <div class="headerBlockActivity">
                            <div class="titleBlock">@GlobalRes.Departments</div>
                        </div>
                        <div style="width: 100%; display: table;">
                            <div id="containerDepartments" class="containers" style="height: 250px; width: 95%; margin-left: 5%;"></div>
                        </div>
                    </div>
                    <!-- 4_2 Locations -->
                    <div class="blockLocationsAN">
                        <div class="headerBlockActivity">
                            <div class="titleBlock">@GlobalRes.Locations</div>
                        </div>
                        <div style="width: 100%; display: table;">
                            <div id="containerLocation" class="containers" style="height: 250px; width: 95%; margin-left: 5%;"></div>
                        </div>

                    </div>
                </div>

                <!-- 5 Type of incident & Reporter -->
                <div class="bigBlock">
                    <!-- 5_1 Type of incident -->
                    <div class="blockTypeOfIncident">
                        <div class="headerBlockActivity">
                            <div class="titleBlock">
                                @GlobalRes.Typeofincident
                                <button type="button" id="blockTypeOfIncidentPrint" class="btn-linkReverse">Print</button>
                            </div>
                        </div>
                        <div style="width: 100%; display: table;">
                            <div id="containerTypesOfIncident" class="containers" style="height: 250px; width: 95%; margin-left: 5%;"></div>
                        </div>
                        <!--allBlockLines-->
                    </div>
                    <!-- 5_2 Reporter -->
                    <div class="blockReporter">
                        <div class="headerBlockActivity">
                            <div class="titleBlock">@GlobalRes.TypeOfReporter</div>
                        </div>

                        <div style="width: 100%; display: table;">
                            <div id="containerTypeOfReporter" class="containers" style="height: 250px; width: 95%; margin-left: 5%;"></div>
                        </div>
                    </div>


                </div>
            </div><!--contentSettings-->
        </div>
    
    </div>
</div><!--end blockSettings blockAnalitics-->
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<script type='text/javascript' src="https://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
@*<script type='text/javascript' src="https://cdn3.devexpress.com/jslib/13.1.5/js/dx.chartjs.js"></script>*@
<script type='text/javascript' src="https://cdn3.devexpress.com/jslib/18.1.3/js/dx.all.js"></script>

@*<script src="~/Scripts/Chart.min.js"></script>*@
<script>
    $(document).ready(function () {

        //START Open mini menu for mobile
        function blockActivityHeight() {
            if ($('#menu').height() < 50) {
                $('.positionActivityIcon').height(89);
            }
            else {
                $('.positionActivityIcon').height($('#casesHeared').height());
            }
        }
        $('.mainTitle').click(function () {
            $('.mainTitle + div').toggle();
            blockActivityHeight();
        });
        //var data =@*Html.Raw(_dtAnalyticsTimeline);*@
        //$("#chartContainer").dxChart({
        //    dataSource: data,
        //    series: [
        //        {
        //            argumentField: 'month',
        //            valueField: 'pending',
        //            type: 'area',
        //            color: '#D6F9F6'
        //        },
        //        {
        //            argumentField: 'month',
        //            valueField: 'review',
        //            type: 'area',
        //            color: '#c0ece8'
        //        },
        //        {
        //            argumentField: 'month',
        //            valueField: 'investigation',
        //            type: 'area',
        //            color: '#82dad0'
        //        },
        //        {
        //            argumentField: 'month',
        //            valueField: 'resolution',
        //            type: 'area',
        //            color: '#44c8b9'
        //        },
        //        {
        //            argumentField: 'month',
        //            valueField: 'closed',
        //            type: 'area',
        //            color: '#e5eeee',
        //            opacity: '0.8'/*,
        //            hoverMode: "none"*/
        //        }
        //    ],
        //    legend: { visible: false },
        //    argumentAxis: {
        //        valueMarginsEnabled: false
        //    }
        //});
    });
</script>
<script src="~/Scripts/updateAjax.js"></script>