@using EC.Models;
@using EC.Models.ECModel;
@using EC.Models.Database;
@using EC.App_LocalResources;
@{

    <link rel="stylesheet" href="~/Content/styleAnalitics.css" />

    ViewBag.Title = "Analytics";
    Layout = "~/Views/Shared/IndexPages/LayoutCasesNewReport.cshtml";
    int user_id = (Int32)ViewBag.user_id;
    ReportModel rm = new ReportModel();
    var _dtAnalyticsTimeline = ViewBag._dtAnalyticsTimeline;
}

<div class="blockSettings blockAnalitics">
    <div id="casesHeared">
        <div id="menu">
            <h2 class="mainTitle">@GlobalRes.Menu:</h2>
            <div>
                <a class="caseesTab">@GlobalRes.Cases</a>
                <a href="/Analitics/Tasks" class="caseesTab">@GlobalRes.Tasks</a>
                <a href="/Analitics/Mediators" class="caseesTab active">Mediators</a>
            </div>
        </div>
       @* <div class="positionActivityIcon">
                <div id="activityIcon"></div>
            </div>*@
        </div><!--casesHeared-->


        <div class="contentSettings contentActivity">
            <!-- 1 All cases -->
            <div class="blockAllCases">
                <div class="headerBlockActivity">
                    <div class="titleBlock">@GlobalRes.Allcases</div>
                </div>

                <div id="chartContainer" style="width: 90%; height: 300px; margin: auto;"></div>
            </div>
            <!-- 2 Today -->
            <div class="blockToday">
                <div class="headerBlockActivity">
                    <div class="titleBlock">@GlobalRes.Today: April 29, 2015</div>
                </div>

            </div>
            <!-- 3 Average -->
            <div class="blockAverage">
                <div class="headerBlockActivity">
                    <div class="titleBlock">Average # of days per stage</div>
                </div>

            </div>
            <!-- 4 Departments & Locations -->
            <!-- 4_1 Departments -->
            <div class="blockDepartments">
                <div class="headerBlockActivity">
                    <div class="titleBlock">Departments</div>
                </div>

            </div>
            <!-- 4_2 Locations -->
            <div class="blockLocations">
                <div class="headerBlockActivity">
                    <div class="titleBlock">Locations</div>
                </div>

            </div>
            <!-- 5 Type of incident & Reporter -->
            <!-- 5_1 Type of incident -->
            <div class="blockTypeOfIncident">
                <div class="headerBlockActivity">
                    <div class="titleBlock">Type of incident</div>
                </div>

            </div>
            <!-- 5_2 Reporter -->
            <div class="blockReporter">
                <div class="headerBlockActivity">
                    <div class="titleBlock">Reporter</div>

                </div>

            </div>


        </div><!--contentSettings-->

    </div>

    @*<script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>*@
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.js'></script>
<script type='text/javascript' src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
<script type='text/javascript' src="http://cdn3.devexpress.com/jslib/13.1.5/js/dx.chartjs.js"></script>
<script src="~/Scripts/Chart.min.js"></script>
<script>
    $(document).ready(function () {

        //START Open mini menu for mobile
        function blockActivityHeight() {
            if ($('#menu').height() < 50) {
                $('.positionActivityIcon').height(89);
            }
            else {
                $('.positionActivityIcon').height($('#casesHeared').height());
            }
        }
        $('.mainTitle').click(function () {
            $('.mainTitle + div').toggle();
            blockActivityHeight();
        });
        //----------------END Open mini menu for mobile---------------------------



        var data = [
    { month: '', review: 0, investigation: 0, resolution: 0, escalation: 0, closed: 0 },
    { month: 'January', review: 3, investigation: 2.5, resolution: 2, escalation: 1.5, closed: 1 },
    { month: 'February', review: 5.5, investigation: 4, resolution: 3.5, escalation: 3, closed: 2 },
    { month: 'March', review: 6, investigation: 5.5, resolution: 5, escalation: 5, closed: 2.5 },
    { month: 'April', review: 8.5, investigation: 7, resolution: 6, escalation: 4.5, closed: 3 },
    { month: 'May', review: 9, investigation: 6, resolution: 5, escalation: 4, closed: 3 },
    { month: 'June', review: 7, investigation: 5, resolution: 4, escalation: 3.5, closed: 3.5 },
    { month: 'July', review: 8, investigation: 5, resolution: 3, escalation: 2, closed: 3 },
    { month: 'August', review: 10, investigation: 8, resolution: 9, escalation: 7, closed: 4 },
    { month: 'September', review: 9, investigation: 8, resolution: 6, escalation: 5, closed: 4 },
    { month: 'October', review: 10, investigation: 10, resolution: 7, escalation: 6, closed: 4 },
    { month: 'November', review: 13, investigation: 12, resolution: 11, escalation: 10, closed: 8 },
    { month: 'December', review: 14.5, investigation: 13, resolution: 12, escalation: 10, closed: 9 }
        ];

        data = @Html.Raw(_dtAnalyticsTimeline);
        $("#chartContainer").dxChart({
            dataSource: data,
            series: [
                {
                    argumentField: 'month',
                    valueField: 'review',
                    type: 'area',
                    color: '#c0ece8'
                },
                {
                    argumentField: 'month',
                    valueField: 'investigation',
                    type: 'area',
                    color: '#82dad0'
                },
                {
                    argumentField: 'month',
                    valueField: 'resolution',
                    type: 'area',
                    color: '#44c8b9'
                },
                {
                    argumentField: 'month',
                    valueField: 'escalation',
                    type: 'area',
                    color: '#05b5a2'
                },
                {
                    argumentField: 'month',
                    valueField: 'closed',
                    type: 'area',
                    color: '#e5eeee',
                    opacity: '0.8'
                }
            ],
            legend: { visible: false },
            argumentAxis: {
             valueMarginsEnabled: false//,
            //        label: {
            //  overlappingBehavior: 'stagger'
            //        }

             }
        });
    });


</script>