@using EC.Localization;
@using EC.Models;
@using EC.Models.Database;
@using EC.Constants;

@{
    string Res_or_comp = ViewBag.Res_or_comp;
    string overlay_title = ViewBag.overlay_title;
    string textbox_title = ViewBag.textbox_title;
    string normal_button_promotion = ViewBag.normal_button_promotion;
    string normal_button_value = ViewBag.normal_button_value;
    int investigationstatus = (int)ViewBag.investigationstatus;

    string left_button_promotion = ViewBag.left_button_promotion; // @LocalizationGetter.GetString("Returnnvestigation", is_cc).ToUpper()
    string left_button_value = ViewBag.left_button_value;

    List<company_outcome> _all_outcomes = ViewBag.company_outcomes;
    int report_id = ViewBag.report_id;
    if (ViewBag.report_id == null)
    {
        report_id = 0;
    }
    //ReportModel rm = new ReportModel(report_id);
    bool? is_cc = ViewBag.is_cc;
    if (!is_cc.HasValue)
    {
        is_cc = false;
    }

    string same_mediator_warning = LocalizationGetter.GetString("AddFurtherNotes", is_cc);
    var user_id = ViewBag.user_id;
    //if (rm != null && user_id == rm.Last_investigation_status_user_id())
    //{
    //   same_mediator_warning = LocalizationGetter.GetString("RecommendSecond1", is_cc) + " " + LocalizationGetter.GetString("RecommendSecond2", is_cc);
    //}
}

@*
    <div id="openModal" class="modal case-modal">
        <a href="#" class="closeLink modal-close" rel="modal:close"></a>
        <div class="case-modal__title">Case Closure Report</div><!-- /.modal-title -->

        <p>Case Closure Request was sent for approval.</p>
        <div class="case-modal__selectRow clearfix">
            <div class="case-modal__selectRow-title">
            </div><!-- /.case-modal__selectRow-title -->
            <div class="case-modal__selectRow-selectric">
                <div class="select-container case-modal__selectContainer ddlSignOffMediator">
                </div>
            </div><!-- /.case-modal__selectRow-selectric -->
        </div><!-- /.case-modal__selectRow -->
        <div class="case-modal__linkBlockBottom clearfix">
            <a href="#approveDialog" rel="modal:open" id="approve_close" class="case-modal__linkBtn whiteBtn" value="@normal_button_value">APPROVE</a>
            <a href="#approveDialog" rel="modal:open" id="return_investigation" class="case-modal__linkBtn whiteBtn" value="@normal_button_value">RETURN FOR INVESTIGATION</a>
        </div><!-- /.case-modal__linkBlockBottom -->
    </div>
*@

<script>
    $(document).ready(function () {
        $("#return_investigation").on('click', function (el) {
            $("#approveDialog").toggle();

            $("#approveDialog .case-modal__title").text('RETURN FOR INVESTIGATION')
            $("#txtEscalate").attr('placeholder', "@Html.Raw(LocalizationGetter.GetString("AddReasonWhy", is_cc))");
            $("#escalate_btn").text("@Html.Raw(LocalizationGetter.GetString("Returnnvestigation", is_cc))");
            $("#escalate_btn").val(3);
            $("#_overlay_title").text("@Html.Raw(LocalizationGetter.GetString("Returnnvestigation", is_cc))");
            $("#textbox_title").text("@Html.Raw(LocalizationGetter.GetString("AddReasonWhy", is_cc))");
        });
        $("#approve_close").on('click', function (el) {
            $("#approveDialog").toggle();

            $("#approveDialog .case-modal__title").text('APPROVE')
            $("#txtEscalate").attr('placeholder', "@Html.Raw(same_mediator_warning)");
            $("#escalate_btn").text("@Html.Raw(LocalizationGetter.GetString("CloseCaseUp", is_cc))");
            $("#escalate_btn").val(9);
            $("#_overlay_title").text("@Html.Raw(LocalizationGetter.GetString("CloseCaseUp", is_cc))");
            $("#textbox_title").text("@Html.Raw(same_mediator_warning)");
        });
    });
</script>