@using EC.App_LocalResources;
@using EC.Models;
@using EC.Models.Database;
@using EC.Constants;

@{
    string Res_or_comp = ViewBag.Res_or_comp;
    string overlay_title = ViewBag.overlay_title;
    string textbox_title = ViewBag.textbox_title;
    string normal_button_promotion = ViewBag.normal_button_promotion;
    string normal_button_value = ViewBag.normal_button_value;
    int investigationstatus = (int)ViewBag.investigationstatus;

    string left_button_promotion = ViewBag.left_button_promotion; // @GlobalRes.Returnnvestigation.ToUpper()
    string left_button_value = ViewBag.left_button_value;

    GlobalFunctions glb = new GlobalFunctions();
    List<company_outcome> _all_outcomes = ViewBag.company_outcomes;
    ReportModel rm = ViewBag.rm;
    bool is_cc = ViewBag.is_cc;

}
<div id="anotherDialog">
    <div id="anotherDialog2">
        <div id="dialog-form">
            <div class="modal-header2">
                <div class="resolve">@overlay_title</div>
                <label class="close1"></label>
                <div class="closeIcon" onclick='overlay()'></div>
            </div>
            @if (overlay_title == GlobalRes.ReopenCase)
            {
                <div>&nbsp;</div>
                <div>@GlobalRes.AddReasonWhy</div>
                <div class="caseResolution">
                    <textarea class="form-control" type="text" name="txtDescription" id="txtDescription"></textarea>
                </div>
            }
            @if (((normal_button_value == ECGlobalConstants.investigation_status_resolution.ToString())))
            {
                <div class="caseResolution custom">
                    <div class="outcomeText">@GlobalRes.SelectCaseReviewerToSignoff:</div>
                    <div class="dropdown3">
                        <label id="ddlSignOffMediator" data-value="">@GlobalRes.Selectanoption</label><span class="arrow-down"></span>
                        <ul>
                            @foreach (user _user in rm._mediators_whoHasAccess_toReport.Where(t => t.role_id == 4))
                            {
                                <li data-value=@_user.id>@_user.first_nm @_user.last_nm</li>
                            }
                        </ul>
                    </div>
                </div>
                <div>&nbsp;</div>

                <div class="caseResolution custom">
                    <div class="outcomeText">@GlobalRes.ReasonForCaseClosure:</div>
                    <div class="dropdown3">
                        <label id="ddlReasonClosure" data-value="">@GlobalRes.Selectanoption...</label><span class="arrow-down"></span>
                        <ul>
                            @foreach (case_closure_reason _reason in glb.GetCaseClosureReasonsWithStatus())
                            {
                                <li data-value=@_reason.id>@_reason.case_closure_reason_en</li>
                            }
                        </ul>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="caseResolution custom">
                    <div class="outcomeText">@GlobalRes.SuggestedOutcomeUp:</div>
                    <div class="dropdown2">
                        <label id="ddlOutcome" data-value="">@GlobalRes.Selectanoption</label><span class="arrow-down"></span>
                        <ul>
                            @foreach (company_outcome _outcome in _all_outcomes)
                            {
                                <li data-value=@_outcome.id>@_outcome.outcome_en</li>
                            }
                        </ul>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="resolve">@GlobalRes.CaseClosureReport:</div>

                <div>&nbsp;</div>
                <div>@GlobalRes.ExecutiveSummary:</div>

                <div class="caseResolution">
                    <textarea class="form-control" type="text" name="txtExecutiveSummary" id="txtExecutiveSummary"></textarea>
                </div>
                <div>@GlobalRes.FactsEstablished:</div>

                <div class="caseResolution">
                    <textarea class="form-control" type="text" name="txtFactsEstablished" id="txtFactsEstablished"></textarea>
                </div>
                <div>@GlobalRes.InvestigationMethodology:</div>

                <div class="caseResolution">
                    <textarea class="form-control" type="text" name="txtInvestigationMethodology" id="txtInvestigationMethodology"></textarea>
                </div>
                <div>@GlobalRes.DescriptionOutcome:</div>

                <div class="caseResolution">
                    <textarea class="form-control" type="text" name="txtDescriptionOutcome" id="txtDescriptionOutcome"></textarea>
                </div>
                <div>@GlobalRes.RecommendedActions:</div>

                <div class="caseResolution">
                    <textarea class="form-control" type="text" name="txtRecommendedActions" id="txtRecommendedActions"></textarea>
                </div>

                if (is_cc)
                {
                    <div class="caseResolution custom">
                        <div class="outcomeText">@GlobalRes.IsCleryActCrime:</div>
                        <div class="dropdown3">
                            <label id="rblIsCleryActCrime" data-value="">@GlobalRes.Selectanoption</label><span class="arrow-down"></span>
                            <ul>
                                @foreach (case_closure_reason _reason in glb.GetCaseClosureReasonsWithStatus())
                                {
                                    <li data-value=@_reason.id>@_reason.case_closure_reason_en</li>
                                }
                            </ul>
                        </div>
                    </div>

                        <div class="caseResolution custom">
                            <div class="outcomeText">@GlobalRes.CategoriesCrimeStatistics:</div>
                            <div class="dropdown3">
                                <label id="ddlCrimeStatistics" data-value="">@GlobalRes.Selectanoption</label><span class="arrow-down"></span>
                                <ul>
                                    @foreach (case_closure_reason _reason in glb.GetCaseClosureReasonsWithStatus())
                                    {
                                        <li data-value=@_reason.id>@_reason.case_closure_reason_en</li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="caseResolution custom">
                            <div class="outcomeText">@GlobalRes.CategoriesGeographicLocations:</div>
                            <div class="dropdown3">
                                <label id="ddlGeographicLocations" data-value="">@GlobalRes.Selectanoption</label><span class="arrow-down"></span>
                                <ul>
                                    @foreach (case_closure_reason _reason in glb.GetCaseClosureReasonsWithStatus())
                                    {
                                        <li data-value=@_reason.id>@_reason.case_closure_reason_en</li>
                                    }
                                </ul>
                            </div>
                        </div>
                }


            }
            <div class="modal-footer2">
                @if (normal_button_promotion.Length > 0)
                {
                    @*<button type="submit" class="btn btn-sm btn-success" id="resolve_btn" value=@normal_button_value>@normal_button_promotion.ToUpper()</button>*@
                    <button type="submit" id="resolve_btn" class="btn btn-sm btn-success" value=@normal_button_value>@normal_button_promotion.ToUpper()</button>
                }
                @if (left_button_promotion.Length > 0)
                {
                    <button type="submit" class="btn btn-sm btn-white" id="not_resolve_btn" value=@left_button_value>@left_button_promotion.ToUpper()</button>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var selectedItem = "";
        $("#ddlOutcome").on("click", function (event) {
            var temp = $(event.currentTarget);
            temp.siblings('ul').slideDown(300);
        });

        $(".dropdown2 li").on("click", function (event) {
            var temp = $(event.currentTarget);
            var allOptions = temp.parents('ul ');
            allOptions.find('li').removeClass('selected');
            temp.addClass('selected');
            $(".dropdown2 #ddlOutcome").html(temp.text());
            $(".dropdown2 #ddlOutcome").attr('data-value', temp.attr('data-value'));
            $(".dropdown2 ul").slideUp();
        });

        $("#ddlReasonClosure").on("click", function (event) {
            var _temp = $(event.currentTarget);
            _temp.siblings('ul').slideDown(300);
        });

        $(".dropdown3 li").on("click", function (event) {
            var temp = $(event.currentTarget);
            var _allOptions = temp.parents('ul ');
            _allOptions.find('li').removeClass('selected');
            temp.addClass('selected');
            $(".dropdown3 #ddlReasonClosure").html(temp.text());
            $(".dropdown3 #ddlReasonClosure").attr('data-value', temp.attr('data-value'));
            $(".dropdown3 ul").slideUp();
        });


        $("#anotherDialog .close1").on('click', function () {
            $("#anotherDialog").toggle();
        });
        var button = "";
        $("#not_resolve_btn").on('click', function (event) {
            button = $(event.currentTarget).val();
            sendAjax(button);
        });
    });
</script>