<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    @*<link href="~/Content/fonts.css" rel="stylesheet" type="text/css">*@
    <title>@ViewBag.Title - Employee Confidential</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    @*<link rel="stylesheet" type="text/css" href="~/Content/bStart">
    <link rel="stylesheet" type="text/css" href="~/Content/aStart.css">    ---*@

    @*   @Styles.Render("~/Content/Styles")*@
    <script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
    @RenderSection("pageStyles", required: false)
    <!--<link rel="stylesheet" type="text/css" href="~/Content/main.min.css" />-->
    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 467767562]);
        (function () {
            function ldinsp() { if (typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
            setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
        })();
    </script>
    <!-- End Inspectlet Embed Code -->
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-54295621-1', 'auto');
    ga('send', 'pageview');

    </script>

    <script src="~/Libs/angular/angular.min.js"></script>
    <script src="~/Libs/angular-http/angular-http.js"></script>
    <script src="~/Libs/angular-resource/angular-resource.min.js"></script>
    <script src="~/Libs/angular-animate/angular-animate.min.js"></script>
    <script src="~/Libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="~/Libs/angular-nvd3/dist/angular-nvd3.min.js"></script>
    <script src="~/Libs/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="~/Libs/angular-ui-calendar/src/calendar.js"></script>

    <script src="~/Scripts/dis.js"></script>
</head>
<body ng-app="EC">
<div class="fullContainer">
    @RenderBody()
</div>

    <div class="footer" style="height:150px">
        
    </div>
@RenderSection("pageScripts", required: false)
</body>


</html>
